.btn-link {
  color: #1b73f9;
  cursor: pointer;
}
* {
  font-family: Cardium B-Regular;
}
.btn-iniciar-sesion {
  background: #1b73f9;
  color: #fff;
  font-family: Cardium A-Bold;
  font-size: 18px;
  padding: 9px;
}
.title {
  font-family: Cardium A-SemiBold;
  font-size: 26px;
}
.label-text {
  font-family: Cardium B-Medium;
  font-size: 16px;
}
.group-border {
  border-right: 0px;

  background: #fff;
}
.input-border {
  border-left: 0px;
}
input {
  font-size: Cardium B-Regular;
}
.acceso-rapido-text {
  font-family: Cardium B-Medium;
  font-size: 13px;
}
.link-text {
  font-family: Cardium B-Regular;
  font-size: 14px;
}
.link-crear {
  font-family: Cardium A-SemiBold;
  font-size: 16px;
}
