<div class="card">
  <form [formGroup]="formB.formPagar">
    <div class="row mx-auto">
      <!-- NOMBRES COMPLETOS -->
      <div class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mt-3 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlNombre" class="form-label">Nombres</label>
        <input type="text" class="form-control" id="formControlNombre" formControlName="Nombres"
          placeholder="Nombres Completos">
        <app-form-errors-container [forControl]="formB.formPagar.get('Nombres')">
          <app-message-error forErrorCode="required"></app-message-error>
          <app-message-error forErrorCode="pattern" customMsg="Debe tener solo letras"></app-message-error>
        </app-form-errors-container>
      </div>
      <!-- APELLIDOS -->
      <div
        class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mt-xl-3 mt-xxl-3 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlApellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="formControlApellidos" formControlName="Apellidos"
          placeholder="Apellidos Completos">
        <app-form-errors-container [forControl]="formB.formPagar.get('Apellidos')">
          <app-message-error forErrorCode="required"></app-message-error>
          <app-message-error forErrorCode="pattern" customMsg="Debe tener solo letras"></app-message-error>
        </app-form-errors-container>
      </div>
      <!-- CORREO ELECTRONICO -->
      <div class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlCorreo" class="form-label">Correo</label>
        <input type="email" class="form-control" id="formControlCorreo" formControlName="correo"
          placeholder="example@example.com">
        <app-form-errors-container [forControl]="formB.formPagar.get('correo')">
          <app-message-error forErrorCode="required"></app-message-error>
          <app-message-error forErrorCode="email"></app-message-error>
        </app-form-errors-container>
      </div>
      <!-- CELULAR -->
      <div class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlCelular" class="form-label">Celular</label>
        <div class="input-group">
          <select class="form-select" aria-label="Default select example" formControlName="code_phone">
            <!--  <option *ngFor="let codigoPais of arrayCodigosPaises" [value]="codigoPais.code_Phone">
                + &nbsp;{{codigoPais.code_Phone}}
            </option> -->
            <option selected [value]="codigo_phone">+593</option>
          </select>
          <input type="text" class="form-control w-50" maxlength="10" id="formControlCelular"
            formControlName="cliente_phone" placeholder="Celular">
          <app-form-errors-container [forControl]="formB.formPagar.get('cliente_phone')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="pattern" customMsg="Debe tener solo números"></app-message-error>
            <app-message-error forErrorCode="minlength" customMsg="Máximo 10 caracteres"></app-message-error>
          </app-form-errors-container>
        </div>
      </div>
      <!-- CEDULA -->
      <div class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlIdentificacion" class="form-label">Cédula</label>
        <input type="text" maxlength="10" class="form-control" id="formControlIdentificacion"
          formControlName="identificacion" placeholder="0999999999">
        <app-form-errors-container [forControl]="formB.formPagar.get('identificacion')">
          <app-message-error forErrorCode="required"></app-message-error>
          <app-message-error forErrorCode="pattern" customMsg="Debe tener solo números"></app-message-error>
          <app-message-error forErrorCode="minlength" customMsg="Máximo 10 caracteres"></app-message-error>
        </app-form-errors-container>
      </div>
      <!-- DIRECCION -->
      <div class="col-xxl-6 col-xl-6 col-sm-6 col-12 col-md-6 mb-2 mb-xxl-3 mb-xl-3 py-xxl-3 py-xl-3 py-3">
        <label for="formControlDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="formControlDireccion" formControlName="direccion_entrega"
          placeholder="Dirección">
        <app-form-errors-container [forControl]="formB.formPagar.get('direccion_entrega')">
          <app-message-error forErrorCode="required"></app-message-error>
          <app-message-error forErrorCode="pattern" customMsg="No debe tener caracteres especiales">
          </app-message-error>
        </app-form-errors-container>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-xxl-4 col-xl-5 col-md-5 col-sm-12 col-12 mt-xl-4 mt-xxl-4 mt-sm-4 mt-4">
    <h4 class="direccion-envio">Dirección de Envío</h4>
  </div>
  <div class="col-xxl-7 col-xl-8 col-md-9 col-sm-12 col-12 mt-xl-4 mt-xxl-4 mt-md-4">
    <p class="ubicacion-mapa">Escoge tus ubicaciones</p>
  </div>
</div>
<div class="card mt-3">
  <app-ubicacion-product [formGroup]="formB.formPagar"></app-ubicacion-product>
</div>
