* {
  font-family: Cardium B-Medium;
}

.modal-body {
  text-align: justify;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.178);
}
.form-check-label {
  font-family: Cardium B-Regular;
  font-size: 16px;
}
