.color-select {
  background-color: rgba(43, 44, 68, 0.925);
  color: #fff;
}
* {
  font-family: Cardium B-Medium;
}
.color-article {
  background-color: #7549fe;
  color: #fff;
}
.cursor-item {
  cursor: pointer;
}
.border-bottom {
  background: white;
  border-left: 1px;
}
.input-border{
  border-right: 0px;
}
