.group-border {
  background: #fff;
  border-right: 0px;
}

.input-border {
  border-left: 0px;
  border-right: 0px;
}
* {
  font-family: Cardium B-Medium;
  background: #fff;
}

.estilo-text {
  font-weight: 600;
  font-size: 28px;
}

.estilo-subtitle {
  font-weight: 300;
  font-size: 20px;
  margin-top: -13px;
}

.btn-estilos {
  background: #0075ff;
  color: #fff;
}
.btn-estilos:hover {
  background: #0567d6;
  color: #fff;
}
.bg-body {
  z-index: 10;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.178);
}

.group-border-left {
  cursor: pointer;
}
