* {
  font-family: Cardium B-Medium;
}
.color-select {
  background-color: rgba(43, 44, 68, 0.925);
  color: #fff;
}
.color-article {
  background-color: #7549fe;
  color: #fff;
}
.cursor-item {
  cursor: pointer;
}
.display-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.responsive-autocomplete {
  width: 55rem;
  max-width: 95%;
}
.zIndex {
  z-index: 10;
  height: 206px;
  overflow: auto;
  border-radius: 0px;
  border-top: 0px;
}
.zIndex-2 {
  z-index: 10000;
  height: 124px;
  border-radius: 0px;
  border-top: 0px;
}
.zIndex-3 {
  z-index: 10000;
  border-radius: 0px;
  border-top: 0px;
  height: 42px;
}
.zIndex-4 {
  z-index: 10000;
  border-radius: 0px;
  border-top: 0px;
  height: 84px;
}

.zIndex::-webkit-scrollbar {
  width: 8px;
  height: 15px;
  border: 0px;
}

.zIndex::-webkit-scrollbar-track {
  background-color: transparent;
}
.zIndex::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
}

#datalistOptions {
  background-color: #7549fe;
}
.border-bottom {
  background-color: #fff;
  border-left: 0px;
}
.input-border {
  border-right: 0px;
  border-radius: 0px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
/* RESPONSIVE EL AUTOCOMPLETADO */
@media screen and (min-width: 300px) and (max-width: 461px) {
  .responsive-autocomplete {
    width: 100% !important;
  }
}

@media screen and (min-width: 460px) and (max-width: 539px) {
  .responsive-autocomplete {
    width: 100% !important;
  }
}

@media screen and (min-width: 540px) and (max-width: 819px) {
  .responsive-autocomplete {
    width: 100% !important;
  }
}

@media screen and (min-width: 820px) and (max-width: 1109px) {
  .responsive-autocomplete {
    width: 70% !important;
  }
  .display-flex {
    justify-content: start;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .responsive-autocomplete {
    width: 75% !important;
  }
  .display-flex {
    justify-content: start;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1290px) {
  .responsive-autocomplete {
    width: 89% !important;
  }
  .responsive-links {
    margin-top: 6px;
  }
  .form-select {
    font-size: 0.815rem;
    font-weight: 400;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2200px) {
  .responsive-autocomplete {
    width: 6rem;
    width: 100% !important;
  }
}
