<form [formGroup]="formB.formSearchProducts" (ngSubmit)="buscarProducts();">
  <div class="input-group">
    <select class="form-select" formControlName="categoria" aria-label="Default select example">
      <option class="color-select" value="" selected>Todas las categorías</option>
      <option value="{{categoria.id}}" class="color-select" *ngFor="let categoria of categoriaItems">
        {{categoria.name}}</option>
    </select>

    <div class="w-75 responsive-autocomplete">
      <div class="position-relative">
        <input type="text" class="form-control input-border" formControlName="nombre" placeholder=""
          aria-label="Username" aria-describedby="basic-addon1" autocomplete="off" />
        <div class="position-absolute bg-white w-100 zIndex list-group" [class.zIndex-2]="listSearchProduct.length===3"
          [class.zIndex-3]="listSearchProduct.length===1" [class.zIndex-4]="listSearchProduct.length===2"
          *ngIf="listSearchProduct.length>0">
          <button type="button" (click)="consultar(product)" *ngFor="let product of listSearchProduct let i=index;"
            [value]="product" class="list-group-item list-group-item-action cursor-item">{{product}}</button>
        </div>
      </div>
    </div>

    <button class="input-group-text border-bottom" id="basic-addon1" type="submit">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M0 8.60081C0 3.85071 3.85071 0 8.6008 0C13.3509 0 17.2016 3.85071 17.2016 8.60081C17.2016 13.3509 13.3509 17.2016 8.6008 17.2016C3.85071 17.2016 0 13.3509 0 8.60081ZM8.6008 1.91129C4.90628 1.91129 1.91129 4.90629 1.91129 8.60081C1.91129 12.2953 4.90628 15.2903 8.6008 15.2903C12.2953 15.2903 15.2903 12.2953 15.2903 8.60081C15.2903 4.90628 12.2953 1.91129 8.6008 1.91129Z"
          fill="#353535" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M13.6975 13.6975C14.0707 13.3243 15.2744 13.9227 15.6476 14.2959L19.4701 18.1185C19.8433 18.4917 19.8433 19.0968 19.4701 19.47C19.0969 19.8432 18.4918 19.8432 18.1186 19.47L14.2961 15.6474C13.9229 15.2742 13.3243 14.0707 13.6975 13.6975Z"
          fill="#353535" />
      </svg>
    </button>

  </div>
</form>
