<section class="container-fluid">
  <div class="row col-xxl-10 col-xl-10 col-md-10 col-sm-10 col-10">
    <button class="btn btn-dark mb-3 btn-lg" (click)="addCarrito(productoObjeto);">Añadir al carrito</button>
  </div>
  <div class="row">
    <div class="col-xxl-5 col-xl-5 col-md-5 col-sm-5 col-5 p-0 columns">
      <button class="btn btn-secondary-colors mb-3" (click)="comprarProduct(productoObjeto)">Comprar</button>
    </div>
    <div class="col-xxl-5 col-xl-5 col-md-5 col-sm-5 col-5">
      <button class="btn btn-secondary-colors mb-3" (click)="addList(productoObjeto);">Lista de deseos</button>
    </div>
  </div>
</section>
