<app-menu-index></app-menu-index>

<app-adn-cerrar-sesion></app-adn-cerrar-sesion>
<app-seccion-adn [NombreUbicacion]="'Editar Productos'" [ruta]="ruta"></app-seccion-adn>

<app-progress-edit [progressArray]="arrayProgress" [widthBarra]="70"></app-progress-edit>


<section class="container border-0 card bg-white rounded">
  <app-primer-edit [hidden]="arrayProgress[0].disabled" [idProduct]="idProduct" [productEdit]="productEdit"></app-primer-edit>
  <app-segundo-edit [hidden]="arrayProgress[1].disabled" [productEdit]="productEdit"></app-segundo-edit>
</section>


<app-footer-index></app-footer-index>
