.footer-color {
  background-color: #7549fe;
  color: aliceblue;
}
.btn-color {
  background-color: #7549fe;
  color: #fff;
  border: 1px solid #fff;
}
.btn-color:hover{
  background-color: #5937c2;
  color: #fff;
  border: 1px solid #fff;
}
