<ng-container [formGroup]="formGroup">
  <div class="col-xxl-10 col-xl-10 col-md-10 col-sm-12 col-11 mx-xl-2 mx-xxl-2 mx-md-2 mt-3 mb-3 mx-3">
    <span class="mensaje-ayuda">Escoge la direccion para enviarte tu compra, si no tienes registrado
      tus direcciones, haz
      click <span class="clickAqui cursor" (click)="irADireccion()">aquí.</span></span>
    <!-- GRUPO FORMULARIO PARA BUSCAR -->
    <div class="input-group mt-3">
      <input type="text" class="form-control borders-input" aria-label="Text input with dropdown button"
        formControlName="nombreUbicacion" (focus)="abrirMenuKey();"
        placeholder="Busca tus direcciones" [title]="formGroup.get('nombreUbicacion')?.value">
      <span (click)="abrirMenu()" class="border-button cursor"><svg width="20" height="40" viewBox="0 0 12 5"
          fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.17954 1.79715C7.48173 1.51386 7.49704 1.03923 7.21374 0.737044C6.93044 0.43486 6.45581 0.41955 6.15363 0.702847L7.17954 1.79715ZM3.99992 3.75L3.48696 4.29715C3.77546 4.56762 4.22438 4.56762 4.51287 4.29715L3.99992 3.75ZM1.84621 0.702847C1.54402 0.41955 1.0694 0.43486 0.786099 0.737045C0.502801 1.03923 0.518112 1.51386 0.820296 1.79715L1.84621 0.702847ZM6.15363 0.702847L3.48696 3.20285L4.51287 4.29715L7.17954 1.79715L6.15363 0.702847ZM4.51287 3.20285L1.84621 0.702847L0.820296 1.79715L3.48696 4.29715L4.51287 3.20285Z"
            fill="black" />
        </svg></span>
    </div>
    <div class="list-group mb-3" [ngClass]="habilitar?'active':'noActive'">
      <!-- RECORRIENDO EL ARRAY DE DIRECCIONES -->
      <div *ngFor="let list of arrayDirecciones | filterubicacion:formGroup.get('nombreUbicacion')?.value"
        [ngClass]="habilitar?'showList':'hiddenList'" (click)="agregarDireccion(list)">
        <p class="text-nombre-direccion text-truncate" [title]="list.calle">{{list.nombre}} - {{list.calle}}</p>
      </div>
      <!-- SI NO HAY DIRECCION -->
      <ng-container
        *ngIf="(arrayDirecciones | filterubicacion:formGroup.get('nombreUbicacion')?.value).length <= 0 && arrayDirecciones.length>0">
        <span class="text-center mb-3 mt-3">No hay registro de esa dirección</span>
      </ng-container>
      <span class="showList cursor" (click)="irADireccion()"><span class="nameDireccion color-direccion">Agregar nueva
          ubicación</span></span>
    </div>
  </div>
</ng-container>
