<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 py-3">
      <div class="card card-border">
        <div class="container-fluid mt-3 mx-4">
          <div class="row mx-4">
            <div class="col-md-6 mt-2">
              <img src="{{imgOferta1}}" alt="img-ofertas-1">
            </div>
            <div class="col-md-6 mt-2">
              <img src="{{imgOferta2}}" alt="img-ofertas-2">
            </div>
            <div class="col-md-6 mt-2 py-4">
              <img src="{{imgOferta3}}" alt="img-ofertas-3">
            </div>
            <div class="col-md-6 mt-2 py-4">
              <img src="{{imgOferta4}}" alt="img-ofertas-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
