<h1 class="text-title ">4. TÉRMINOS Y CONDICIONES DE SERVICIO DE ANUNCIOS Y PUBLICIDAD</h1>
<p class="text-parrafo">Los términos y condiciones del acuerdo de servicio de anuncios y publicidad regulan el uso de
  los servicios publicitarios de Puertto, para anunciar sus productos en nuestra página y/o filiales. Estos términos y
  condiciones de actualizarán en cualquier momento de conformidad con los términos del mismo, sin embargo, se deberá
  firmar un Acuerdo separado y complementario, el mismo que se encuentra disponible en “Acuerdo de Publicidad de
  Puertto”, En caso de cualquier conflicto entre el Acuerdo de los servicios empresariales de puertto entre las partes,
  demás políticas de Puertto y similares, con respecto al presente punto de los términos y condiciones de servicio de
  anuncios y publicidad, servicios publicitarios de Puertto, demás políticas de Puertto y similares, prevalecerá el
  Acuerdo de Publicidad de Puertto en aquello que corresponda. Si el Acuerdo de Publicidad de Puertto se declarase
  ilegal, nulo o por cualquier motivo inaplicable, prevalecerá y regirán su acceso y uso de los Servicios Publicitarios,
  haciendo uso del Acuerdo de los servicios empresariales de puertto entre las partes las Condiciones Generales y los
  términos y condiciones del acuerdo de servicio de anuncios y publicidad.</p>
<h1 class="text-title">5. TÉRMINOS Y CONDICIONES DEL SERVICIO DE PROCESAMIENTO DE PAGOS</h1>
<p class="text-parrafo">El registro o uso de cualquier servicio de Puertto es una aceptación intrínseca y tácita de los
  términos y condiciones del servicio de procesamiento de pagos, independientemente a la nulidad o cancelación de otros
  servicios que ofrezca Puertto, prevalecerán estos términos y condiciones.</p>
<h3 class="text-subtitle">5.1. Nombramiento de procesador de pagos</h3>
<h4 class="text-subtitle">5.1.1. Transacciones de pedidos aun no facturados</h4>
<p class="text-parrafo">Cuando un cliente hace una compra de productos, le notificamos a usted la confirmación del pago
  del mismo, desde ese punto, Puertto o usted ejecutan el despacho y envío del producto al destino final, y como tal,
  aun no se ha facturado el producto al cliente, es tan solo cuando el cliente confirma la recepción satisfactoria del
  producto cuando se realiza la facturación del mismo, ante lo expuesto, usted acepta y autoriza a Puertto y sus
  operadores como su agente y representante, de y para, los procesos de pagos, reembolsos, ajustes a sus transacciones,
  recibir y guardar los Ingresos por ventas en representación suya, enviar los ingresos por ventas a su CB, realizar
  cargos a su TC para pagar a Puertto, sus filiales, ADO y similares, todas las cantidades que usted adeude en términos
  del presente Acuerdo u otros acuerdos que puedan existir entre usted y Puertto sus filiales, ADO y similares.</p>
<h3 class="text-subtitle">5.1.2. Transacciones de pedidos facturados</h3>
<p class="text-parrafo">Cuando el cliente confirma la recepción satisfactoria del producto se realiza la facturación del
  mismo, ante lo expuesto, usted acepta y autoriza a Puertto y sus operadores para, (a) actuar como su agente y
  representante para efectos de procesar pagos, reembolsos y ajustes para sus transacciones, recibir y retener ganancias
  de las ventas en su representación; y (b) para actuar como su agente y representante para efectos de, remitir los
  valores de las ventas a su CB menos los pagos que deba realizar a Puertto, realizar cargos a su TC y pagar a Puertto,
  sus filiales, ADO y similares, todas las cantidades que usted adeude en términos del presente Acuerdo u otros acuerdos
  que puedan existir entre usted y Puertto sus filiales, ADO y similares. Puertto en forma de procesador de pagos
  proporciona los servicios descritos en este punto, así como, los servicios relacionados en los puntos dos, uno, seis
  (2.1.6); dos, tres (2.3); dos, seis (2.6); y, tres, cuatro (3.4), de forma conjunta con el “Servicio de procesamiento
  de pagos”.
</p>
<p class="text-parrafo">
  La recepción satisfactoria del producto de un cliente representa de forma tácita la aprobación de pago al ADN y una
  instrucción clara para su ejecución, pero el cliente es quien debe aprobar dicha condición, si este no confirma la
  recepción satisfactoria del producto, significa que no aprueba el pago al ADN, sin embargo, si no ejecuta ninguna
  acción por un periodo de hasta 5 días, se dará como entendido la recepción satisfactoria del producto, y como tal, la
  aprobación de pago al ADN y una instrucción clara para su ejecución, ante lo expuesto, usted acepta que el cliente
  como el comprador de sus productos nos autoriza y ordena realizar el pago a usted como el ADN vendedor, menos
  cualquier cargo aplicable u otros montos que podamos recaudar en virtud de este Acuerdo; de forma complementaria usted
  acuerda que los compradores cumplen con sus obligaciones ante usted, en virtud de sus transacciones al momento en que
  nosotros recibimos los ingresos por las ventas generadas, y que nosotros enviaremos los fondos a usted de conformidad
  con el presente Acuerdo.
</p>
<h3 class="text-subtitle">5.2. Transferencia de los ingresos por ventas</h3>
<p class="text-parrafo">Puertto y sus operadores como agente y representante de pagos, sujeto al punto uno, dos (1.2),
  remitiremos los fondos de conformidad con el punto dos, seis (2.6), de forma conjunta con el “Servicio de
  procesamiento de pagos” y es obligación de Puertto como agente y representante de pagos remitir a usted los fondos
  cobrados, recibidos o abonados de un cliente, de otra manera, se sumará su saldo disponible de Puertto en relación con
  sus transacciones, siempre que dicha herramienta o servicio se haya puesto a su disposición de conformidad con el
  presente Acuerdo, menos los montos adeudados a Puertto por cobros de suscripción, tarifas fijas o cualquier otro que
  hayamos de calcular en Puertto, además de lo dispuesto en el punto tres, ocho (3.8) y lo que se especifique en
  nuestras políticas relativas y otras como, a reembolsos de cargos indebidos, anulaciones o retenciones debido a
  reclamos anticipados de conformidad con el presente Acuerdo, y sin limitación de los derechos de Puertto de cobrar
  cualquiera monto que usted nos deba.
</p>
<p class="text-parrafo">
  La recepción de los valores generados por las ventas de sus productos, la remisión de valores o el abono de los mismos
  a su saldo disponible de Puertto, no tiene ni genera cargos ni costos adicionales, comisiones aplicables u otros
  montos, salvo los cobrados por agentes externos como bancos, emisores de TC, la pasarela de pago y equivalentes, en
  virtud del presente Acuerdo en la medida que dichos valores recibidos o abonados sean iguales o excedan las
  comisiones, tarifas y otros montos que usted adeude a Puertto.</p>
<h3 class="text-subtitle">5.3. Fondos en la cuenta del vendedor</h3>
<p class="text-parrafo">Los valores que se generen por sus ventas en la página de Puertto y filiales, se retendrán en
  Puertto y sus operadores como agente y representante de pagos, y se mostrarán en Central ADN, como la “Cuenta del
  vendedor” hasta la que se haya dado la confirmación del cliente de la recepción satisfactoria del producto y como tal,
  la aprobación de pago al ADN, posterior a lo cual, se reflejará en el “Saldo disponible en Puertto”, una vez que se
  hayan calculado sus pagos a Puertto remitiremos los fondos a su CB destinada para ese fin. Ni Puertto o sus operadores
  son una institución financiera, bancaria o similar, por lo que los valores generados por sus ventas

</p>
<p class="text-parrafo">no están asegurados por las leyes y normas de la Superintendencia de Bancos del Ecuador y
  equivalentes, ni seguros de
  depósitos por parte de Puertto, y usted no tiene ningún derecho o privilegio de cobrarnos valores relativos, para
  solventar esto, Puertto hace uso de entidades bancarias reguladas y avaladas por el marco legal ecuatoriano.
</p>
<p class="text-parrafo">
  Antes de remitir los fondos de su saldo disponible a su CB, Puertto podría combinar sus ingresos por ventas retenidos
  con los fondos de otros usuarios de los servicios en Puertto, para ser invertidos o utilizados para otros fines
  permitidos por las leyes aplicables. Ni Puertto o sus operadores son una agencia financiera, bancaria ni captadores de
  fondos, por lo que no pagamos intereses sobre su saldo disponible en Puertto, de la misma manera, ni Puertto ni sus
  operadores somos sus socios en cualquier actividad ajena al propósito del presente Acuerdo, y como tal, usted no
  recibirá, ni tiene derecho de ninguna otra ganancia o beneficio que no esté relacionado a sus ingresos por las ventas
  que usted realice en la página de Puertto.</p>
<p class="text-parrafo">
  Salvo que lo requiera la ley y se de una sentencia ejecutable, en los casos, aunque poco probables de quiebra,
  liquidación o similar, o por cualquier otro motivo, ni Puertto o sus operadores utilizaremos de manera deliberada los
  fondos de su saldo disponible en Puertto, ni pondremos los fondos de su saldo disponible en Puertto, a disposición de
  sus acreedores de manera voluntaria.</p>
<h3 class="text-subtitle">5.4. Verificación de datos</h3>
<p class="text-parrafo">
  A través de los operadores de Puertto, podremos solicitar que usted nos proporcione cualquier información financiera,
  comercial o personal que requiramos para verificar su identidad. De la misma manera a través del presente Acuerdo con
  sus términos y definiciones, usted nos autoriza para que de forma ocasional y cuando Puertto lo considere necesario, a
  consultar y obtener reportes de crediticios de usted, así como, de sus clientes a nombre en nombre suyo, a través de
  los operadores de Puertto, con el fin de actualizar su cuenta de ADN vendedor o en caso de que surjan controversias
  relacionadas con el presente Acuerdo o la actividad bajo su cuenta de ADN vendedor. Usted acuerda actualizar la
  información de su cuenta ADN de manera inmediata en el supuesto de generarse cambios en sus datos.
</p>
<h3 class="text-subtitle">5.5. Cuentas inactivas</h3>
<p class="text-parrafo">En caso que determinemos que no haya actividad en su cuenta de ADN vendedor durante un periodo
  mayor a 60 días y nosotros retengamos los ingresos por ventas hechas en su nombre, Puertto le notificará por los
  medios que escojamos, la opción de conservar su cuenta de ADN vendedor abierta y conservar los ingresos generados por
  sus ventas en su cuenta de ADN vendedor, en caso de que usted no responda a nuestra(s) notificación(es) dentro del
  plazo que especifiquemos y seamos incapaces de comunicarnos con usted, nosotros enviaremos dichos valores a nuestra
  cuenta de “Salvaguardia de ADN” con una asignación a su nombre, y serán depositados en cuentas de plazo fijo en una
  institución financiera ecuatoriana que Puertto determine como la mejor opción para dicho menester, y usted podrá
  solicitar la entrega de esos valores en cualquier momento y Puertto podrá tomarse el periodo que Puertto estime como
  necesario para ejecutar dicha solicitud, sin perjuicio a las partes; los beneficios y rentabilidad que se generen de
  este escenario se sujetan a lo expuesto en el punto cinco, tres (5.3) del presente Acuerdo.</p>
<h1 class="text-title">6. Exoneración</h1>
<p class="text-parrafo">Usted de forma personal y en nombre y representación de cualquier sucesor, subsidiarias,
  filiales, funcionarios, administradores, accionistas, empleados, cesionarios y cualquier otra persona física o moral
  que reclame por, o a través de ellos, en virtud de ellos o de común acuerdo con ellos de forma conjunta, exoneran de
  cualquiera y todos los reclamos, obligaciones, exigencias, causas de acción, demandas, daños, pérdidas, deudas o
  derechos de cualquier tipo o naturaleza, ya sean conocidos o desconocidos, sospechados o insospechados, absolutos o
  contingentes, devengados o no devengados, determinados o especulativos a Puertto y a cada una y a cualquiera y todos
  nuestros predecesores, sucesores y Filiales, pasados y presentes, así como a cada uno de nuestros socios,
  funcionarios, administradores, accionistas, representantes, empleados, apoderados, mandatarios y cesionarios, pasados
  y presentes, y cada uno de ellos y todas las Personas que actúen por ellos, a través de ellos, en virtud de ellos o de
  común acuerdo con ellos de forma irrevocable y reconocen su plena y total satisfacción incondicional.</p>
<h1 class="text-title">7. Disposiciones varias</h1>
<p class="text-parrafo">El idioma original del presente Acuerdo y de la documentación adicional o asociada es español y
  las traducciones que se acompañen servirán sólo para facilitar su comprensión. En el caso de que surja un conflicto o
  diferencias en la interpretación de la versión en español del presente Acuerdo y de la documentación adicional o
  asociada y su traducción, prevalecerá la versión y la interpretación español.
</p>
<p class="text-parrafo">
  Usted acepta que el presente acuerdo no se puede ceder a terceras partes sin consentimiento previo por escrito de
  Puertto, incluso mediante el uso de la ley o de otra forma no contemplada, cualquier cesión o transferencia viola este
  Acuerdo y como tal es nulo; si usted solicita la cesión o transferencia total o parcial del presente Acuerdo y esta es
  aprobada por Puertto, usted en virtud del presente Acuerdo, será el responsable de las obligaciones que hayan surgido
  antes de la fecha de entrada en vigor de la cesión o transferencia. Por otra parte, usted acepta que podamos ceder o
  transmitir nuestros derechos y obligaciones bajo este Acuerdo (a) en relación con una fusión, consolidación,
  adquisición o venta de todos o substancialmente todos nuestros activos o transacciones similares; o (b) a cualquier
  filial o como parte de una reorganización corporativa; y efectiva a partir de dicha cesión, el cesionario se considera
  sustituido por Puertto como parte de este Acuerdo. En virtud de dicha restricción, el presente Acuerdo será
  vinculante, tendrá efecto y será ejecutable para las partes y sus respectivos sucesores y cesionarios.
</p>
<p class="text-parrafo"> Puertto se reserva el derecho de detener inmediatamente cualquier transacción, de impedir o
  restringir el acceso a los
  Servicios o de emprender cualquier otra acción para restringir el acceso o la disponibilidad de los listados de
  productos inexactos, los artículos clasificados de forma incorrecta, los artículos ilícitos o cualquier otro artículo,
  prohibido o restringido de otro modo por las políticas de la empresa. En virtud del presente Acuerdo, los cambios
  relativos a este y otros Acuerdos, políticas, condición, protocolo, procedimiento, instrucción o cualquier otra
  variable, se notificarán en Central ADN, así como, en la página de Puertto aplicable al que se refieren los cambios,
  el envío de una notificación por correo electrónico o por medios similares de forma individual o colectiva según
  aplique. Central ADN es el destino para el envío de todas sus notificaciones y comunicaciones relacionadas con
  Puertto, donde nuestro equipo de soporte puede atender sus requerimientos, de igual manera, usted puede hacerlo por
  correo electrónico, formulario de contacto o medios similares. Usted autoriza a Puertto y su equipo humano de Puertto
  a comunicarse con usted en relación con sus anuncios, ventas y servicios, por vía electrónica y a través de otros
  medios. Usted podrá cambiar sus direcciones de correo electrónico actualizando su información en Central ADN, así
  como, su razón social, su dirección y su número de teléfono, tantas veces como sea necesario para garantizar que sean
  exactas.
</p>
<p class="text-parrafo">
  Si cualquier estipulación en el presente Acuerdo fuese ilegal, nula, o por cualquier razón inejecutable, dicha
  estipulación se entenderá como no puesta en los presentes términos y condiciones y no afectará a la validez y la
  ejecución del resto de las estipulaciones. El presente Acuerdo, representan el Acuerdo total existente entre las
  partes en relación con los Servicios y las cuestiones relacionadas descritas en el mismo, y sustituye a todos los
  Acuerdos y compromisos orales o escritos anteriores o actuales.
</p>
<p class="text-parrafo">
  Nosotros somos responsables ni lo haremos en el futuro de cualquier obligación con ningún almacenista, depositario o
  cualquier similar, y usted renuncia a cualquier derecho y recurso de depositante o almacenista, ya sea por derecho,
  ley o cualquier otro, en relación de posesión o cualquier otro derivado de ello, con relación al almacenamiento o
  envío de sus productos, ya sea, hecho por nosotros, a nuestras filiales o cualquier otro aliado o asociado de negocios
  de Puertto, así como su equipo humano.</p>
<h1 class="text-title">8. Controversias</h1>
<p class="text-parrafo">En caso de que cualquier disposición del presente Acuerdo sea considerada ilegal, nula o, por
  cualquier razón, inaplicable, no afectará al resto de términos y condiciones del mismo, y no afectará la validez y
  ejecutabilidad del resto de las disposiciones del presente Acuerdo, el cual será valido de forma independiente a las
  disposiciones observadas. Usted acepta que en caso de controversia el país elegido para la resolución absoluta e
  irrevocable de la misma es Ecuador en su Legislación Aplicable, sin que sean aplicables leyes, normas, reglamentos y
  demás de otros países, salvo que Puertto decida ejecutar la resolución de dicha controversia en otro país. Lo expuesto
  en el presente Acuerdo se norma y rige por la legislación del Ecuador y toda controversia que derive de su aplicación,
  interpretación, ejecución o validez será resuelta por los jueces ordinarios competentes en la ciudad de Guayaquil.

</p>
<p class="text-parrafo">
  En Puertto estamos comprometidos en evitar la violación u otro uso indebido de derechos de propiedad intelectual y no
  promovemos su ejecución, por lo que podremos iniciar cualquier reclamo o acción legal relacionado con la oferta o
  venta de productos falsificados a través de nuestra plataforma de comercio electrónico o tiendas físicas</p>
<h1 class="text-title">9. Aceptación de los términos del Acuerdo.</h1>
<p class="text-parrafo">Usted acepta de forma expresa que tiene plena capacidad legal para usar la plataforma de Puertto
  y los servicios que Puertto ofrece, en conformidad con las leyes ecuatorianas y extensiones internacionales detalladas
  en el presente documento, así como, declara que toda la información que suministra es real, precisa, completa y veraz.

</p>
<p class="text-parrafo">
  Usted acepta y declara haber leído de forma inequívoca y que ha entendido lo expresado en este Acuerdo, sus términos y
  condiciones, independientemente de su país de origen desde donde haya de usar la plataforma de Puertto, por lo que se
  compromete a cumplir de forma absoluta con los deberes, obligaciones, acciones y omisiones contenidas en el presente
  Acuerdo.</p>


<h1 class="text-title">Referencias del contenido</h1>
<p class="text-parrafo">
  • ADN: Acrónimo que se refiere al asociado de negocios, que es una persona natural o jurídica
  que se ha suscrito a Puertto y sus filiales, el cual, oferta y publica a través de la plataforma web de comercio
  electrónico de Puertto sus bienes y/o productos a los clientes. Esta definición puede tan solo referirse al dueño,
  creador, propietario, representante o delegado de una marca, el cual colabora en las publicaciones, información,
  control y demás tareas administrativas asociadas a las marcas con Puertto, así como, puede vender sus productos a
  través de Puertto.
</p>
<p class="text-parrafo">
  • ADN vendedor: Acrónimo derivado del ADN que se refiere al asociado de negocios que vende, que es una persona natural
  o jurídica que se ha suscrito a Puertto y oferta, publica y vende a través de la plataforma web de comercio
  electrónico de Puertto sus bienes y/o productos a los clientes.
</p>
<p class="text-parrafo">
  <b>• ADO:</b> Acrónimo que se refiere al aliado de operaciones de Puertto, se refiere a cualquier persona natural o
  jurídica
  que brinde productos o servicios a Puertto que permiten la capacidad operativa de Puertto y sus servicios de forma
  complementaria, parcial o total.
</p>
<p class="text-parrafo">
  <b>• Clientes:</b> es una persona natural o jurídica que usa la plataforma web de comercio electrónico de Puertto para
  buscar
  y adquirir los bienes y/o productos de consumo que ofertan los ADN a través de Puertto, Puertto y sus filiales.
</p>

<p class="text-parrafo">
  <b>• Comercio Electrónico:</b> término que explica y consiste en la transmisión, almacenamiento, envío y recepción de
  datos
  por vía electrónica, con la finalidad de adquirir productos y bienes de una plataforma web comercio electrónico.
</p>
<p class="text-parrafo">
  <b> • Contenido:</b> se refiere cualquier obra registrable en los términos de la ley aplicable, y aquel que está
  protegido por
  derechos de autor, bases de datos y más bajo la legislación aplicable.
</p>
<p class="text-parrafo">
  <b>• Acuerdo:</b> el término acuerdo se refiere a un contrato entre el ADN, ADN vendedor y Puertto.
</p>
<p class="text-parrafo">
  <b>• Acuerdo CVE:</b> es un contrato de compra y venta electrónico celebrado entre el ADN vendedor y los Clientes, por
  intermedio de la plataforma web de comercio electrónico de Puertto y sus filiales, donde los primeros ofertan y venden
  sus bienes o productos y los clientes se obligan a realizar un pago por el precio estipulado. Este pago puede
  realizarse de forma directa al ADN o a la plataforma web de comercio electrónico de Puertto, según el servicio que se
  ofrezca, este mismo término puede ser usado para la relación comercia entre Puertto y el ADN cuando hayan de realizar
  operaciones comerciales.
</p>
<p class="text-parrafo">
  <b>• Central ADN:</b> se refiere a los portales y herramientas electrónicas que Puertto pone a la disposición de sus
  usuarios, para que tramite sus pedidos, inventario y presencia en una página de Puertto o cualquier otro punto de
  presencia electrónico.
</p>

<p class="text-parrafo">
  <b>• Cookies:</b> es un término que define a uno o más archivos de datos creados virtualmente por la Plataforma y
  guardados
  en el ordenador y/o dispositivo móvil del ADN y de los Clientes, para la consulta de las actividades que realizan en
  la plataforma y para almacenar las preferencias de los usuarios en la página web.

</p>
<p class="text-parrafo">
  <b>• Costo de envío:</b> se refiere a la tarifa o valores que se cobra por el servicio de envío o transporte de los
  productos
  y/o bienes solicitados y legalmente adquiridos, para ser entregados en una dirección específica, acorde con la
  información registrada por el cliente o Puertto.

</p>
<p class="text-parrafo">
  <b>• Datos personales:</b> información que identifica a una persona natural, directa o indirectamente. \

</p>
<p class="text-parrafo">
  <b>• Despacho:</b> se refiere al momento, fecha o periodo en el que los productos o pedidos empiezan su envío, se
  entregan a
  Puertto, una compañía de transporte, mensajería o cualquier similar.

</p>
<p class="text-parrafo">
  <b>• Equipo humano:</b> se refiere al grupo humano que labora en o para una empresa, incluyendo a los accionistas,
  directivos, asesores, empleados y agentes u otros asociados, es posible aplicarlo en función de Puertto o cualquier
  otra persona.
</p>


<p class="text-parrafo">
  <b>• Filial:</b> término que usamos para establecer una relación con cualquier entidad otra entidad que directa o
  indirectamente controle, sea controlada por o esté bajo el control común con dicha entidad de Puertto y sus
  operadores.
</p>
<p class="text-parrafo">
  <b>• Fecha de Envío:</b> se refiere periodo de disponibilidad de envío, el mismo que comienza en la fecha en la que el
  pedido
  es solicitado por el cliente.
</p>
<p class="text-parrafo"><b>• Información Confidencial:</b> se refiere a cualquier información relacionada a Puertto y su
  equipo
  humano, los servicios
  brinda Puertto o los que recibe en relación a los ADN, ADO, clientes y usuarios de Puertto, que sea desconocida para
  el público en general, incluyendo, de manera enunciativa mas no limitativa, cualquier información que identifique o
  sea exclusiva de clientes específicos; informes, perspectivas y otra información acerca de los servicios y/o datos
  derivados, salvo la información que surja de la venta de sus productos, conformada por productos vendidos, precios,
  ventas, volúmenes y hora de la transacción, especificaciones técnicas u operativas relacionadas con los Servicios.
  Para efectos del presente Acuerdo, los datos personales constituyen Información confidencial en todo momento y no se
  incluye como información disponible acerca de los servicios y/o datos derivados bajo ningún argumento.
</p>
<p class="text-parrafo"><b>• Información de pedido:</b> se refiere la información sobre el pedido y envío que nosotros
  le
  proporcionemos o pongamos a
  su disposición sobre un producto, así como la que podamos solicitar.
</p>
<p class="text-parrafo">
  <b>• Interacción en la plataforma:</b> se refiere a uso de la plataforma web de comercio electrónico de Puertto y sus
  filiales, por parte de los ADN para cargar, ofertar y vender sus productos y servicios, mientras que por parte de los
  clientes se refiere a la capacidad de navegar, buscar y adquirir dichos bienes los productos y servicios que se
  ofrecen en la plataforma web de comercio electrónico de Puertto y sus filiales.
</p>
<p class="text-parrafo">
  <b>• Ley:</b> se refiere a cualquier ley, ordenanza, reglamento, regla, orden, licencia, permiso, resolución, decisión
  o
  cualquier otro con vigencia actual o futura, de cualquier autoridad gubernamental local e internacional de una
  jurisdicción competente.
</p>
<p class="text-parrafo"><b>• Material:</b> se refiere al término solo cuando se hace uso de propiedad, como “su
  material”, lo
  que significa toda la
  tecnología, sus marcas comerciales, contenido, información de su producto, datos, materiales y otros elementos o
  información proporcionada o puesta a disposición por usted o sus filiales a Puertto y a sus filiales.</p>
<p class="text-parrafo">
  <b>• Marca comercial:</b> se refiere a cualquier marca comercial, marca de servicios, imágenes de marca, nombre
  comercial,
  logotipo o distintivo patentado o cualquier otra fuente e identificadores de negocio protegidos o no por la Ley.
</p>
<p class="text-parrafo">
  <b>• Marcadores URL:</b> se refiere cualquier marca comercial o cualquier otro logotipo, nombre, frase, identificador
  o
  cadena de caracteres que contenga o incorpore cualquier dominio de nivel superior genérico como .com, .edu, .ca, .fr,
  .jp o cualquier variación de un dominio de nivel superior genérico como dot com, dotcom, net, o com, además de
  cualquier otra variación, quedando a criterio de Puertto su interpretación.
</p>
<p class="text-parrafo">
  <b>• Nosotros:</b> se refiere a Puertto y su operador de forma individual y/o conjunta, y aplica a todos las
  conjugaciones
  del mismo.
</p>
<p class="text-parrafo">
  <b>• Operador:</b> se refiere a las compañías PRESTTO S.A. y LUGUISA CONSTRUCCIONES S.A. que de forma individual y/o
  conjunta, indistintamente, son las encargadas de administrar operativa y funcionalmente la plataforma. El operador de
  la plataforma podrá designar a una persona natural o jurídica para que ejerza dichas funciones de administración.
</p>

<p class="text-parrafo">
  <b> • Página:</b> se refiere a las páginas web de las la plataforma web de comercio electrónico de Puertto
  www.puertto.com y
  todos sus derivados, filiales, como un conjunto de información que se encuentra en una dirección determinada
  subdeterminada de internet, el término aplica a otros sitios o plataformas web que no son parte de Puertto o sus
  filiales siempre que se encuentre en contexto.
</p>
<p class="text-parrafo">
  <b> • Paquete de servicio:</b> se refiere a un conjunto de servicios que Puertto ofrece en su plataforma web de
  comercio
  electrónico, tales como, el manejo de la información, procesos administrativos, ventas, logística, entre otros.
</p>
<p class="text-parrafo">
  <b> • Pasarela de pagos:</b> se refiere al servicio brindado a través de medios electrónicos, que permite la
  realización de
  pagos por parte de los clientes directamente a LUGUISA CONSTRUCCIONES S.A. utilizando plataformas tecnológicas
  (software) que Puertto decida.
</p>
<p class="text-parrafo">
  <b> • Plataforma:</b> se refiere a un aplicativo web y móvil administrado por el operador de Puertto que permite el
  intercambio de oferta y demanda en un mercado digital para la compraventa de bienes y/o productos usando medios
  físicos como el de comercio Electrónico.
</p>
<p class="text-parrafo">
  <b>• Productos Excluidos:</b> se refiere a los productos que se excluyen de comercializarse en Puertto en base a las
  políticas de Puertto, lo planes o programas aplicables o cualquier otra información que Puertto pueda proveer.
</p>
<p class="text-parrafo">
  <b> • Productos y/o bienes:</b> se refiere a los bienes de consumo exhibido y ofertado a través de la plataforma web
  de
  comercio electrónico de Puertto y sus filiales.
</p>
<p class="text-parrafo"><b>• Propiedades Asociadas de Puertto:</b> se refiere a toda página de internet u otro punto de
  presencia electrónico,
  dispositivo, aplicación, servicio o funcionalidad que no sea la página web de Puertto, a través del cual puedan
  agruparse, ofrecerse, comercializarse, anunciarse o describirse cualquier página web de Puertto, los productos o
  servicios disponibles en cualquiera de éstos.</p>
<p class="text-parrafo">
  <b>• Propiedad Intelectual:</b> se refiere a cualquier patente, derechos de autor, marca comercial, nombre de dominio,
  secretos comerciales o cualquier afín propiedad intelectual derivado de cualquier ley aplicable, junto a los
  auxiliares y conexos, incluyendo registro, renovación, las acciones por violaciones, apropiación indebida o
  infracciones a las anteriores.
</p>
<p class="text-parrafo">
  <b>• Publicidad:</b> se refiere a toda forma de comunicación realizada por el operador, con el fin de brindar
  información
  sobre productos, servicios, actividades comerciales y comunicar estrategias o campañas publicitarias o de mercadeo,
  propias o de terceros; realizada como mecanismo de referencia y no como oferta pública.
</p>
<p class="text-parrafo"><b>• Puertto:</b> es una plataforma web de comercio electrónico y marca registrada propiedad de
  la
  compañía PRESTTO S.A. que
  es operada para fines comerciales por las compañías PRESTTO S.A. y LUGUISA CONSTRUCCIONES S.A. que de forma individual
  y/o conjunta, indistintamente, son las encargadas de administrar operativa y funcionalmente la Plataforma.
</p>
<p class="text-parrafo"><b>• Servicio:</b> se refiere a los servicios con tecnología aplicada ofrecidos a través de la
  plataforma web de comercio
  electrónico de Puertto y sus filiales o que esté disponible a través de esta, tales como venta, compra, pagos, envíos
  de productos, ya sean por medios propios o por servicios de terceros encargados.</p>
<p class="text-parrafo">

  <b>• Transporte:</b> se refiere al medio por el cual los productos que se venden son movilizados de un lugar
  geográfico a
  otro, y es el objeto de uso de los envíos, recogidas, despachos y afines.
</p>

<p class="text-parrafo"><b>• SAP:</b> Acrónimo que se refiere al servicio de almacenamiento de Puertto.
</p>
<p class="text-parrafo">
  <b>• SIP:</b> Acrónimo que se refiere al servicio integral de Puertto.
</p>
<p class="text-parrafo"><b>• SLP:</b> Acrónimo que se refiere al servicio de logística de Puertto.</p>
<p class="text-parrafo">
  <b>• Tecnología:</b> se refiere a ideas, procedimientos, procesos, sistemas, métodos de operación, conceptos,
  principios,
  descubrimientos protegidos o susceptibles de protección dentro del marco de la ley en cualquier jurisdicción, así como
  interfaces, protocolos, glosarios, bibliotecas, formatos XML estructurados, especificaciones, gramáticas, formatos de
  datos y otros materiales similares, programas de cómputo (software), hardware, códigos, tecnología u otros elementos
  funcionales.
</p>
<p class="text-parrafo">
  <b>• Términos y condiciones:</b> Son las normas y políticas que regulan el uso de la plataforma web de comercio
  electrónico
  de Puertto, así como, la relación libre y voluntaria entre Puertto, los ADN y los clientes. Los términos y condiciones
  son aceptados desde el momento en que los usuarios se registran en la plataforma web de comercio electrónico de
  Puertto.
</p>
<p class="text-parrafo">

  <b>• Transacción:</b> se refiere a cualquier venta de productos o servicios que el ADN ejecute a través de la
  plataforma web
  de comercio electrónico de Puertto.
</p>
<p class="text-parrafo">
  <b>• Unidad:</b> se refiere a los paquetes de productos, productos o cualquier bien que se haya de exhibir, promover,
  ofrecer, vender, o de cualquier forma comercializar en Puertto y sus filiales, y es un término usado en los servicios
  de logística y almacenamiento de Puertto y sus filiales.
</p>
<p class="text-parrafo">
  <b>• Usted:</b> se refiere a la contraparte de Puertto y es quien acuerda, firma o acepta términos, condiciones,
  políticas y
  demás de Puertto, aplica a todos las conjugaciones del mismo.
</p>
<p class="text-parrafo">
  <b>• Usuario:</b> se refiere a la persona natural o jurídica que utilice la plataforma, ya sea que se vea o no
  registrada en
  plataforma web de comercio electrónico de Puertto, en calidad de ADN o cliente.
</p>
