.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.title-cards {
  font-family: Cardium B-Bold;
}
.button-font{
  font-family: Cardium B-normal;
}
.btn-color {
  background: #7549fe;
  color: #fff;
}
