.badge-diseno {
  width: 1rem;
  height: 1rem;
  border: 1px solid #000;
  border-radius: 16px;
}
.dropdown-item {
  cursor: pointer;
}
.colorPicker {
  width: 87%;
  position: absolute;
  opacity: 0;
}
.truncate-list {
  height: 170px;
  overflow-y: auto;
}

