<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-2 mx-4">
      <div class="row">
        <div class="col-md-4">
          IMAGEn
        </div>
        <div class="col-md-7">
          Envios a todo el Ecuador
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="row">
        <div class="col-md-4">
          IMAGEn
        </div>
        <div class="col-md-8">
          Aceptamos todas las tarjetas
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="row">
        <div class="col-md-4">
          IMAGEn
        </div>
        <div class="col-md-8">
          Llama y compra al (04) 600 5454
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="row">
        <div class="col-md-4">
          IMAGEn
        </div>
        <div class="col-md-8">
          Soporte y servicio técnico online
        </div>
      </div>
    </div>
    <div class="col-md-2 mx-4">
      <div class="row">
        <div class="col-md-4">
          IMAGEn
        </div>
        <div class="col-md-7">
          Garantía 100% en devoluciones
        </div>
      </div>
    </div>
  </div>
</div>
