<header>
  <app-menu [totalProductos]="productsLength"></app-menu>
  <app-menu2></app-menu2>
</header>
<div class="container-fluid">
  <div class="row" infiniteScroll (scrolled)="onScrollDown();">
    <div class="col-xxl-4 col-sm-6 col-6 col-xl-4 col-md-4 mt-3" *ngFor="let products of productsArray">
      <div class="card border rounded">
        <img src="" class="card-img-top" alt="{{products.id}}">
        <div class="card-body">
          <p class="card-title">Nombre: {{products.name}}</p>
          <p class="card-text">PRECIO: <b>{{products.precio | currency: 'USD'}}</b></p>
          <button class="btn btn-primary" (click)="agregarAlCarrito(products.id);">Agregar al
            carrito</button>
        </div>
      </div>
    </div>
    <button *ngIf="showButton" (click)="onScrollTop()" type="button" class="buttonRegresar" data-bs-toggle="tooltip"
      data-bs-placement="top" title="Subir al inicio">⬆</button>
  </div>
</div>
