<ng-container *ngIf="arrayTable.length>0 else notData">
  <div class="table-responsive rounded bg-white mb-3 mt-3">
    <table class="table table-striped table-hover table-borderless">
      <thead class="bg-white">
        <tr class="text-center">
          <th scope="col" class="text-tamano espacios">{{HeaderTable.id_venta}}</th>
          <th scope="col" class="text-tamano espacios">{{HeaderTable.fecha_venta}}</th>
          <th scope="col" class="text-tamano espacios">{{HeaderTable.Valor_Total}}</th>
          <th scope="col" class="text-tamano espacios">{{HeaderTable.estado}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ventas of arrayTable | paginate: {itemsPerPage:8,currentPage:p}" class="text-center"
          (click)="getPedidosClient(ventas.id_venta)" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <th scope="row" class="mb-3 mt-3 espacios btn-hover">{{ventas.id_venta}}</th>
          <td class="mb-3 mt-3 espacios btn-hover">{{ventas.fecha_venta}}</td>
          <td class="mb-3 mt-3 espacios btn-hover">{{ventas.Valor_Total | currency:'USD'}}</td>
          <td class="mb-3 mt-2 espacios btn-hover">
            <span appColorBadge [colorBadgeState]="ventas.estado" class="badge btn-hover">{{ventas.estado}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- PAGINATION  -->
  <div class="d-flex flex-row-reverse bd-highlight">
    <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente" [autoHide]="true"
      [responsive]="true" screenReaderPaginationLabel="Pagination">
    </pagination-controls>
  </div>
</ng-container>

<!-- NO EXISTE DATOS -->
<ng-template #notData>
  <h5 class="text-center">No hay lista de pedidos aún</h5>
</ng-template>
<!-- MODAL PARA EL LISTADO DE PEDIDOS -->
<app-item-pedidos [listPedidos]="listPedidos"></app-item-pedidos>
