* {
  font-family: Cardium A-Medium;
}
.btn-hover {
  cursor: pointer;
}
.badge {
  font-family: Cardium A-Regular;
}
.espacios{
  padding: 12px;
}
@media screen and (max-width: 880px) {
  * {
    font-size: 12px;
  }
  .text-tamano {
    font-size: 13px;
    font-weight: 600;
  }
}
