* {
  font-family: sans-serif;
}
.wpwl-form-card {
  background-color: #ffffff;
  background-image: none;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.wpwl-tipocredito {
  border-radius: 6px;
  width: 280px;
  height: 40px;
}
.wpwl-label-brand {
  padding-bottom: 10px;
}
.wpwl-label {
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
}
.wpwl-button-pay {
  color: #fff;
  background-color: #282828;
  border-color: #282828;
}
.wpwl-button-pay:hover {
  color: #fff;
  background-color: #181717;
  border-color: #181717;
}
.wpwl-wrapper {
  display: flex;
  flex-direction: column;
}
.wpwl-cuotas {
  border-radius: 6px;
  width: 280px;
  height: 40px;
}
