* {
  font-family: Cardium B-Medium;
}

.current-section {
  background-color: #ea2313;
  color: #fff;
  border-radius: 6px;
  padding: 12px;
}

#parentDiv {
  height: 600px;
  overflow-y: scroll;
}
#parentDiv::-webkit-scrollbar {
  display: none;
}
