* {
  font-family: Cardium B-Medium;
}
p {
  font-family: Lato;
}
.columnas-items {
  position: sticky;
  /*   top: 120px; */
  transition: 0.3s;
}
.current-section {
  background-color: #ea2313;
  color: #fff;
  padding: 12px;
  border-radius: 6px;
}
.tamano-container {
  height: 650px;
}
#parentDiv {
  height: 600px;
  overflow-y: scroll;
  position: sticky;
  /*   top: 120px; */
  transition: 0.3s;
}
#parentDiv::-webkit-scrollbar {
  display: none;
}
.cursor {
  cursor: pointer;
}

ul {
  list-style: none;
}
