<!---------FORM COLORES----------->
<div class="col-xl-3 col-xxl-3 col-sm-3 col-3 col-md-3">
  <div class="row">
    <div class="col-xl-8">
      <div class="row">
        <!----PARA SUBIR LOS COLORES DE LOS ITEMS--->
        <div class="col-xl-1 col-xxl-1 col-sm-1 col-md-1 col-1" *ngFor="let colores of arrayColores">
          <div class="form-check">
            <input class="form-check-input" [style]="colores.codigoHexagedecima" type="checkbox"
              [id]="'checkbox'+colores.id"
              (click)="addColoresItems(colores.codigoHexagedecima,colores.nombre_color,$event,colores.id)">
          </div>
        </div>
      </div>
    </div>
    <!-------AGREGAR NUEVO COLOR-------->
    <div class="col-xl-12">
      <label for="color" class="btn btn-add-colors cursor">
        <input type="color" class="btn btn-add-colors" id="color" />
        Agregar otro color</label>
    </div>
  </div>
</div>
