<app-menu-index></app-menu-index>

<app-cabezera-central [NombreUbicacion]="'Direcciones'" [ruta]="ruta" [cliente]="cliente"></app-cabezera-central>
<!-- <section class="container">
  <div class="row">
    <h4 class="mb-3 mt-3">Registra tus direcciones</h4>
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-12 mx-auto">
      <app-mapa></app-mapa>
    </div>
  </div>
  <div class="row">
    <h4 class="mb-3 mt-3">Tu lista de direcciones</h4>
    <app-list-direcciones class="row"></app-list-direcciones>
  </div>
</section> -->
<h1 style="text-align: center;
font-size: 25px;
font-weight: 600;
color: #000000c2;">Muy pronto tendras como gestionar tus direcciones para recibir tus pedidos.</h1>

<app-footer-index></app-footer-index>
