<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 py-3">
      <div class="card card-bordes">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Acompaña tu rutina</h4>
            </div>
            <div class="col-md-6">
              imagen 1
              <p class="text-primary">Equipos de Entrenamiento</p>
            </div>
            <div class="col-md-6">
              imagen 2
              <p class="text-primary">Equipos de ciclismo</p>
            </div>
            <div class="col-md-6">
              imagen 3
              <p class="text-primary">Ropa deportiva</p>
            </div>
            <div class="col-md-6">
              imagen 4
              <p class="text-primary">Calzado Deportivo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="card card-bordes">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Acompaña tu rutina</h4>
            </div>
            <div class="col-md-6">
              imagen 1
              <p class="text-primary">Equipos de Entrenamiento</p>
            </div>
            <div class="col-md-6">
              imagen 2
              <p class="text-primary">Equipos de ciclismo</p>
            </div>
            <div class="col-md-6">
              imagen 3
              <p class="text-primary">Ropa deportiva</p>
            </div>
            <div class="col-md-6">
              imagen 4
              <p class="text-primary">Calzado Deportivo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 py-3">
      <div class="card card-bordes">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Acompaña tu rutina</h4>
            </div>
            <div class="col-md-6">
              imagen 1
              <p class="text-primary">Equipos de Entrenamiento</p>
            </div>
            <div class="col-md-6">
              imagen 2
              <p class="text-primary">Equipos de ciclismo</p>
            </div>
            <div class="col-md-6">
              imagen 3
              <p class="text-primary">Ropa deportiva</p>
            </div>
            <div class="col-md-6">
              imagen 4
              <p class="text-primary">Calzado Deportivo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
