<div class="py-5 mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white text-center">
      Registro de Usuario
    </div>
    <div class="card-body">
      <form (ngSubmit)="submit();" [formGroup]="formB.formUsers">
        <div class="col-md-12 input-group">
          <input type="hidden" formControlName="id_usuario">
          <!------PRIMER NOMBRE-->
          <div class="col-md-5">
            <label for="validationServer1" class="form-label">Primer Nombre</label>
            <input type="text" formControlName="nombre1" class="form-control is-invalid" id="validationServer1"
              aria-describedby="validationServer1Feedback" [class.is-invalid]="formB.formUsers.get('nombre1')?.touched && formB.formUsers.get('nombre1')?.invalid
              ">
            <div id="validationServer1Feedback" class="invalid-feedback">
              Deben ser solo letras entre 3 a 50 caracteres
            </div>
          </div>
          <!------SEGUNDO NOMBRE-->
          <div class="col-md-5 mx-5">
            <label for="validationServer2" class="form-label">Segundo Nombre</label>
            <input type="text" formControlName="nombre2" class="form-control is-invalid" id="validationServer2"
              aria-describedby="validationServer2Feedback" [class.is-invalid]="formB.formUsers.get('nombre2')?.touched && formB.formUsers.get('nombre2')?.invalid
            ">
            <div id="validationServer2Feedback" class="invalid-feedback">
              Deben ser solo letras y entre 3 a 50 caracteres
            </div>
          </div>
        </div>
        <div class="col-md-12 input-group">
          <!------PRIMER APElLIDO-->
          <div class="col-md-5">
            <label for="validationserver3" class="form-label">Primer Apellido</label>
            <input type="text" class="form-control is-invalid" aria-describedby="validationServer3Feedback"
              id="validationserver3" formControlName="apellido1" [class.is-invalid]="formB.formUsers.get('apellido1')?.touched && formB.formUsers.get('apellido1')?.invalid
            ">
            <div id="validationServer3Feedback" class="invalid-feedback">
              Deben ser solo letras y entre 3 a 50 caracteres
            </div>
          </div>
          <!------SEGUNDO APElLIDO-->
          <div class="col-md-5 mx-5">
            <label for="validationserver4" class="form-label">Segundo Apellido</label>
            <input type="text" class="form-control is-invalid" aria-describedby="validationServer4Feedback"
              id="validationserver4" formControlName="apellido2" [class.is-invalid]="formB.formUsers.get('apellido2')?.touched &&
            formB.formUsers.get('apellido2')?.invalid
            ">
            <div id="validationServer4Feedback" class="invalid-feedback">
              Deben ser solo letras y entre 3 a 50 caracteres
            </div>
          </div>
        </div>
        <div class="col-md-12 input-group">
          <!------DIREccion-->
          <div class="col-md-5 ">
            <label for="validationserver5" class="form-label">Direccion</label>
            <input type="text" class="form-control is-invalid" aria-describedby="validationServer5Feedback"
              id="validationserver5" formControlName="direccion2" [class.is-invalid]="formB.formUsers.get('direccion2')?.touched &&
            formB.formUsers.get('direccion2')?.invalid
            ">
            <div id="validationServer5Feedback" class="invalid-feedback">
              Deben ser solo letras y entre 5 a 50 caracteres
            </div>
          </div>
          <!-------TELEFONO-->
          <div class="col-md-5 mx-5">
            <label for="validationserver6" class="form-label">Teléfono</label>
            <input type="text" class="form-control is-invalid" aria-describedby="validationServer6Feedback"
              id="validationserver6" formControlName="telefono" [class.is-invalid]="formB.formUsers.get('telefono')?.touched &&
            formB.formUsers.get('telefono')?.invalid
            ">
            <div id="validationServer6Feedback" class="invalid-feedback">
              Deben tener solo numeros maximo 10 digitos
            </div>
          </div>
        </div>
        <div class="col-md-12 input-group">
          <!------SEXO-->
          <div class="col-md-5 ">
            <label for="validationServer7" class="form-label">Sexo</label>
            <select class="form-control is-invalid" [class.is-invalid]="formB.formUsers.get('sexo')?.touched &&
            formB.formUsers.get('sexo')?.invalid" id="validationServer7" arial-describedby="validationServer7Feedback"
              formControlName="sexo">
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
              <option value="3">Otro</option>
            </select>
            <div id="validationServer7Feedback" class="invalid-feedback">
              Seleccione al menos uno
            </div>
          </div>
          <!-------CEDULA-->
          <div class="col-md-5 mx-5">
            <label for="validationServer8" class="form-label">Cedula</label>
            <input type="text" class="form-control" id="validationServer8" formControlName="cedula"
              arial-describedby="validationServer8Feedback" [class.is-invalid]="formB.formUsers.get('cedula')?.touched &&
            formB.formUsers.get('cedula')?.invalid
            ">
            <div id="validationServer8Feedback" class="invalid-feedback">
              Deben tener solo numeros maximo 10 digitos
            </div>
          </div>
        </div>
        <div class="col-md-12 input-group">
          <!-------FECHA-->
          <div class="col-md-5">
            <label for="FechaNacimiento" class="form-label">Fecha Nacimiento</label>
            <input type="date" class="form-control" id="FechaNacimiento" formControlName="FechaNacimiento">
          </div>
          <!-----CELULAR-->
          <div class="col-md-5 mx-5">
            <label for="validationServer9" class="form-label">Celular</label>
            <input type="text" class="form-control" id="validationServer9" formControlName="celular"
              arial-describedby="validationServer9Feedback" [class.is-invalid]="formB.formUsers.get('celular')?.touched &&
            formB.formUsers.get('celular')?.invalid
            ">
            <div id="validationServer8Feedback" class="invalid-feedback">
              Deben tener solo numeros maximo 10 digitos
            </div>
          </div>
        </div>
        <div class="text-center py-3">
          <button type="submit" class="btn btn-outline-primary" [disabled]="formB.formUsers.invalid">Registrar</button>
          <button type="button" (click)="limpiar();" class="btn btn-outline-warning mx-5">Limpiar</button>
          <a (click)="regresar();" class="btn btn-outline-danger">Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>
