<div class="container-fluid py-3 mt-auto col-12 col-md-12 col-xl-12 col-xxl-12 col-sm-12">
  <div class="row mx-auto">

    <div class="col-md-5 col-sm-8 col-xl-3 col-xxl-3 col-8 mx-auto">
      <div class="card color-card" style="height: 318px;">
        <div class="card-body text-white">
          <span class="texto card-texto">Artículos
            <p class="texto">en <b>OFERTAS</b></p>
          </span>
          <p>Moda, Tecnología y hogar</p>
          <div class="text-center">
            <button class="rounded" id="btn-pago">COMPRA AHORA</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xl-9 col-xxl-9 col-8 col-sm-12 mx-auto">
      <div class="card card-carousel py-4">
        <div class="container-fluid mt-4">
          <div id="carouselExampleFade3" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">

              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades1}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Esmeril de mesa</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$98,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-10%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades2}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Licuadora Oster</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$39,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-25%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades3}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Bicicleta de carrera</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$124,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-10%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades6}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Televisor Riviera 55"</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$399,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-15%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades5}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Maquillaje</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$399,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-40%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades6}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Computadoras</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$399,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-10%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades7}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Celulares</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$129,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-25%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                    <div class="card border-0">
                      <img src="{{imgNovedades2}}" alt="">
                      <div class="card-body row">
                        <div class="col-md-12"><b>Microondas</b></div>
                        <div class="col-md-6 col-6 col-sm-6 color-precio">$35,99</div>
                        <div class="badge text-wrap color-badge col-3 col-sm-3 col-md-3 mx-3 rounded-pill">-15%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <button class="carousel-control-prev btn-carousel-previous rounded-circle" type="button"
              data-bs-target="#carouselExampleFade3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btn-carousel-next rounded-circle" type="button"
              data-bs-target="#carouselExampleFade3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
