<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card color-card">
        <div class="card-body text-white mt-5 py-2 mx-1">
          <span class="texto card-texto">Artículos
            <p class="texto">en <b>OFERTAS</b></p>
          </span>
          <p>Moda, Tecnología y hogar</p>
          <div class="text-center">
            <button class="btn btn-lg py-0" id="btn-pago">COMPRA AHORA</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card card-carousel py-4">
        <div class="container-fluid mt-4">
          <div id="carouselExampleFade3" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="card-body row">
                        <div class="col-md-12">Esmeril de mesa</div>
                        <div class="col-md-7">$98,99</div>
                        <div class="badge text-wrap bg-primary col-md-3 mx-3 rounded-pill">-10%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="card-body row">
                        <div class="col-md-12">Licuadora Oster</div>
                        <div class="col-md-7">$39,99</div>
                        <div class="badge text-wrap bg-primary col-md-3 mx-3 rounded-pill">-15%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="card-body row">
                        <div class="col-md-12">Bicicleta de carrera</div>
                        <div class="col-md-7">$124,99</div>
                        <div class="badge text-wrap bg-primary col-md-3 mx-3 rounded-pill">-10%</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="card-body row">
                        <div class="col-md-12">Televisor Riviera 55"</div>
                        <div class="col-md-7">$399,99</div>
                        <div class="badge text-wrap bg-primary col-md-3 mx-3 rounded-pill">-15%</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Biberones y accesorios</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Cocinas</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Televisores</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Equipo de entrenamiento</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Cosmeticos</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Equipos de cosmeticos</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Herramientas</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card border">
                      <img src="" alt="">
                      <div class="body">
                        <p class="text-primary">Muebles de Hogar</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev btn-carousel-previous rounded-circle mt-5" type="button"
              data-bs-target="#carouselExampleFade3" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next btn-carousel-next rounded-circle mt-5" type="button"
              data-bs-target="#carouselExampleFade3" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
