.color-card {
  border-radius: 20px;
  background: #7549fe;
}
#btn-pago {
  background: #7549fe;
  border: 2px solid #fff;
  color: #fff;
  height: 32px;
  width: 258px;
}
#btn-pago:hover {
  background: #583baf;
}
.texto {
  font-size: 45px;
}
.card-carousel{
  border-radius: 20px;
}
.btn-carousel-next {
  width: 40px;
  height: 40px;
  color: #000000;
  top: 67px;
  right: -24px;
  background: #302f2f;
}
.btn-carousel-previous {
  width: 40px;
  height: 40px;
  color: #000000;
  top: 67px;
  left: -24px;
  background: #302f2f;
}
.color-precio {
  color: #7549fe;
  font-weight: bold;
  font-size: 18px;
}
.color-badge {
  background-color: #f62a5b;
  color: #fff;
}
