<!------DIMENSIONES DEL PAQUETE HORA Y ENVIOS---------->
<div class="col-xl-12 col-xxl-12 col-sm-12 col-12 col-md-12 mb-5">
  <app-gestion-dimension [productEdit]="productEdit"></app-gestion-dimension>
</div>
<hr>
<!-----------UBICACION DEL MAPA--------------->
<div class="col-xl-6 col-xxl-6 col-sm-12 col-12 col-md-6 mb-5">
  <div class="row">
    <div class="col-xl-12 col-sm-12 col-md-12 col-xxl-12 mb-3">
      <div class="row">
        <div class="col-xl-4 col-xxl-4">
          <h6>Ubicación de tu Bodega</h6>
        </div>
        <div class="col-xl-8 col-xxl-8 bg-light">
          <p>¿Dónde se encuentra tu producto? Ubícalo aquí.</p>
        </div>
      </div>
    </div>
    <!-------GOOGLE MAP  y EL FORM----->
    <form [formGroup]="formUbicacion.formLogistica">
      <div class="col-xl-12 col-sm-12 col-md-12 col-xxl-12">
        <div class="row">
          <div class="col-xl-12 col-sm-12 col-md-12 col-xxl-12 mb-3">
            <!------GOOGLE MAP SITIE------->
            <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options"
              [overlays]="overlays" (onMapClick)="handleMapClick($event)" (onOverlayClick)="handleOverlayClick($event)"
              (onOverlayDragEnd)="handleDragEnd($event)"></p-gmap>
            <button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())"
              style="margin-right:.25em"></button>
            <button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>
          </div>
          <!--------MODAL PARA AGREGAR LA NUEVA UBICACION------------->
          <p-dialog showEffect="fade" [(visible)]="dialogVisible" header="Nueva ubicación" [style]="{width: '300px'}">
            <div class="grid p-fluid" *ngIf="selectedPosition">
              <div class="mb-3">
                <label for="Descripcion" class="form-label">Dirección</label>
                <input type="email" class="form-control" id="Descripcion" formControlName="descripcion">
              </div>

              <div class="mb-3">
                <label for="Latitud" class="form-label">Latitud</label>
                <input type="email" class="form-control" id="Latitud" [value]="selectedPosition.lat()" disabled>
              </div>

              <div class="mb-3">
                <label for="Longitud" class="form-label">Longitud</label>
                <input type="email" class="form-control" id="Longitud" [value]="selectedPosition.lng()" disabled>
              </div>
            </div>
            <ng-template pTemplate="footer">
              <div>
                <button type="button" pButton label="Agregar Ubicación" (click)="addMarker()"></button>
              </div>
            </ng-template>
          </p-dialog>
          <!---------ARRAY DE UBICACION DE PRODUCTO--------->
          <ng-container formArrayName="ubicacionProducto">
            <ng-container *ngFor="let ubicacion of formUbicacion.ubicacionProducto.controls; let i = index;">
              <ng-container [formGroupName]="i">
                <div class="col-xl-12 col-sm-12 col-xxl-12 col-12">
                  <div class="row">
                    <!------DECRICIPCION---------->
                    <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="descripcionArray" placeholder="Descripcion"
                          formControlName="DescripcionUbicacion" />
                        <label for="descripcionArray">Dirección</label>
                      </div>
                    </div>
                    <!------LONGITUD---------->
                    <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="longitudArray" placeholder="Longitud"
                          formControlName="LongitudArticulo" [attr.disabled]="true">
                        <label for="longitudArray">Longitud</label>
                      </div>
                    </div>
                    <!------LATITUD---------->
                    <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4">
                      <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="latitudArray" placeholder="Laittud"
                          formControlName="LatitudArticulo" [attr.disabled]="true">
                        <label for="latitudArray">Latitud</label>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

        </div>
      </div>
    </form>
  </div>
</div>
