.btn-increment {
  width: 40px;
  height: 20px;
  background-color: #7549fe;
  border-radius: 0px 5px 0px 0px;
}
.btn-descrement {
  width: 40px;
  height: 20px;
  background-color: #7549fe;
  border-radius: 0px 0px 5px 0px;
}
.container-item {
  overflow: auto;
  overflow-x: hidden;
}

.btn-increment:hover {
  background-color: #5d38ca;
}
.btn-descrement:hover {
  background-color: #5d38ca;
}
.color-cabecera {
  background-color: rgba(32, 32, 57, 0.94);
}

.text-color {
  color: #56ffc2;
}
.text-color-header {
  color: #a3e9ff;
}

.cabecera-tamano {
  height: 40px;
}
.text-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.diseno-input {
  background-color: #ffffff00;
  color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
