<div class="container-fluid container-item">
  <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 sticky-sm-top color-cabecera">
      <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 text-end mt-3">
        <span class="text text-info">Subtotal</span>
      </div>
      <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 cabecera-tamano">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xxl-4 col-xl-4 col-4 text-color-header">
            <svg width="40" height="40" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.3179 2C13.9179 2 14.4179 2.5 14.4179 3L15.9179 16.8C16.0179 17.2 15.7179 17.5 15.6179 17.7C15.5179 17.8 15.2179 18 14.8179 18H3.31788C2.91788 18 2.61788 17.8 2.51788 17.7C2.41788 17.6 2.11788 17.3 2.21788 16.8L3.61788 3C3.71788 2.4 4.11788 2 4.71788 2H13.3179Z"
                fill="#7E869E" fill-opacity="0.25" />
              <path
                d="M13.3179 2C13.9179 2 14.4179 2.5 14.4179 3L15.9179 16.8C16.0179 17.2 15.7179 17.5 15.6179 17.7C15.5179 17.8 15.2179 18 14.8179 18H3.3179C2.9179 18 2.6179 17.8 2.5179 17.7C2.4179 17.6 2.1179 17.3 2.2179 16.8L3.6179 3C3.7179 2.4 4.1179 2 4.7179 2H13.3179ZM13.3179 0H4.8179C3.1179 0 1.6179 1.2 1.5179 2.8L0.0178992 16.6C-0.182101 18.4 1.3179 20 3.3179 20H14.7179C16.6179 20 18.1179 18.4 18.0179 16.6L16.5179 2.8C16.4179 1.2 15.0179 0 13.3179 0Z"
                fill="white" />
              <path
                d="M11.7179 5.3999C11.3179 5.3999 10.9179 5.6999 10.8179 5.9999C10.5179 6.6999 9.81792 7.2999 9.01792 7.2999C8.11792 7.2999 7.41792 6.6999 7.21792 5.9999C7.01792 5.5999 6.71792 5.3999 6.31792 5.3999C5.61792 5.3999 5.11792 5.9999 5.41792 6.5999C6.01792 7.9999 7.41792 8.9999 9.01792 8.9999C10.6179 8.9999 12.1179 7.9999 12.6179 6.5999C12.8179 5.9999 12.3179 5.3999 11.7179 5.3999Z"
                fill="white" />
            </svg>
            Carrito
          </div>

          <div class="col-md-4 col-sm-4 col-xxl-4 col-xl-4 col-4 text-color-header">
            <svg width="50" height="44" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4 8H26V20C26 21.8856 26 22.8284 25.4142 23.4142C24.8284 24 23.8856 24 22 24H8C6.11438 24 5.17157 24 4.58579 23.4142C4 22.8284 4 21.8856 4 20V8Z"
                fill="#7E869E" fill-opacity="0.25" />
              <rect x="3.75" y="7.5" width="22.5" height="16.25" rx="2" stroke="white" stroke-width="2" />
              <path d="M3.75 13.75L26.25 13.75" stroke="white" stroke-width="2" stroke-linecap="round" />
              <circle cx="9" cy="19" r="1" fill="white" />
            </svg>
            Pagar
          </div>
          <div class="col-md-4 col-sm-4 col-xxl-4 col-xl-4 col-4">
            <p class="fs-4">{{totalAPagar | currency: 'USD'}}</p>
          </div>
        </div>

      </div>
      <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 text-end">
        <span class="text text-color">{{productoItems.length}} Productos</span>
      </div>
    </div>
    <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 text-end mt-auto">
      <hr>
    </div>
    <div class="container col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 mt-auto">
      <div class="container">
        <div class="row" *ngFor="let product of productoItems">
          <div class="col-md-4 col-sm-4 col-xl-4 col-xxl-4 col-4">
            <img loading="lazy" src="{{urlImg}}{{product.imagen}}" alt="{{product.id_artic}}" width="90px" height="90px"
              class="mt-3">
          </div>
          <div class="col-md-8 col-sm-8 col-xl-8 col-xxl-8 col-8">
            <div class="row">
              <div class="col-xl-12 col-md-12 col-12 col-sm-12 col-xxl-12 col-12">
                <p class="text text-center text-truncate-text"><b>{{product.name}}</b></p>
              </div>
              <div class="col-xl-12 col-md-12 col-12 col-sm-12 col-xxl-12 col-12">
                <div class="row">
                  <p class="col-xl-5 mt-2" style="font-size: 18px;" *ngIf="product.subtotal>0 else precio">
                    {{product.subtotal | currency: 'USD'}}
                  </p>
                  <ng-template #precio>
                    <p class="col-xl-5 mt-2 text-start" style="font-size: 18px;">{{product.precio | currency: 'USD'}}
                    </p>
                  </ng-template>
                  <div class="col-xl-7 text-end">
                    <div class="btn-group col-xl-11" role="group" aria-label="Button group with nested dropdown">
                      <input type="number" max=9 min=1 id="items" (change)="verifyChange($event,product.id_artic)"
                        class="text text-center col-md-8 border rounded diseno-input"
                        style="height: 40px; font-size: 18px;" [value]="product.item" />
                      <div class="btn-group-vertical rounded" aria-label="Vertical radio toggle button group">
                        <span class="btn-increment text-center" (click)="increment(product.id_artic)">
                          <img src="../../../../../../assets/img/icons/Chevron_Right.png" alt="">
                        </span>
                        <span class="text-center btn-descrement" (click)="descrement(product.id_artic)">
                          <img src="../../../../../../assets/img/icons/Chevron_Left.png" alt="">
                        </span>
                      </div>
                    </div>
                    <!------------<button (click)="removeItemCarrito(product.id_artic)">x</button> ------>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 mt-3">
              <p class="text text-info text-end">{{product.codigo}}</p>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
