<div
  class="col-md-12 col-xl-9 col-xxl-9 col-8 col-sm-12 col-12 mx-auto mt-2 d-sm-block d-block d-md-none d-xl-none d-xxl-none">
  <div class="card card-carousel py-4">
    <div class="container-fluid mt-4">
      <div id="carouselExampleFade5" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                <div class="card border-0">
                  <img src="{{imagenesApi[0].imgNovedades}}" alt="{{imagenesApi[0].descripcion}}">
                  <div class="card-body row">
                    <div class="col-md-12 cardium-b-bold"><b>{{imagenesApi[0].descripcion}}</b></div>
                    <div class="col-md-8 col-6 col-sm-6 col-xxl-8 color-precio cardium-b-bold">
                      ${{imagenesApi[0].precio}}</div>
                    <div
                      class="badge text-wrap color-badge col-3 col-sm-3 col-md-4 col-xl-8 col-xxl-4 rounded-pill cardium-b-bold">
                      -{{imagenesApi[0].descuento}}%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item" *ngFor="let imagenes of imagenesApi">
            <div class="row">
              <div class="col-md-3 col-12 col-sm-12 col-xxl-3 col-xl-3">
                <div class="card border-0">
                  <img src="{{imagenes.imgNovedades}}" alt="{{imagenes.descripcion}}">
                  <div class="card-body row">
                    <div class="col-md-12 cardium-b-bold"><b>{{imagenes.descripcion}}</b></div>
                    <div class="col-md-8 col-6 col-sm-6 col-xxl-8 col-xl-8 color-precio cardium-b-bold">
                      ${{imagenes.precio}}
                    </div>
                    <div
                      class="badge text-wrap color-badge col-3 col-sm-3 col-md-4 col-xl-8 col-xxl-4 rounded-pill cardium-b-bold">
                      -{{imagenes.descuento}}%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev btn-carousel-previous rounded-circle" type="button"
          data-bs-target="#carouselExampleFade5" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn-carousel-next rounded-circle" type="button"
          data-bs-target="#carouselExampleFade5" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
