<!-- SEGUNDO TERMINOS -->
<h1 class="text-title">2. TÉRMINOS Y CONDICIONES DEL SERVICIO DE VENDER EN PUERTTO DENTRO DEL ACUERDO</h1>
<p class="text-parrafo">El Servicio de vender en Puertto le permite ofrecer ciertos productos y servicios directamente
  en las páginas de Puertto y los términos y condiciones del servicio dentro del Acuerdo, forman parte del Acuerdo, sin
  embargo, solo aplican de forma exclusiva a su participación en vender en Puertto y no a otros capítulos, salvo el
  punto uno (1) del presente acuerdo y todos los puntos consecuentes que lo integran; los términos y condiciones del
  servicio de vender en Puertto brindan conocimiento sobre el alcance de uso de los servicios que ofrecemos, y
  constituye un Acuerdo entre usted o la empresa a la que usted representa y nosotros, al registrarse o utilizar los
  servicios, usted acepta las condiciones del presente Acuerdo, incluidas las condiciones de servicio y las políticas de
  Puertto para cada servicio en el que se registre o que utilice en relación con la página de Puertto en concreto.
</p>
<p class="text-parrafo"> En caso de conflicto entre las condiciones del presentes Acuerdo y políticas de Puertto y otros
  similares o equivalentes, prevalecerán las Condiciones Generales de Acuerdo entre las partes sobre las políticas de la
  empresa.
</p>
<h3 class="text-subtitle">2.1. Su inventario de productos, listas y pedidos</h3>
<h4 class="text-subtitle">2.1.1. Los productos y su información</h4>
<p class="text-parrafo">Usted es el responsable de proporcionarnos la Información requerida de forma precisa, completa y
  veraz de cada producto que publique para su venta en la página de Puertto, así como, de mantener dicha información
  actualizada sin demora y cuando sea necesario. Usted garantiza que sus productos y sus materiales, empaques, oferta y
  posterior venta de los mismos en cualquier página de Puertto cumplen con las Leyes aplicables, incluyendo los
  requerimientos de edad mínima, marcaje y etiquetado, de la misma manera, garantiza que no contengan materiales
  difamatorios, obsceno o sexualmente explícitos, salvo en la medida permitida expresamente por nuestras políticas, y no
  vulneran derechos de autor, marcas, diseños, bases de datos ni otros derechos de terceros, salvo en la medida
  permitida expresamente por nuestras políticas, adicionalmente, usted declara que los productos no son fabricados,
  ensamblados ni empaquetados mediante trabajos forzosos, en prisión o por trabajo infantil, que han sido obtenidos de
  forma legal y que cumplen con la normativa legal, en concordancia con las políticas de Puertto.
</p>
<p class="text-parrafo">
  Todas las actualizaciones de la información requerida contemplan, (a) la descripción física del producto, detallando
  los atributos tal y como lo solicita Puertto; (b) la cantidad disponible para la venta asignada en Puertto; (c) la
  información sobre el estado de los productos y su existencia relativa; (d) las restricciones o los requisitos de
  envío, en caso de ser requerido por condiciones especiales, se debe agregar la información de transporte; (e)
  clasificación dentro de las categorías de producto de Puertto y estructura de búsqueda establecida; (f) una imagen
  digitalizada que muestre con precisión sólo su producto, que cumpla con las Políticas de imágenes de Puertto y no
  incluya logos, texto u otras marcas adicionales; (g) Imágenes que muestren el producto en uso o acciones relativas a
  su uso, que cumpla con las Políticas de imágenes de Puertto y no incluya logos, texto u otras marcas adicionales; (h)
  el PVP, detallando los valores antes y después de impuestos, en los casos que el producto incluya el costo de envío,
  debe considerarse incluir ese valor en el precio de venta antes de impuestos y que no se le vea reflejado al cliente
  valores adicionales; (i) los costos de envío, gastos y de gestión en los casos que apliquen, a menos que el producto
  ya cubra en su precio el costo de envío del mismo; (j) textos adicionales como aviso legal, advertencia, notificación,
  etiqueta o contenido de otro tipo requerido por la ley aplicable en el mercado donde se vende el producto y donde se
  consume, que deba mostrarse en relación con la oferta, la comercialización, la promoción o la venta del mismo; (k) en
  los casos que aplique, se debe incluir requisitos adicionales del ADN vendedor que el cliente debería conocer antes de
  realizar la compra, tales como tasas por la devolución del producto al ADN vendedor u otras condiciones aplicables a
  dicho producto; (l) la marca del producto, si éste no tiene marca, usted debe describir la ausencia de dicha variable;
  (m) el modelo del producto y si éste no tiene modelo, usted debe describir la ausencia de dicha variable; (n) las
  dimensiones del producto sin la caja en el sistema de medida requerido por Puertto de acuerdo al mercado donde se
  vende el mismo; (o) las dimensiones del producto con la caja o empaque caja en el sistema de medida requerido por
  nosotros de acuerdo al mercado donde se vende el mismo; (p) el peso del producto sin la caja en el sistema de medida
  requerido por Puertto de acuerdo al mercado donde se vende el mismo; (q) el peso del producto con la caja o empaque
  caja en el sistema de medida requerido por Puertto de acuerdo al mercado donde se vende el mismo; (r) una lista
  delimitada de especificaciones técnicas; (s) el número de referencia y los códigos del producto, en los casos que
  aplique; (t) otros datos identificativos de los accesorios relacionados con su producto que puedan incrementar el
  marco de la oferta; (u) el país, estado o provincia, ciudad o cantón y cualquier otro dato que requiera Puertto, para
  marcar con exactitud desde donde se genera el costo de envío de sus productos; (v) la dirección y referencias que
  puedan ayudarnos a identificar de mejor manera el punto de salida de nuestros ejecutivos, asociados o ADO en la
  logística para la entrega del producto; (w) cualquier otra información que solicitemos que nos ayude a mejorar la
  experiencia de los usuarios y clientes al navegar y comprar en la página de Puertto.
</p>
<p class="text-parrafo">
  Usted declara de forma veraz que no proporcionará información sobre productos que incumplan estas normas ni se
  incluirá productos excluidos para su comercialización en Puertto, así como proporcionar o solicitar marcadores URL
  para su uso en cualquier página de Puertto. En caso de que usted ofrezca un producto que requiera una advertencia para
  su uso o consumo, usted tendrá que proveernos de dicha advertencia de conformidad con el marco legal del mercado
  destino de su comercialización y aceptar el despliegue de dicha advertencia en la página de detalles de un producto,
  la cual será modificada o removida solo cuando la advertencia previa ya no sea legalmente requerida por el mercado
  destino, pero es solamente usted el responsable de notificar a Puertto sobre esa nueva condición.
</p>
<h3 class="text-subtitle">2.1.2. Los productos, comercialización y procesamiento </h3>
<p class="text-parrafo">Usted puede cargar a la página de Puertto información de los productos que vende y de esa manera
  generar ofertas a los usuarios y clientes, de tal manera, usted es responsable de la información que se suba a las
  páginas de la página de Puertto en relación a sus productos, la misma que debe estar siempre en concordancia con lo
  expuesto en este Acuerdo, nuestras políticas y equivalentes, así como, el marco legal nacional; salvo los casos usted
  sea un proveedor de Puertto o que se extiendan a otros servicios de Puertto, en los cuales, usted podría disponer de
  ventajas del SIP cuando sea aplicable a dichos programas o planes de servicio, de cualquier manera, en Puertto
  realizaremos la comercialización y promocionaremos sus productos de conformidad con el presente Acuerdo en la forma
  que nosotros podamos determinar, ya sea a través de nuestras alianzas comerciales, empresas del grupo, filiales u
  otras condiciones afines a Puertto, usando características, anuncios, programas o de las formas relacionadas que
  determinemos.
</p>
<p class="text-parrafo">
  Como parte del fomento de Puertto por un libre mercado, usted acepta que podremos utilizar mecanismos para evaluar sus
  productos y/o su actuación como vendedor en Puertto y permitiremos a la comunidad de clientes participar de dichos
  mecanismos de evaluación, también aprueba que cuando lo decidamos y según lo determinemos más apropiado en Puertto,
  podremos publicar esta información donde se muestran puntuaciones y valoraciones que hayan de resultar de la
  implementación de dichos mecanismos. Por la naturaleza de Puertto, usted nos otorga en representación de usted, un
  derecho exclusivo de ser nosotros quienes recibiremos los ingresos por las ventas generadas de sus productos en cada
  una de las transacciones que se generen a través de nuestro página, tienda en línea, tiendas físicas, filiales y demás
  similares en las que se promuevan, oferten y vendan sus productos, y le abonaremos dichos Ingresos generados por
  dichas ventas una vez terminado el proceso comercial, es decir cuando el cliente haya recibido su producto de forma
  satisfactoria, conforme a las presentes Condiciones expuestas en el presente Acuerdo; es posible que podamos vender
  productos con amplios plazos de entrega, lo que significaría que el abono relativo de dicha operación comercial no se
  generará a su cuenta y beneficio por el mismo periodo de tiempo, sino solo posterior a la entrega del producto al
  cliente y la recepción satisfactoria del mismo como se expone en el presente documento, sin embargo, usted acepta que
  tramitará los pedidos de este tipo y los entregará al cliente hasta terminar el proceso comercial como paso
  obligatorio y exacto previo a recibir el abono de dicha operación, salvo que estuviere dispuesto de otra manera en el
  presente Acuerdo.
</p>
<p class="text-parrafo">
  En conformidad con el presente Acuerdo, le proporcionaremos la información relativa por cada uno de los pedidos
  relativos a sus productos según corresponda cuando sean vendidos, las transacciones y su estado, así como ingresos de
  las ventas generadas y relacionadas a sus productos y pedidos.
</p>
<h3 class="text-subtitle">2.1.3. Los servicios, comercialización y procesamiento </h3>
<p class="text-parrafo">Puertto es una plataforma de comercio electrónico que le permite a usted cargar información
  tanto de productos como de servicios que vende y de esa manera generar ofertas a los clientes, de tal manera, usted es
  responsable de la información que se suba a las página de Puertto en relación a sus servicios, la misma que debe estar
  siempre en concordancia con lo expuesto en este Acuerdo, nuestras políticas y el marco legal nacional, salvo los casos
  usted sea un proveedor de Puertto o que se extiendan a otros servicios de Puertto, en los cuales, usted podría
  disponer de ventajas del SIP cuando sea aplicable a dichos programas o planes de servicio, de cualquier manera,
  realizaremos la comercialización y promocionaremos sus servicios de conformidad con el presente Acuerdo en la forma
  que nosotros podamos determinar, ya sea a través de nuestras alianzas comerciales, empresas del grupo, filiales u
  otras condiciones afines a Puertto, usando características, anuncios, programas o de las formas relacionadas que
  determinemos.
</p>
<p class="text-parrafo">
  Como parte del fomento de Puertto por un libre mercado, usted acepta que podremos utilizar mecanismos para evaluar sus
  productos y/o su actuación como vendedor en Puertto y permitiremos a la comunidad de clientes participar de dichos
  mecanismos de evaluación, también aprueba que cuando lo decidamos y según lo determinemos más apropiado en Puertto,
  podremos publicar esta información donde se muestran puntuaciones y valoraciones que hayan de resultar de la
  implementación de dichos mecanismos. Por la naturaleza de Puertto, usted nos otorga en representación suya, un derecho
  exclusivo de ser nosotros quienes recibiremos los ingresos por las ventas generadas de sus servicios en cada una de
  las transacciones que se generen a través de nuestra página, tienda en línea, tiendas físicas, filiales y demás
  similares en las que se promuevan, oferten y vendan sus servicios, y le abonaremos dichos Ingresos generados por
  dichas ventas una vez terminado el proceso comercial, es decir cuando el cliente haya recibido su servicio de forma
  satisfactoria, conforme a las presentes condiciones expuestas en el presente Acuerdo; es posible que podamos vender
  servicios con amplios plazos de entrega, lo que significaría que el abono relativo de dicha operación comercial no se
  generará a su cuenta y beneficio por el mismo periodo de tiempo, sino solo posterior a la entrega del servicio al
  cliente y la recepción satisfactoria del mismo como se expone en el presente documento, sin embargo, usted acepta que
  tramitará los pedidos de servicio de este tipo y los entregará al cliente hasta terminar el proceso comercial como
  paso obligatorio y exacto previo a recibir el abono de dicha operación, salvo que estuviere dispuesto de otra manera
  en el presente Acuerdo, como el vender sus servicios a través de herramientas de cobro programado o recurrente, por
  periodos definidos o indefinidos, según se haya dado la operación comercial con el cliente, de esta manera, brindamos
  el servicio de agente de venta programado de servicios que Puertto haya de aprobar para su comercialización, en cuyo
  caso, los cobros pueden darse anticipados, pero los abonos de dichos cobros usted se regirán bajo las mismas
  condiciones antes descritas en este tópico.</p>
<p class="text-parrafo">
  En los casos que usted venda servicios complementarios a la venta de un producto en Puertto, usted es el único
  responsable de calcular y establecer, por lo que deberá considerar un valor que prevea la implementación del mismo,
  pero en caso que usted considere dicha posibilidad como imposible o que carece de bases para brindar un valor con
  total precisión, es necesario que establezca una base mínima del valor del servicio en Puertto y haga la aclaración de
  posibles variaciones del mismo en función de otras variables, de cualquier manera, usted reconoce y acepta que si los
  valores calculados y publicados por usted, resultarán que son, (a) más bajos de lo estimado, deberá primordialmente
  dar las facilidades de pago al cliente para brindarles un servicio de alta calidad y entregar el servicio aun cuando
  fuere a coste suyo, dichas variaciones no se tramitarán a través de Puertto, por lo que es importante que usted se
  haga responsable de la documentación técnica y legal asociada por dicha variación de los valores directamente con el
  cliente, o; (b) más altos de lo estimado, deberá primordialmente notificarnos para abonar la diferencia a favor del
  cliente como beneficio de haber realizado sus compras en Puertto. En conformidad con el presente Acuerdo, le
  proporcionaremos la información relativa por cada uno de los pedidos relativos a sus servicios según corresponda
  cuando sean vendidos, las transacciones y su estado, así como ingresos de las ventas generadas y relacionadas a sus
  productos y pedidos.
</p>
<h3 class="text-subtitle">2.1.4. Logística y envíos </h3>
<p class="text-parrafo">En Puertto contamos con nuestro SLP, el cual usamos para la recolección, envío y posterior
  entrega de los productos que han sido vendidos en Puertto, los cuales se rigen por las Políticas de logística de
  Puertto, sin embargo, es posible que sea usted quien se hiciera cargo del costo de envío y posterior entrega de sus
  productos a los clientes, en ese caso, usted establecerá los costos de envío y gestión, cuando sean aplicables, a
  través de nuestras funciones estándar y de conformidad con las categorías, en función a nuestras Políticas de
  logística de Puertto con nuestro ADN sobre costo de envío y de gestión. Por otra parte, cuando usted haga uso del SLP,
  nosotros determinaremos los costos de envío y logística, usted aceptará los mismos como pago total por envío y
  logística según aplique su formato de oferta y venta del producto.
</p>
<h3 class="text-subtitle">2.1.5. Fechas de envío de productos y servicios</h3>
<p class="text-parrafo">La Información de envío con respecto a sus productos, tiene como objetivo mostrar la fecha de
  envío y/o entrega estimada o prometida en sus publicación de estos en la página de Puertto, dicha estimación se
  sostiene sobre principios básicos, que pueden ser al final del período disponible para la entrega, que comienza en la
  fecha en que desde Puertto le comunicamos que el cliente realiza el pedido o la fecha disponible para la entrega que
  usted especifica en los datos del inventario de sus productos en su lista de artículos expuestos para la venta, de la
  misma manera, si no especifica ninguna información sobre el transporte en dichos datos de inventario de productos, se
  establece de forma automática que serán enviados en el plazo de entre dos (2) o tres (3) días laborables, a partir de
  la fecha en que el cliente realiza el pedido correspondiente, de la misma manera, esta condición es aplicable a los
  servicios que usted provee, salvo los casos donde el servicio sea un valor complementario de un producto, como tareas
  de ensamblaje, instalación, armado, entre otros afines, en cuyo caso, usted y el cliente deberán pactar dicha fecha
  para la aplicación del servicio. Entiéndase por días laborables por cualquier día ordinario, salvo los fines de
  semana, las fechas que, por feriados o fiestas nacionales, puentes vacacionales o cualquier otro similar que limiten
  la libre movilidad de las personas en una zona determinada o general.
</p>
<h3 class="text-subtitle">2.1.6. Fraude generado por ventas con tarjeta de crédito</h3>
<p class="text-parrafo">Existe la posibilidad que se den fraudes entre los clientes y los vendedores, por esa causa, en
  Puertto asumiremos el riesgo de las casos específicos cuando se de un fraude con TC por compras fraudulentas que
  resultaren de un robo y uso no autorizado de la información de la TC de un tercero, en relación con sus transacciones
  o cuando se den pagos tardíos o incumplimiento por parte de los clientes en relación con sus productos o servicios
  vendidos, excepto, en todo evento relacionado con cualquier producto o servicio que haya sido tramitado por el ADN
  vendedor o que no se haya atendido de forma estricta a nuestro protocolo de seguridad, comunicación sobre el momento
  del envío o cualquier otro similar contrario a nuestro procesos, en cuyo caso, usted asumirá todos los demás riesgos
  de fraudes, robos o pérdidas.
</p>
<h3 class="text-subtitle">2.2. Venta y logística</h3>
<p class="text-parrafo">Cuando usted se registra como ADN vendedor de Puertto o utiliza el SLP, y según se disponga en
  las condiciones de servicio como asociado de negocios de Puertto, usted, (a) es responsable de la información de sus
  productos y servicios, así como, de las ofertas que se expongan en la página de Puertto, los gastos y riesgos
  asociados de proveer, vender, gestionar, enviar y entregar sus productos que no se gestionen a través del SLP, y
  cuando haga uso del SLP, proveerá y venderá sus productos gestionados por el SLP, de acuerdo con las condiciones de la
  información de pedido correspondientes, condiciones de servicio, así como, con todas las condiciones establecidas por
  usted y mostradas en la página de Puertto correspondiente en el momento del pedido; (b) enviará y gestionará sus
  productos a cualquier destino dentro del Ecuador y de igual manera a los países donde se permita por parte de Puertto,
  salvo que esto esté prohibido por la ley o el presente Acuerdo; (c) es responsable del empaque de sus productos de una
  forma que resulte razonable desde el punto de vista comercial, además de tener como fecha de envío límite la estimada
  y ofrecida por usted en la página de Puertto, en cumplimiento con las instrucciones relativas a la fecha de la venta;
  (d) debe consultar la Información de pedido al menos una vez al día los días laborables, esto permite ayudarlo a
  gestionar sus productos de forma ordenada y eficiente; (e) no cancelará las transacciones salvo que esté permitido de
  acuerdo a las condiciones que se exponen a través de la página de Puertto donde se exhibe el producto, conforme con lo
  establecido en el Acuerdo; (f) proporcionará a Puertto información sobre el envío, la gestión, el estado y el
  seguimiento del pedido vendido, cada vez que se lo solicitemos y utilizando los procesos que nosotros designemos, con
  la finalidad de hacer pública dicha información siempre que sea procedente; (g) garantizará que es el ADN vendedor de
  todos los productos y servicios disponibles en su lista de oferta y venta en virtud del presente Acuerdo; (h) no
  incluirá la factura en el embalaje, salvo que, como parte de un plan de suscripción de Puertto se lo solicitemos como
  parte de su proceso; (i) siempre incluirá en el embalaje una Hoja de ruta y revisión del producto, como garantía del
  mismo en primeria instancia, mediante la cual usted que certifica la revisión y el cumplimiento del mismo en función
  de lo ofertado en la página de Puertto y que este es el mismo que el cliente compró; (j) se identificará a sí mismo
  como el ADN vendedor del producto en toda Hoja de ruta y revisión, así como, cualquier otra información que se incluya
  o acompañe al producto en su embalaje, estas variables lo identificarán como la persona a quien el cliente puede
  devolver el producto correspondiente en caso de inconsistencias en el despacho, ya sean por confusión de producto, mal
  estado, entre otros; (k) no enviará a los clientes mensajes de ningún tipo de confirmación de los pedidos, envíos o la
  gestión de sus productos, ya sean correos electrónicos, mensajes de texto en ninguna plataforma, salvo el caso que
  tenga derecho a procesar el pago de sus productos una vez producida la entrega, condición que aplica a los servicios
  profesionales de instalación, ensamblado y afines, prestación de servicios complementarios fuera de los acuerdos base
  de la operación comercial que se haya realizado previamente en Puertto, siempre que se ajusten a los acuerdos con los
  ofertantes de prestación de servicios, en cuyo caso enviará a los clientes mensajes de correo electrónico en un
  formato y de una forma que consideremos razonablemente aceptable, salvo que, usted sea un ADN vendedor que en su
  perfil de publicación de un producto por condiciones que lo determine Puertto, pueda a partir de una casilla destinada
  para ese menester colocar su información y publicarla con la finalidad de comunicarse con un cliente para ser
  contactado por valores de entrega o cualquier duda dentro de las razonables, sin embargo, cualquier otra operación
  queda prohibida por este Acuerdo y en caso de darse, como operaciones comerciales del producto fuera de la página de
  Puertto o sus tiendas físicas, no garantizamos los pagos y usted es totalmente responsable de cualquier perjuicio al
  que se viere expuesto.
</p>
<p class="text-parrafo">
  Para sus productos gestionados por nuestro SLP, si los hubiere, se aplicarán las Condiciones de Servicio de Logística
  de Puertto al almacenamiento, la gestión logística y la entrega de dichos Productos.</p>
<h3 class="text-subtitle">2.3. Cancelaciones, reembolso y devoluciones</h3>
<p class="text-parrafo">Usted acepta y aprueba que, en representación de usted, sin limite a sus obligaciones, podremos
  a nuestra discreción aceptar, calcular, y procesar cancelaciones, devoluciones, reembolsos y ajustes para el beneficio
  de los clientes, de acuerdo al punto tres, tres, uno (3.3.1). Usted aceptará y procesará las cancelaciones, las
  devoluciones, los ajustes en el precio y los reembolsos de acuerdo, ya sea que usted haga o no uso de nuestro SLP, en
  función de las presentes condiciones de servicio de este Acuerdo, las Políticas de reembolso y las Políticas de
  Puertto publicadas en el momento de realización del pedido correspondiente y nosotros podremos informar a los clientes
  que dichas políticas serán de aplicación para sus productos o servicios, salvo que se establezca lo contrario en las
  Políticas de Puertto, usted establecerá y calculará el costo de la totalidad de reembolsos y ajustes, incluyendo los
  impuestos, los costos de envío y de gestión, así como, cualquier otro gasto que deba pagar a los clientes en relación
  con sus transacciones comerciales, usted acepta que dichos pagos sean tramitados a través de Puertto. Todos los
  productos que usted gestione a través de Puertto que sean candidatos aprobados para reembolso cumplirán con las
  Políticas de reembolso de Puertto publicadas en el momento de realización del pedido y usted cumplirá con ellas,
  efectuando los reembolsos y los ajustes que esté obligado a efectuar sin demora, pero en ningún caso una vez
  trascurrido el plazo de treinta (30) días naturales a partir de que la obligación naciera.
</p>
<h3 class="text-subtitle">2.4. Problemas con sus productos</h3>
<h4 class="text-subtitle">2.4.1. Errores de entrega, no conformidad y retiro de productos</h4>
<p class="text-parrafo">Si usted vende sus productos y éstos son gestionados por Puertto haciendo uso de nuestro SIP,
  cuenta con nuestro servicio integral de manejo de bodega, empacado, envío y entrega a destino, por lo que Puertto es
  el responsable de los errores de entrega y no conformidad con la entrega de un producto, así como el retiro y
  reposición de productos o valores asociados, en caso que usted no haga uso de nuestro SIP, sino solo de nuestro SLP,
  Puertto es el responsable de los errores de entrega, pero no así con la no conformidad de un producto, ni el retiro y
  reposición de productos o valores asociados y se aplicarán las Condiciones de servicio de logística de Puertto, en
  caso que usted no haga uso de nuestro SIP y como tal, tampoco de nuestro SLP, usted como ADN vendedor de Puertto es el
  responsable de la entrega de los productos vendidos a través de Puertto, así como, del incumplimiento o la no
  realización de la entrega, la entrega incorrecta, el robo, otros errores o actos relacionados con la gestión,
  logística y entrega de sus productos, salvo que, sean causados por un fraude realizado con la TC como se detalla en el
  punto dos, uno, seis (2.1.6) o la ausencia completa de comunicación por parte de Puertto relativo a la información de
  pedido y la incapacidad probada de Puertto de poder ejecutar la tarea de poner a su disposición la Información de
  Pedido, tal como fue recibida por nosotros u obtenida por nosotros tras verificar una dirección de destino.
</p>
<p class="text-parrafo">
  No obstante, lo anterior, usted es y será responsable por cualquier inconformidad de sus productos relativo a
  defectos, funcionamiento, garantías o cualquier otra condición relativa en las que el servicio de logística no se vea
  involucrada, de tal manera, usted es el responsable del retiro de productos, público o privado, alerta de seguridad,
  reposición, reembolso, cambio o cualquier otro similar. Usted nos notificará inmediatamente, tan pronto tenga
  conocimiento de cualquier retiro de productos, público o privado, o alerta de seguridad de sus productos u otros
  proporcionados en relación a los suyos. Si determinamos que el desempeño de sus obligaciones bajo el presente acuerdo
  puede originar devoluciones, reclamaciones, conflictos o infracciones de nuestras condiciones o políticas, puede
  ocasionar cualquier otro tipo de riesgos para Puertto o a terceros, podríamos mitigar dicha situación con el posible
  derecho del cliente a recibir un reembolso, un ajuste o una sustitución de alguno de sus productos mientras
  consideremos que existe algún tipo de riesgo relacionado a Puertto o terceros.</p>
<h3 class="text-subtitle">2.4.2. Garantía de Puertto</h3>
<p class="text-parrafo">
  Para certificar que el cliente puede realizar compras seguras en Puertto y que no representa un riesgo para ellos,
  podremos ofrecerle a estos la Garantía Puertto, esto significa que los mantendremos informado a usted como ADN
  vendedor del producto y al representante de la marca cuando lo hubiere y se encuentre registrado como ADN de Puertto,
  sobre los reclamos que pudieren darse sobre sus productos ofrecidos y vendidos en Puertto u otras controversias que
  pudieren existir o presentarse, incluso sus envíos. Salvo los casos de reversos sobre el pago de sus productos, usted
  dispone de veinte (20) días para apelar nuestra decisión que haya de resultar del análisis de la Garantía Puertto,
  tras la cual, realizaremos una investigación y nosotros consideraremos si usted es responsable de una reclamación,
  reembolso o disputa, y usted no interpondrá recurso contra el cliente y será responsable de reembolsar a Puertto
  cuando corresponda, esto incluye, el valor pagado por el cliente, incluyendo los impuestos, los costos de envío y
  gestión, pero excluyendo las Comisiones y los cargos relacionados con la transacción original, además de gastos de
  devolución de cargos rechazados y/o penalizados, en la medida en que dichos costos corran por cuenta de Puertto.
</p>
<p class="text-parrafo">
  En los casos que se den reclamos de los clientes, no es ni será responsabilidad de Puertto el reembolso de los valores
  asociados si el cliente no ha devuelto sus productos, no obstante, en Puertto no exigimos que el cliente devuelva el
  producto y usted como ADN vendedor de Puertto, es el responsable de asumir el coste, siempre que el producto haya sido
  enviado por usted, independientemente que haya usado nuestro SLP, que exista alguna forma de riesgo o peligro
  relacionado con la seguridad, violación o actividad fraudulenta relativa a sus productos, o cuando haya acordado no
  requerir la devolución de su producto. Cuando un reclamo, reembolso o disputa es de su responsabilidad y el cliente ha
  devuelto su producto, el ADN vendedor es responsable de reembolsar el costo de envío por la devolución de este. Para
  calcular sus indicadores de rendimiento, solo tendremos en cuenta las reclamaciones que a partir de Garantía Puertto
  determinemos que son de su responsabilidad.
</p>
<p class="text-parrafo">
  La Garantía Puertto solo es aplicable para productos vendidos a clientes dentro del mismo territorio nacional y es
  posible que se pierda la garantía de los productos cuando estos son exportados a otros países, en caso contrario,
  usted deberá hacer la aclaración y tener concordancia con el ADN representante de la marca o representante de la marca
  que se encuentre fuera de Puertto.
</p>
<h3 class="text-subtitle">2.4.3. Garantía del vendedor como ADN</h3>
<p class="text-parrafo">Usted como ADN vendedor acepta y confirma que nos brinda y otorga garantías permanentes en
  relación a productos del tipo plaguicidas, alimentos, medicamentos, dispositivos médicos y cosméticos, de esta manera
  en los casos de (a) Plaguicidas, ya sean estos insecticidas, fungicidas, rodenticidas o cualquier otro similar, cumple
  y cumplirá con el marco legal ecuatoriano o el del mercado en donde es ofrecido, para su venta o comercialización,
  implementación y posterior manejo de desechos en los casos que sean aplicables, se encuentran registrados de manera
  lícita y cumple con las normas al momento de la comercialización, y son enviados y/o entregados por usted en el
  empaque original e intacto; por otra parte, en el caso de (b) alimentos, medicamentos, dispositivos médicos y
  cosméticos, cumple y cumplirá con el marco legal ecuatoriano o el del mercado en donde es ofrecido, para su venta o
  comercialización, implementación y posterior manejo de desechos en los casos que sean aplicables, se encuentran
  registrados de manera lícita y cumple con las normas al momento de la comercialización, y son enviados y/o entregados
  por usted en el empaque original e intacto; por otra parte.
</p>
<h3 class="text-subtitle">2.5. Compensación y pagos a Puertto</h3>
<p class="text-parrafo">Puertto es una plataforma de comercio electrónico y tiendas físicas, además de brindar otros
  servicios de logística, concebida para facilitar la operación comercial de múltiples ADN, como tal, en búsqueda de una
  correcta aplicación del servicio, usted autoriza a Puertto de forma irrevocable a que le carguemos en su cuenta de
  pago el Servicio vendedores de Puertto-SVP, por el cual usted pagará variables, tales como (a) la Comisión aplicable a
  Puertto, que es un porcentaje de los ingresos por las ventas correspondiente de sus productos a través de la página de
  Puertto, el mismo que pudiere variar en función de las categorías de Puertto según su tipo, y pudiere o no incluir los
  costos de envío y gestión según lo hayamos establecido y en función de su modo de venta; (b) cualquier Tarifa variable
  por venta de artículos especiales si las hubiere, las mismas que serán especificadas en la página de Puertto; (c) la
  Tarifa fija por venta específica en la página de Puertto, salvo que cuente con los planes de venta para ADN vendedores
  con tarifas de suscripción según lo especifiquemos en la página de Puertto; (d) la Tarifa de suscripción para Servicio
  vendedores de Puertto, no reembolsable, relativa al registro y mantenimiento de su cuenta del ADN vendedor de Servicio
  vendedores de Puertto, que es la especificada como tal en la página de Puertto en el momento en que corresponda el
  pago de dicha tarifa;
</p>
<p class="text-parrafo">
  La tarifa de suscripción para vender en Puertto se abona por adelantado cada mes o para cada transacción según
  aplique. Salvo que se establezca lo contrario, todos los valores monetarios contemplados en las presentes condiciones
  de servicio serán expresados en dólares norteamericanos y usted se hará cargo de todos los impuestos y recargos que se
  impongan sobre las tarifas que usted debe pagarnos a nosotros o a nuestras sociedades del grupo.
</p>
<h3 class="text-subtitle">2.6. Envío de sus ingresos por ventas en Puertto y reembolsos</h3>
<p class="text-parrafo">
  Ya que en Puertto hacemos el cobro de las ventas a nombre de usted y nos aseguramos que el cliente reciba sus
  productos, así como, nos aseguramos que usted reciba el pago de sus ventas terminadas, salvo que se indique de otra
  manera en el presente Acuerdo, nosotros haremos un corte de sus ventas terminadas y le enviaremos una liquidación con
  su saldo disponible cada dos (2) semanas, equivalentes, pero no exactos a catorce (14) días, o de acuerdo a nuestra
  decisión, con mayor o menor frecuencia, dicha decisión se la comunicaremos a usted con al menos treinta (30) días
  ordinarios de antelación, es importante que conozca que esta frecuencia podrá variar para cada país donde Puertto
  opere sus ventas, condición que será publicada en Puertto de forma oportuna.
</p>
<p class="text-parrafo">
  La liquidación de sus pagos y saldos disponibles será igual a cualquier ingreso por ventas terminadas, incluyendo
  aquellas que no hayan sido previamente enviados a usted a partir de la fecha de Cálculo de liquidación de sus pagos,
  la misma que usted aceptará como pago total de sus ventas, menos (a) Comisión aplicable a Puertto; (b) Tarifa variable
  cuando apliquen; (c) Tarifa fija; (d) Servicio vendedores de Puertto cuando apliquen; (e) cualquier monto que
  requiramos que usted mantenga en el saldo de su cuenta de conformidad con este Contrato (incluyendo pagos retenidos
  conforme al punto dos (2), el punto dos, uno, seis (2.1.6), dos, cuatro, dos (2.4.2) y las políticas del Programa
  aplicables; y (f) Tarifas de TC y cualquier otro valor o impuesto que Puertto calcule y retenga automáticamente en
  función del marco legal aplicable según lo determine la autoridad nacional competente del Ecuador y el presente
  Acuerdo.
</p>
<p class="text-parrafo">
  Considere que Puerto se tomará al menos catorce (14) días para ejecutar con eficiencia sus pagos por liquidación de
  compra cada vez que usted ingrese la información de una CB, ya sea que lo haga la primera vez o la cambien en el
  futuro, es decir que, si usted decide cambiar de CB, sus valores o información, esto diferirá el pago de su
  liquidación por ventas al menos 14 días posteriores a dicho evento. En caso de que usted haga un reembolso de dinero a
  un cliente cuando sea aplicable y en relación con alguna de ventas a través de Puertto y el reembolso sea dirigido a
  través de nosotros o una de nuestras filiales, y usted no sea el responsable de hacerlo sino nosotros, le
  reembolsaremos el monto en la siguiente liquidación de sus pagos, menos el Cargo de Administración por Reembolsos, en
  el caso que haya elegido pagar sus comisiones de forma anticipada, así como cualquier otro equivalente de Puertto, en
  base a oportunidades de campaña comercial que Puertto pudiere o no proponer, los ingresos por ventas de terminadas se
  abonarán a su saldo disponible. Podremos establecer una reserva en su cuenta con base en nuestra valoración de los
  riesgos que pudieran representar sus acciones o desempeño para Puertto o terceros, y podremos modificar el monto de la
  reserva de tiempo en tiempo a nuestra exclusiva discreción.</p>
<h3 class="text-subtitle">2.7. Página web y servicios de Puertto</h3>
<p class="text-parrafo">Puertto tiene el derecho a establecer el diseño, el contenido, las funciones, la disponibilidad
  y las propiedades de su página, selección y cualquier producto o anuncio en las distintas tiendas de Puertto y el
  resto de aspectos de cada servicio de venta, incluido su uso del mismo; Puertto podrá ceder cualquiera de estos
  derechos o delegar cualquiera de sus responsabilidades a terceras partes sin perjuicio a sus ADN, ADO y demás
  asociados.</p>
