<section class="color-seccion">
  <div class="container mt-4">
    <div class="row">
      <div class="col-xl-3 col-xxl-3">
        <h4 class="hover-button text-center activate">Nosotros</h4>
      </div>
      <div class="col-xl-3 col-xxl-3">
        <h4 class="hover-button text-center">Vende con Luggo</h4>
      </div>
      <div class="col-xl-3 col-xxl-3">
        <h4 class="hover-button text-center">Luggo ADN</h4>
      </div>
      <div class="col-xl-3 col-xxl-3">
        <h4 class="hover-button text-center">Nuestro Equipo</h4>
      </div>
    </div>
  </div>
</section>
<!------------SECCION QUIENES SOMOS----------------->
<section>
  <div class="container mt-4">
    <div class="row">
      <div class="col-xl-6 col-xxl-6 col-md-6 col-sm-12 col-12">
        <h3 class="text-titulo mb-5">¿Quienes Somos?</h3>
        <h5 class="color-texto text-tamano mb-5"><b>NUESTRO COMPROMISO</b></h5>
        <p class="text-tamano">
          es ofrecer soluciones sencillas en constante evolución para hacer más eficiente el comercio en línea,
          comenzando por Ecuador, luego LATAM y finalmente el mundo; acortando distancias, desvaneciendo fronteras y
          fortaleciendo el comercio local a ecala global.</p>
      </div>
      <div class="col-xl-6 col-xxl-6 col-sm-12 col-12 mb-5">
        <img loading="lazy" src="../../../../../assets/img/Rectangle.png" alt="NUESTRO-COMPROMISO" class="img-fluid">
        <svg width="196" height="10" viewBox="0 0 196 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.19531 5H190.195" stroke="#7549FE" stroke-width="10" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
</section>
<!------------SECCION ESTA IDEA NACE ----------------->
<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-xxl-6 col-sm-12 col-md-12 col-12">
        <img loading="lazy" src="../../../../../assets/img/Rectangle (1).png" alt="NUESTRO-COMPROMISO" class="img-fluid">
        <div class="text-end">
          <svg width="196" height="10" viewBox="0 0 220 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.19531 5H190.195" stroke="#7549FE" stroke-width="10" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </div>
      </div>
      <div class="col-xl-6 col-xxl-6 col-sm-12 col-md-12 col-12">
        <h5 class="color-texto text-tamano mb-5"><b>ESTA IDEA NACE</b></h5>
        <p class="text-tamano">
          de la necesidad de querer crear, para luego ofrecer una página de Marketplace local totalmente completa,
          funcional, amigable, evolutiva y predictiva; respaldada por un software minuciosamente pensado para siempre
          estar un paso más alla de lo que muchos han querido hacer, pocos llegado a crear y nadie logrado ofrecer.</p>
      </div>
    </div>
  </div>
</section>
