<div class="container-fluid">
  <h5 class="text-center"> Modulo de Articulos</h5>
  <div class="d-flex">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Crear
    </button>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Imágen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Acciónes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of dataProducts">
        <th class="mx-auto"><img src="http://192.168.100.15{{product.imagen}}" alt="product" width="177px"
            height="151px" class="img-fluid"></th>
        <td>{{product.name}}</td>
        <td>{{product.precio}}</td>
        <td>12</td>
        <td><a class="btn btn-warning" (click)="editarProduct(product);">Editar</a>
          <a class="btn btn-danger" (click)="eliminarProduct(product.id)">Eliminar</a>
        </td>
      </tr>
    </tbody>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Atras</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item" aria-current="page">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Siguiente</a>
        </li>
      </ul>
    </nav>
  </table>
</div>
