.pointer-deseo {
  cursor: pointer;
}
.pointer-carrito {
  cursor: pointer;
}
path:hover {
  background-color: #ea2313;
  cursor: pointer;
  fill: #ea2313 !important;
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .pointer-deseo {
    margin: 0px -4px;
  }
  .pointer-carrito {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .pointer-deseo {
    width: 24px;
    height: 24px;
  }
  .pointer-carrito {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .pointer-deseo {
    width: 24px;
    height: 24px;
  }
  .pointer-carrito {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 880px) {
  .pointer-deseo {
    width: 24px;
    height: 24px;
  }
  .pointer-carrito {
    width: 18px;
    height: 18px;
  }
}
