<app-menu-index></app-menu-index>
<section class="container-fluid mt-3 py-3">
  <h4>Carrito de compra</h4>
</section>
<ng-container *ngIf="productoItems.length>0 else notDataProduct">
  <section class="container-fluid">
    <div class="row">
      <app-items-carrito [carritoProductList]="productoItems"></app-items-carrito>
    </div>
    <div class="row mx-auto py-3 mt-3">
      <div class="col-xl-6 col-xxl-6 col-sm-6 col-md-6 text-start">
        <button class="btn btn-outline-dark" (click)="irAProductos();">Continuar comprando</button>
      </div>
      <div class="col-xl-6 col-xxl-6 col-sm-6 col-md-6 text-end">
        <button class="btn btn-outline-dark" (click)="irAPAgar();">Realizar el pago</button>
      </div>
    </div>
  </section>
</ng-container>
<ng-template #notDataProduct>
  <section class="container-fluid py-3 mt-3 mb-3">
    <div class="row">
      <h4 class="text text-center fs-6"><b>Aún no haz agregado productos al carrito</b></h4>
      <p class="text text-center">Dale click <a (click)="irAProductos();" class="cursor btn-link">aquí</a> para agregar
        productos al carrito </p>
    </div>
  </section>
</ng-template>

<app-footer-index></app-footer-index>
