.card-border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 1px solid #d1d1d1;
}
.text-titulo {
  color: #ea2313;
  font-family: Cardium A-Bold;
  font-size: 42px;
}
.text-ofertas {
  font-size: 42px;
  font-family: Cardium B-SemiBold;
  color: #fff;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (max-width: 835px) {
  .text-titulo {
    font-size: 25px;
  }
  .text-tecnologia {
    position: absolute;
    top: -40px;
  }
  .text-ofertas {
    font-size: 30px;
    margin-top: 12px;
  }
}
