<div class="container-fluid py-4">

  <div class="card card-border">
    <div class="row mx-auto mb-2 mt-2 p-3 container-responsive">
      <div class="col-md-6 col-xl-6 col-xxl-6 col-12 col-sm-12 mt-2 mb-4" *ngFor="let list of arrayOfertasImg">
        <div class="card text-white border-0">
          <img loading="lazy" src="{{list.imgRuta}}" alt="img-ofertas-1" class="img-fluid">
          <div class="card-img-overlay mt-4 text-tecnologia">
            <p [class]="list.classTexto">{{list.texto}}</p>
            <h5 [class]="list.classOfertas">
              <!-- <b>{{list.ofertas}}</b> -->
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
