<section class="container-fluid">
  <div class="row">

    <div class="col-xl-6">
      <img class="img-fluid"
        src="https://m.media-amazon.com/images/S/stores-image-uploads-na-prod/e/AmazonStores/ATVPDKIKX0DER/771bbaf1bf074bf2b4b1f0c31a1e51ff.w1044.h1032._CR0%2C0%2C1044%2C1032_SX1500_.jpg" />
    </div>
    <div class="col-xl-3">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$54</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$84</p>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$12</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
      </div>
    </div>

  </div>
</section>
