<section class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <img class="img-fluid"
        src="https://m.media-amazon.com/images/S/stores-image-uploads-na-prod/e/AmazonStores/ATVPDKIKX0DER/771bbaf1bf074bf2b4b1f0c31a1e51ff.w1044.h1032._CR0%2C0%2C1044%2C1032_SX1500_.jpg" />
    </div>
    <div class="col-xl-3 mx-auto" style="width: 17rem;">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$54</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_SX375_.jpg" />
        <p class="text-center">$84</p>
      </div>
    </div>
    <div class="col-xl-3 mx-auto" style="width: 17rem;">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$12</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$22</p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-xl-3"><img src="https://m.media-amazon.com/images/I/71l9qrw189L._AC_SX375_.jpg" alt="">
      <p class="text-center">$20</p>
    </div>
    <div class="col-xl-3"><img src="https://m.media-amazon.com/images/I/71l9qrw189L._AC_SX375_.jpg" alt=""></div>
    <div class="col-xl-3"><img src="https://m.media-amazon.com/images/I/71l9qrw189L._AC_SX375_.jpg" alt=""></div>
    <div class="col-xl-3"><img src="https://m.media-amazon.com/images/I/71l9qrw189L._AC_SX375_.jpg" alt=""></div>
  </div>
</section>

<section class="container-fluid mb-3">
  <div class="row">
    <img class="img-fluid" src="https://create.vista.com/common/aa39abd5-528e-4969-b053-3993bbd02fdd.jpg"
      style="height: 10rem;" alt="">
  </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <img
          src="https://images-na.ssl-images-amazon.com/images/S/stores-image-uploads-na-prod/d/AmazonStores/ATVPDKIKX0DER/1f284c0800bd1de63413dde1bb28c3a4.w1500.h1500._CR0%2C0%2C1500%2C1500_.jpg"
          alt="" class="card-img" />
        <div class="card-img-overlay">
          <button>*</button>
          <button>*</button>
          <button>*</button>
        </div>
      </div>
    </div>
    <div class="col-xl-3 mx-auto" style="width: 17rem;">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$54</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_SX375_.jpg" />
        <p class="text-center">$84</p>
      </div>
    </div>
    <div class="col-xl-3 mx-auto" style="width: 17rem;">
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$12</p>
      </div>
      <div class="row">
        <img class="img-fluid" src="https://m.media-amazon.com/images/I/810Hdtwj1VL._AC_UX569_.jpg" />
        <p class="text-center">$22</p>
      </div>
    </div>
  </div>
</section>
