<div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 mb-2">
  <span class="badge bg-colors rounded">Marca:&nbsp;{{productoObjeto.nombre_marca}}</span>
</div>
<div class="col-xxl-12 col-xl-12 col-sm-12 col-md-12 col-12 mb-2">
  <h5 class="title-product">{{productoObjeto.name}}</h5>
  <h5 class="subtitle-product">{{productoObjeto.descripcion_articulo}}</h5>
</div>
<div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 mb-2">
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-md-5 col-sm-5 col-3">
      <span class="text-precio"> {{productoObjeto.precio |
        currency:'USD'}}&nbsp;</span>
    </div>
    <div class="col-xxl-5 col-xl-5 col-md-5 col-sm-5 col-5">
      <span class="text-iva">&nbsp;
        <span>{{productoObjeto.iva_porcentaje===0?'No aplica iva':'IVA incluido'}}</span>
      </span>
      <span class="text-iva">&nbsp;
        <span>{{productoObjeto.ice_porcentaje===0?'':'| ICE incluido'}}</span>
      </span>
    </div>
    <div class="col-xxl-4 col-xl-4 col-md-5 col-sm-4 col-4">
      <span class="color-stock"><span class="text-dark">&#10004;</span>{{productoObjeto.stock>=productoObjeto.stock_min?'En Stock':'No disponible'}}</span>
    </div>
  </div>
</div>

<div class="col-xxl-12 col-xl-12 col-sm-12 col-md-12 col-12 mb-2">
  <div class="row">
    <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12 col-12">
      <div class="row text-detalle">
        <p><img [src]="tienda" alt="tienda" class="img-fluid mx-1" />{{productoObjeto.nombre_tienda}}</p>
        <p><img [src]="caja" alt="envio" class="img-fluid mx-2" />Envío de 24hrs a 48hrs</p>
        <p><img [src]="seguridad" alt="seguridad" class="img-fluid mx-1" />Transacción Segura</p>
      </div>
    </div>
    <!--     <app-input-product class="col-xxl-3 col-xl-3 col-md-3 col-sm-3 col-3 mt-5" [productObjeto]="productoObjeto">
    </app-input-product> -->
  </div>
</div>
