.buttonRegresar {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  background-color: #7549fe;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  font-family: Cardium A-Light;
}
.text-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
