.buttonRegresar {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 3;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  background-color: #ea2313;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  font-family: Cardium A-Light;
}
.text-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.text-precio {
  color: #ea2313;
  font-size: 22px;
  font-family: Cardium A-Bold;
}
.text-iva {
  font-family: Cardium A-Medium;
  font-size: 13px;
}
.title-h1 {
  font-family: Cardium A-Bold;
  font-size: 32px;
}
.border-title {
  border: 10px solid #0b5ed7;
  height: 0px;
}
.pointer-deseo {
  cursor: pointer;
}
.pointer-carrito {
  cursor: pointer;
}
.cursor{
  cursor: pointer;
}
path:hover {
  background-color: #ea2313;
  cursor: pointer;
  fill: #ea2313 !important;
}

.card-img {
  width: 195px;
  height: 200px;
}

.text-messageError{
  color: rgb(0 0 0 / 52%)
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .title-h1{
    font-family: Cardium A-Bold;
    font-size: 42px;
  }
  .pointer-deseo {
    cursor: pointer;
    margin: 0px -4px;
  }
  .pointer-carrito {
    cursor: pointer;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .title-h1{
    font-family: Cardium A-Bold;
    font-size: 35px;
  }
  .pointer-deseo {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .pointer-carrito {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .title-h1{
    font-family: Cardium A-Bold;
    font-size: 36px;
  }
  .pointer-deseo {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .pointer-carrito {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
