<div class="container-fluid">
  <div class="row">


    <!-- <img class="image" [src]="imgGrande+imagenArray" class="image" /> -->
    <!--       <ngx-img-zoom [zoomImageSrc]="imgGrande+imagenZoom" [previewImageSrc]="imgGrande+imagenArray"
        [imgStyle]="'width:400px;height:450px;border:1px solid #dcdcdc;'" [resultStyle]="styleResults"
        lensStyle="width:210px; height:300px;" [enableZoom]="true" [containerStyle]="'position:relative;'">
      </ngx-img-zoom>
      <p class="text-diseno">Pasa el mouse encima de la imagen para aplicar zoom</p> -->
  </div>
</div>
<p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '660px'}"
  [numVisible]="countArray" thumbnailsPosition="left">
  <ng-template pTemplate="item" let-item>
    <img [src]="item.previewImageSrc" class="img-fluid-responsive" style="width: 100%; display: block;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
    <div class="grid grid-nogutter justify-content-center">
      <img [src]="item.thumbnailImageSrc" />
    </div>
  </ng-template>
</p-galleria>
