.puntero {
  cursor: pointer;
}

body {
  padding: 0 20px;
}

.container {
  width: 500px;

  position: relative;
}

.image {
  max-width: 100%;
  height: 27rem;
  filter: brightness(1);
  mix-blend-mode: multiply;
}

.image-alone {
  width: 100%;
  height: auto;
  filter: brightness(1.0);
  mix-blend-mode: multiply;
}
.d-flex {
  height: 29rem;
}

.flex-box-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  z-index: 10;
  color: #fff;
}

.active {
  border: 2px solid #ea2313;
}

.img-fluid-responsive {
  cursor: pointer;
  max-width: 45px;
  height: auto;
  filter: brightness(1.0);
  mix-blend-mode: multiply;
}

.button {
  cursor: pointer;
  background-color: none;
  border: 0;
}
.button:hover svg path {
  fill: #ea2313;
}
.button svg path:hover {
  fill: #ea2313;
}
/* MOVIL RESPONSIVE */
@media screen and (max-width: 880px) {
  .image {
    height: 20rem;
  }
  .img-fluid-responsive {
    max-width: 55px;
  }
  .d-flex {
    height: 20rem;
  }
  .flex-box-items-movil {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
/* GALAXY FOLD */
@media screen and (max-width: 300px) {
  .img-fluid-responsive {
    max-width: 40px;
  }
  .image {
    height: 15rem;
  }
}
