<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 mt-3">
      <ul class="list-group" *ngFor="let imgProduct of imagenArray;">
        <li class="list-group-item mb-3 mx-auto puntero" *ngFor="let imgPequena of imgProduct.pequena;let i=index"><img
            loading="lazy" (mouseover)="mouseCambioImg(i)" [src]="imgPequena" alt="" class="mb-2 mx-auto">
        </li>
      </ul>
    </div>
    <div class="col-xl-8 mx-auto mb-3">
      <img id="zoom_01" src="{{imageRaton}}" />
      <p class="text-diseno">Pasa el mouse encima de la imagen para aplicar zoom</p>
    </div>
  </div>
</div>
