<app-menu-index></app-menu-index>


<section class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-4 mx-auto">
      <img [src]="imgPayment" alt="imgPaymens" class="img-fluid" />
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="!message else messageSuccess">
      <p class="text-center mt-3 mb-3">Cargando mensaje....</p>
    </ng-container>
    <ng-template #messageSuccess>
      <h5 class="text-danger text-center">{{transaccion}}</h5>
      <p class=" col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-4 mx-auto text-center mt-3 mb-3 text-message mt-3 mb-3">{{message}}</p>
    </ng-template>
    <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 d-flex justify-content-center">
      <button class="btn btn-dark" (click)="irAPedidos();">Ver mis pedidos</button>
    </div>
  </div>
</section>
<footer>
  <app-footer-index></app-footer-index>
</footer>
