<section class="container">
  <app-position-stripper [width]="'width:60%;'"
    [paso2]="'position-absolute top-0 translate-middle btn btn-sm btn-primary rounded-pill'"
    [paso3]="'position-absolute top-0 translate-middle btn btn-sm btn-primary rounded-pill'" [trhee]="'true'">
  </app-position-stripper>
</section>
<section class="container-fluid py-3">
  <hr class="border border-1 bg-dark w-100">
</section>
<section class="container">
  <div class="col-xl-12 col-xxl-12 col-sm-12 col-12 col-md-12 mt-3 py-3">
    <h1 class="estilo-text text-center">Cómo recibirás tus pagos</h1>
    <p class="estilo-subtitle text-center">detalla tus datos de transferencia</p>
  </div>
  <form [formGroup]="formB.formPagoAdn">
    <div class="row card">
      <!--------NOMBRE DEL TITULAR IDENTIFCAICON-------->
      <div class="col-xl-12 col-xxl-12 col-md-12 col-sm-12 col-12 mt-3" (click)="ocultar=true">
        <div class="row mx-auto">
          <!----IDENTIFICAICON----->
          <div class="col-xl-3 col-sm-6 col-6 col-xxl-3 col-md-3">
            <div class="mb-3">
              <label for="formIdentificacionTitular" class="form-label fw-bolder">Cédula / Ruc</label>
              <input type="text" placeholder="09334562716" id="formIdentificacionTitular" class="form-control"
                formControlName="Identificacion"
                [class.is-invalid]="formB.formPagoAdn.get('Identificacion')?.touched && formB.formPagoAdn.get('Identificacion')?.invalid" />
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('Identificacion')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="minlength" customMsg="Máximo 10 digitos"></app-message-error>
              <app-message-error forErrorCode="maxlength" customMsg="Máximo 10 digitos"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros"></app-message-error>
            </app-form-errors-container>
          </div>
          <!-----NOMBRE TITULAR---->
          <div class="col-xl-3 col-sm-6 col-6 col-xxl-3 col-md-3" (click)="ocultar=true">
            <div class="mb-3">
              <label for="formNombre" class="form-label fw-bolder">Nombre del titular</label>
              <input type="text" class="form-control" id="formNombre"
                [class.is-invalid]="formB.formPagoAdn.get('Nombre_Titular')?.touched && formB.formPagoAdn.get('Nombre_Titular')?.invalid"
                formControlName="Nombre_Titular" placeholder="Nombre Titular">
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('Nombre_Titular')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Debe ser solo numeros">
              </app-message-error>
            </app-form-errors-container>
          </div>
          <app-mensajes-apoyo
            class="col-xl-5 col-sm-12 col-md-5 col-xxl-5 col-12 border border-1 color-groud text-design d-sm-none d-none d-md-block d-xl-block d-xxl-block"
            [mensaje]="'Ingresa el nombre completo del titular de la cuenta en la que recibirás tus pagos.'">
          </app-mensajes-apoyo>
        </div>
      </div>
      <!-------CORREO ELECTRONICO-------->
      <div class="col-xl-12 col-xxl-12 col-12 col-sm-12 col-md-12" (click)="ocultar=true">
        <div class="row mx-auto">

          <!-------CORREO ELECTRONICO-------->
          <div class="col-xl-6 col-sm-6 col-6 col-xxl-6 col-md-3">
            <div class="mb-3">
              <label for="formIdentificacion" class="form-label fw-bolder">Correo Electrónico</label>
              <input type="email" class="form-control" id="formIdentificacion" placeholder="micorreo@gmail.com"
                formControlName="correo_Electronico"
                [class.is-invalid]="formB.formPagoAdn.get('correo_Electronico')?.touched && formB.formPagoAdn.get('correo_Electronico')?.invalid" />
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('correo_Electronico')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="email"></app-message-error>
            </app-form-errors-container>
          </div>
          <app-mensajes-apoyo
            class="col-xl-5 col-md-5 col-xxl-5 border border-1 mt-4 text-design d-sm-none d-none d-md-block d-xl-block d-xxl-block"
            [mensaje]="'Ingresa el correo electrónico de tu cuenta.'"></app-mensajes-apoyo>
        </div>
      </div>

      <!-- Banco de preferencia -->
      <div class="col-xl-12 col-xxl-12 col-md-12 col-sm-12 col-12 mt-3">
        <div class="row mx-auto">
          <app-mensajes-apoyo
            class="col-sm-12 col-12 border border-1 text-design d-sm-block d-block d-md-none d-xl-none d-xxl-none"
            [mensaje]="'No olvides seleccionar que tipo de cuenta es y digitar el número de la misma. No te preocupes toda tu información está segura con nosotros.'">
          </app-mensajes-apoyo>
          <div class="col-xl-6 col-sm-12 col-md-6 col-xxl-6 col-12 mb-3 position-relative">
            <label for="formPais" class="form-label fw-bolder">Entidad Financiera</label>
            <div class="input-group">
              <input type="text" class="form-control" aria-label="Text input with dropdown button"
                [class.is-invalid]="formB.formPagoAdn.get('Nombre_Banco')?.touched && formB.formPagoAdn.get('Nombre_Banco')?.invalid"
                (keyup)="onKeyPress($event);" formControlName="Nombre_Banco"
                [class.is-invalid]="formB.formPagoAdn.get('Nombre_Banco')?.touched && formB.formPagoAdn.get('Nombre_Banco')?.invalid">
              <!-----LISTADO DE PRODUCTOS BOTON DE LADO DERECHO----->
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false"></button>
              <ul class="dropdown-menu dropdown-menu-end w-100">
                <li><a class="dropdown-item" *ngFor="let banco of arrayBanco"
                    (click)="setBanco(banco.id_banco,banco.nombre_banco)">{{banco.nombre_banco}}</a>
                </li>
              </ul>
            </div>
            <!---BUQUEDA POR FILTRO EL PAIS----->
            <div class="list-group mb-3 position-absolute border-truncate" [hidden]="ocultar">
              <button type="button" class="list-group-item list-group-item-action"
                *ngFor="let banco of arrayBanco | filterBancos:formB.formPagoAdn.get('Nombre_Banco')?.value"
                (click)="setBanco(banco.id_banco,banco.nombre_banco)">
                {{banco.nombre_banco}}
              </button>
              <!----- SI NO EXISTE ESA MARCA-------->
              <div class="list-group-item list-group-item-action"
                *ngIf="(arrayBanco | filterBancos:formB.formPagoAdn.get('Nombre_Banco')?.value)?.length <= 0">
                <p>No hay registro de esa banco</p>
              </div>
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('Id_banco')">
              <app-message-error forErrorCode="required"></app-message-error>
            </app-form-errors-container>
          </div>

          <app-mensajes-apoyo
            class="col-xl-5 col-md-5 col-xxl-5 border border-1 text-design d-sm-none d-none d-md-block d-xl-block d-xxl-block"
            [mensaje]="'No olvides seleccionar que tipo de cuenta es y digitar el número de la misma. No te preocupes toda tu información está segura con nosotros.'">
          </app-mensajes-apoyo>
        </div>
      </div>
      <!-------TIPO DE CUENTA, NUMERO DE CUENTA-------->
      <div class="col-xl-12 col-xxl-12 col-md-12 col-sm-12 col-12 mt-3 mb-3">
        <div class="row mx-auto">
          <div class="col-xl-3 col-sm-6 col-md-3 col-xxl-3 col-6" (click)="ocultar=true;">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label fw-bolder">Tipo de Cuenta</label>
              <select class="form-select" aria-label="Default select example" formControlName="Tipo_cuenta"
                [class.is-invalid]="formB.formPagoAdn.get('Tipo_cuenta')?.touched && formB.formPagoAdn.get('Tipo_cuenta')?.invalid">
                <option value="" selected>Seleccione</option>
                <option value="1">Corriente</option>
                <option value="2">Ahorro</option>
              </select>
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('Tipo_cuenta')">
              <app-message-error forErrorCode="required"></app-message-error>
            </app-form-errors-container>
          </div>
          <!------NUMERO DE CUENTA------->
          <div class="col-xl-3 col-sm-6 col-md-3 col-xxl-3 col-6" (click)="ocultar=true;">
            <div class="mb-3">
              <label for="formCuenta-Numero" class="form-label fw-bolder">Número de cuenta</label>
              <input type="text" formControlName="Numero_cuenta" class="form-control" id="formCuenta-Numero"
                placeholder="10059999999"
                [class.is-invalid]="formB.formPagoAdn.get('Numero_cuenta')?.touched && formB.formPagoAdn.get('Numero_cuenta')?.invalid">
            </div>
            <app-form-errors-container [forControl]="formB.formPagoAdn.get('Numero_cuenta')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo debe ser numeros"></app-message-error>
            </app-form-errors-container>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<!-- CONTINUAR -->
<app-button-fixed [data-target-atras]="'#collapseTwo'" [arial-controls-atras]="'collapseTwo'"
  [data-target-adelante]="'#collapseFour'" [arial-controls-adelante]="'collapseFour'"></app-button-fixed>
