<app-menu-index></app-menu-index>

<section class="container-fluid mt-3 py-3">
  <div class="row mb-3">
    <h5 class="detalle-compra mb-3 text-xxl-start "><b>Detalle de la compra</b></h5>
    <hr class="d-xxl-none d-xl-none d-md-none d-block d-sm-block">
  </div>
  <div class="row">
    <div class="col-sm-12 col-12 col-xxl-3 col-xl-3 col-md-3">
      <p class="datos-factura text-xxl-start text-xl-start">Datos de la Factura</p>
    </div>
    <div class="col-12 col-sm-12 col-xxl-3 col-xl-3 col-md-3 mt-md-2">
      <p class="llenar-datos text-xxl-start text-xl-start">Llena todos los datos</p>
    </div>
    <div class="bg-colors col-xxl-6 col-xl-6 col-md-6 text-center d-none d-sm-none d-xl-block d-xxl-block d-md-block">
      <h5 class="datos-factura ">Tu Orden</h5>
      <p class="llenar-datos">Resumen de tu Pedido</p>
    </div>
  </div>
</section>

<section class="container-fluid mb-3">
  <div class="row">
    <app-formulario-pagar class="col-xl-6 col-xxl-6 col-md-6 col-12 col-sm-12 py-0 mt-3">
    </app-formulario-pagar>
    <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-5 mx-auto py-0 mt-3">
      <h5 class="datos-factura d-block d-sm-block d-xl-none d-xxl-none d-md-none">Tu Orden</h5>
      <p class="llenar-datos d-block d-sm-block d-xl-none d-xxl-none d-md-none">Resumen de tu Pedido</p>
      <div class="card px-2">
        <ng-container *ngIf="arrayProductsList.length>0; else notData">
          <div class="row mt-3" *ngFor="let product of arrayProductsList">
            <div class="col-sm-3 col-3 d-flex justify-content-center align-items-center">
              <img [src]="urlRepositorio+product.imagen" class="img-fluid" [alt]="arrayPagoProducts.id_artic" />
            </div>
            <div class="col-6 col-sm-6">
              <h6 class="nombre-producto mt-3">{{product.name}}</h6>
              <span class="product-item">{{product.item}} und.</span>
              <p class="envio-gratis">Envio</p>
            </div>
            <div class="col-3 col-sm-3">
              <ng-container *ngIf="!product.subtotal else existSubtotal">
                <p class="subtotal text-center mt-3"><b>{{ product.precio | currency:'USD'}}</b> </p>
              </ng-container>
              <ng-template #existSubtotal>
                <p class="subtotal text-center mt-3"><b>{{ product.subtotal | currency:'USD'}}</b> </p>
              </ng-template>
              <p class="envio-gratis text-center mt-5">{{product.precio_envio | currency:'USD'}}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-sm-5 col-5 col-md-6 py-3 mt-3">
              <p class="total-pagar"><b>Total a pagar</b></p>
            </div>
            <div class="col-xxl-6 col-xl-6 col-sm-7 col-7 col-md-6 text-end py-3 mt-3">
              <p class="subtotal"><b>{{totalAPagar | currency:'USD'}}</b></p>
            </div>
            <div class="col-xxl-12 col-sm-12 col-12 col-md-12 col-12 col-xl-12 px-4 py-3 mt-3">
              <button type="button" (click)="submitPagar(formB.formPagar.value)"
                [disabled]="formB.formPagar.invalid || arrayProductsList.length<=0" class="btn btn-dark btn-lg w-100"
                data-bs-toggle="modal" data-bs-target="#exampleModal">Finalizar Pedido</button>
            </div>
          </div>
        </ng-container>
        <ng-template #notData>
          <p class="text-center mt-3 py-3">No hay aún lista del producto en el carrito</p>
        </ng-template>
      </div>
    </div>
  </div>

</section>
<!-- <section class="modal-footer">
  <button type="button" (click)="submitPagar(formB.formPagar.value)"
    [disabled]="formB.formPagar.invalid || arrayProductsList.length<=0" class="btn btn-dark" data-bs-toggle="modal"
    data-bs-target="#exampleModal">Finalizar Pedido</button>
</section> -->
<!-- SECCION TARJETAS -->

<section class="container-fluid" id="paymentNext">
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <app-logo-luggo></app-logo-luggo>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-server">
          <ng-container *ngIf="!htmlServer">
            <p class="text-center mt-3 mb-3">Procesando...</p>
          </ng-container>
        </div>
        <!--        <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="irAOtraPAgina()">Siguiente</button>
        </div> -->
      </div>
    </div>
  </div>
</section>

<app-footer-index></app-footer-index>
