.btn-increment {
  width: 40px;
  height: 20px;
  background-color: #7549fe;
}
.container-item {
  overflow: auto;
  overflow-x: hidden;
}

.btn-increment:hover {
  background-color: #5d38ca;
}

.color-cabecera {
  background-color: rgba(32, 32, 57, 0.94);
}

.text-color{
  color: #56ffc2;
}

.cabecera-tamano{
  height: 40px;
}
.text-truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
