.form-label {
  cursor: pointer;
}

.mostrar {
  transition: opacity 0.15s ease;
  z-index: 1000;
}

.text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.185);
}

.span-estilo {
  background: #fff;
  color: #00000070;
}

.input-estilo {
  border-right: 0px;
}

.colors-group{
  height: 80px;
  overflow-y: auto;
}

.colors-group::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.colors-group::-webkit-scrollbar-track {
  background-color: transparent;
}
.colors-group::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
}
.bg-color-badge {
  background-color: #dbf6ff;
  color: #000;
}

.borders{
  padding: 0px;
}
