<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header mt-2">
    <div class="row row-header">
      <div class="col-xxl-11 col-xl-11 col-md-11 col-sm-11 col-11">
        <h5 id="offcanvasRightLabel">{{productoObjeto.name}}</h5>
        <span class="text-subtitle">{{productoObjeto.descripcion_articulo}}</span>
      </div>
      <div class="col-xxl-1 col-xl-1 col-md-1 col-sm-1 col-1 text-end">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <hr class="mt-3 col-xxl-11 col-xl-11 col-md-11 col-sm-11 col-11 mx-auto">
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 mb-3">
        <h6 class="text-center">Características del Producto</h6>
      </div>
      <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12 mt-2 "
        *ngFor="let list of productoObjeto.atributosVM">
        <div class="row">
          <div class="col-xxl-8 col-xl-8 col-md-8 col-sm-8 col-8 flex-text">
            <p>{{list.propiedad}}</p>
          </div>
          <div class="col-xxl-4 col-xl-4 col-md-4 col-sm-4 col-4 d-flex">
            <ng-container *ngIf="list.propiedad==='Color' else notColor">
              <p [style]="list.valor |SeparedComaColorBg:'colors'" class="style-colors">&nbsp;</p>
              <span class="mx-2">{{list.valor |SeparedComaColorBg:'name'}}</span>
            </ng-container>
            <ng-template #notColor>
              <span class="text">{{list.valor}}</span>
            </ng-template>
          </div>
          <hr class="mt-3 col-xxl-11 col-xl-11 col-md-11 col-sm-11 col-11 mx-auto">
        </div>
      </div>
    </div>
  </div>
</div>
