<div class="col-xxl-12 col-xl-12 col-sm-12 col-md-12 col-12">
  <div class="row">

    <div class="col-xxl-9 col-xl-9 col-md-9 col-sm-9 col-9">
      <p><b>Colores</b></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3 col-3">
      <p><b>Estado</b></p>
    </div>

    <div class="col-xl-9 col-xxl-9 col-md-9 col-sm-9 col-9 mb-3">
      <span *ngFor="let colores of productoObjeto?.color_articulo" class="badge rounded-circle mx-1"
        [style]="colores.codigoHexagedecima" title="{{colores.nombre_color}}">&nbsp;</span>
    </div>
    <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3 col-3 mb-3">
      <p>{{productoObjeto.Estado_Producto}}</p>
    </div>

    <div class="col-xxl-9 col-xl-9 col-md-9 col-sm-9 col-9">
      <p><b>Tipo material</b></p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3 col-3">
      <p><b>Modelo</b></p>
    </div>
    <div class="col-xxl-9 col-xl-9 col-md-9 col-sm-9 col-9">
      <p>{{productoObjeto.nombre_material}}</p>
    </div>
    <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-3 col-3">
      <p>{{productoObjeto.modelo}}</p>
    </div>
  </div>
</div>
