* {
  font-family: Cardium B-Light;
}
.cursor {
  cursor: pointer;
}
.hover-tables:hover {
  background-color: rgb(0 0 0 / 4%);
  cursor: pointer;
}
.text-bajo {
  color: rgba(0, 0, 0, 0.315);
}
.text-danger-pedidos {
  font-family: Cardium A-Medium;
  font-size: 22px;
  color: #ea2313;
  font-weight: 700;
}

.espacio {
  padding: 12px;
}
