<app-menu-index></app-menu-index>
<app-adn-cerrar-sesion></app-adn-cerrar-sesion>

<app-seccion-adn [NombreUbicacion]="'Mis pedidos'" [ruta]="ruta"></app-seccion-adn>


<section class="container mb-3 mt-auto py-3">
  <div class="row">
    <div class="col-xxl-5 col-xl-5 col-md-5 col-sm-4 col-4 mt-4">
      <h5 class="text-danger-pedidos">Mis pedidos</h5>
    </div>
    <div class="col-xl-7 col-xxl-7 col-sm-8 col-8 col-md-7 mt-4">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
        </div>
        <ng-container [formGroup]="formB.formSearch">
          <input type="text" class="form-control" placeholder="Buscar por n° de orden,fecha, realizado por"
            aria-label="Username" aria-describedby="filtrar-pedidos" formControlName="buscador">
      <!--     <button class="input-group-text" id="filtrar-pedidos">Buscar</button> -->
        </ng-container>
      </div>
    </div>
  </div>
  <!-- TABLA LIST -->
  <div class="row">
    <div class="table-responsive bg-white mt-3 mb-3 rounded ">
      <table class="table table-hover table-striped table-borderless">
        <thead>
          <tr>
            <th scope="col" class="text-center espacio">N° Orden</th>
            <th scope="col" class="text-center espacio">Fecha</th>
            <th scope="col" class="text-center espacio">Valor Pagado</th>
            <th scope="col" class="text-center espacio">Realizado por</th>
            <th scope="col" class="text-start espacio">Estado de Orden</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pedidos of arrayListaPedidos | filterPedidosLista:formB.formSearch.get('buscador')?.value | paginate: {itemsPerPage:8,currentPage:p};"
            (click)="buscarDetallePedido(pedidos.id);" class="cursor">
            <th scope="row" class="text-center espacio"><b>{{pedidos.NumeroOrden}}</b></th>
            <td class="text-center espacio">{{pedidos.Fecha | date: 'M-d-yyyy, h:mm a' }}</td>
            <td class="text-center espacio"><b>{{pedidos.Total | currency:'USD'}}</b></td>
            <td class="text-center espacio">{{pedidos.Orden}}</td>
            <td class="espacio"><span appStateBadge [estado]="pedidos.Estado" class="badge">{{pedidos.Estado}}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- PAGINATION  -->
    <div class="d-flex flex-row-reverse bd-highlight">
      <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente" [autoHide]="true"
        [responsive]="true" screenReaderPaginationLabel="Pagination">
      </pagination-controls>
    </div>
  </div>
</section>
<app-footer-index></app-footer-index>
