<div class="container">
  <div class="row py-5">
    <div class="col-md-3 mx-auto py-4 mt-4">
      <div class="text-center">
        <h1 class="text text-primary">Registrar</h1>
      </div>
      <form (ngSubmit)="submit();" [formGroup]="formB.registerUser">
        <div class="mb-4">
          <label for="validationServer1" class="form-label">Correo</label>
          <input type="email" class="form-control is-invalid" id="validationServer1" formControlName="email"
            aria-describedby="validationServer1Feedback" [class.is-invalid]="formB.registerUser.get('email')?.touched && formB.registerUser.get('email')?.invalid
          " placeholder="abc@example.com">
          <app-form-errors-container [forControl]="formB.registerUser.get('email')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="email"></app-message-error>
          </app-form-errors-container>
        </div>
        <div class="mb-4">
          <label for="validationServer2" class="form-label">Contraseña</label>
          <input type="password" id="validationServer2" class="form-control is-invalid" formControlName="contrasena"
            placeholder="********" aria-describedby="validationServer2Feedback" [class.is-invalid]="formB.registerUser.get('contrasena')?.touched && formB.registerUser.get('contrasena')?.invalid
            " autocomplete="off">
          <app-form-errors-container [forControl]="formB.registerUser.get('contrasena')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="minlength" customMsg="Debe tener 8 caracteres minimo">
            </app-message-error>
          </app-form-errors-container>
        </div>
        <div class="mb-4">
          <label for="validationServer3" class="form-label">Confirma Contraseña</label>
          <input type="password" id="validationServer3" aria-describedby="validationServer3Feedback" [class.is-invalid]="formB.registerUser.get('contrasena_conf')?.touched && formB.registerUser.get('contrasena_conf')?.invalid
          " class="form-control is-invalid" formControlName="contrasena_conf" placeholder="********"
            autocomplete="off">
          <app-form-errors-container [forControl]="formB.registerUser.get('contrasena_conf')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="minlength" customMsg="Debe tener 8 caracteres minimo">
            </app-message-error>
          </app-form-errors-container>
          <app-form-errors-container [forControl]="formB.registerUser">
            <app-message-error forErrorCode="passwordsMustBeEqual"></app-message-error>
          </app-form-errors-container>
        </div>
        <div class="text-center">
          <button type="submit" [disabled]="formB.registerUser.invalid"
            class="btn btn-outline-primary">Siguiente</button>
          <button type="button" (click)="limpiar();" class="btn btn-outline-warning mx-1">Limpiar</button>
          <a (click)="regresar()" class="btn btn-outline-danger mx-0">Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-3 col-3 col-sm-3 col-xl-3 col-xxl-3 ms-auto top-0 end-0 p-3">
  <div class="row">
    <app-errors-server [errors]="error" [message]="messageError">
      <br><br>
      <ng-content></ng-content>
    </app-errors-server>
  </div>
</div>
