.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.btn-color {
  background: #7549fe;
  font-family: Cardium B-Medium;
  color: #fff;
  font-size: 14px;
}
.tltle-cards {
  font-family: Cardium B-Bold;
  font-size: 21px;
}
.text-footer {
  color: #007bff;
  font-size: 14px;
  font-family: Cardium B-Medium;
}
.text-categorias {
  font-family: Cardium B-Medium;
  font-size: 14px;
  color: #000;
}
