<div class="container-fluid col-md-12 col-12 col-sm-12 col-xl-12 py-3 mt-auto mx-2">
  <div class="row  mt-2">
    <div class="col-md-4 col-xl-4 col-xxl-4 mt-5">
      <div class="col-md-12 col-12 col-xl-12 col-sm-12">

        <div class="card border mt-1">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 col-12 col-xxl-7 col-sm-12 col-xl-7">
                <b>
                  <h4 class="tltle-cards">Regístrate y dale un GO a tus compras</h4>
                </b>
              </div>
              <div class="col-md-12 col-xl-6 col-xxl-7 col-12 col-sm-7">
                <button class="btn btn-color button-font input-group">Ingresa de manera segura con</button>
              </div>
              <div class="col-md-12 col-12 col-xl-6 col-xxl-5 col-sm-5 mt-1 text-center">
                <a href="" class="mx-2">
                  <img loading="lazy" src="../../../../../assets/img/icons/Google - Original.png" alt="Icon google" />
                </a>
                <a href="" class="mx-2">
                  <svg width="35" height="35" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M23 11.5C23 5.14872 17.8513 0 11.5 0C5.14872 0 0 5.14872 0 11.5C0 17.2399 4.20536 21.9976 9.70312 22.8603V14.8242H6.7832V11.5H9.70312V8.96641C9.70312 6.08422 11.42 4.49219 14.0468 4.49219C15.3047 4.49219 16.6211 4.7168 16.6211 4.7168V7.54688H15.171C13.7425 7.54688 13.2969 8.43341 13.2969 9.34375V11.5H16.4863L15.9765 14.8242H13.2969V22.8603C18.7946 21.9976 23 17.2399 23 11.5Z"
                      fill="#1877F2" />
                  </svg></a>
                <a href="" class="mx-3">
                  <svg width="35" height="35" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.97164 9.97164H0V0H9.97164V9.97164Z" fill="#F1511B" />
                    <path d="M21.0001 9.97164H11.0093V0H20.9809V9.97164H21.0001Z" fill="#80CC28" />
                    <path d="M9.97164 21H0V11.0283H9.97164V21Z" fill="#00ADEF" />
                    <path d="M21.0001 21H11.0093V11.0283H20.9809V21H21.0001Z" fill="#FBBC09" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xl-12 col-sm-12 col-12 mt-4">
        <div class="card border">
          <div class="card-body">
            <div class="row">
              <div class="col-md-9 col-8 col-sm-8 col-xl-9 tltle-cards">
                <b>
                  Categorías más populares
                </b>
              </div>
              <div class="col-md-3 col-xl-3 col-xxl-3 col-4 text-center col-sm-4">
                <a href="" class="">Ver todo</a>
              </div>
              <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-xxl-4 text-center mt-3">
                <img loading="lazy" [src]="cardIcons1" class="img-fluid" alt="Tecnologia" />
                <p class="text-center text-categorias mt-3">Tecnología</p>
              </div>
              <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-xxl-4 text-center mt-3">
                <img loading="lazy" [src]="cardIcons2" class="img-fluid" alt="linea blanca" />
                <p class="text-center text-categorias mt-3">Línea Blanca</p>
              </div>
              <div class="col-md-4 col-4 col-sm-4 col-xl-4 col-xxl-4 text-center mt-3">
                <img loading="lazy" [src]="cardIcons3" class="img-fluid" alt="Herramientas" />
                <p class="text-center text-categorias mt-3">Herramientas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-12 col-xl-4 mt-5">
      <div class="card border">
        <div class="card-body">
          <h5 class="card-title tltle-cards mt-3">Lo más nuevo en tecnología</h5>
          <div class="row mt-3">
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card3Img1}}" class="img-fluid" alt="audifonos">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card3Img2}}" class="img-fluid" alt="Celulares">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card3Img3}}" class="img-fluid" alt="Drones">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card3Img4}}" class="img-fluid" alt="televisores">
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xl-12 col-12 mt-2">
            <p class="text-footer">Audífonos, celulares, drones, televisores y más...</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 col-12 col-xl-4 mt-5 mx-auto">
      <div class="card border">
        <div class="card-body">
          <h5 class="card-title tltle-cards mt-3">Ofertas del 30% de desc.</h5>
          <div class="row">
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6 ">
              <img loading="lazy" src="{{card4Img1}}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card4Img2}}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card4Img3}}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-center col-sm-6 col-6 col-xl-6">
              <img loading="lazy" src="{{card4Img4}}" class="img-fluid" alt="">
            </div>
            <div class="col-md-12 col-12 col-sm-12 col-xl-12 mx-2 mt-2">
              <p class="text-footer">Maletas, mancuernas, ollas, patinetas y más...</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
