.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.btn-color {
  background: #007bff;
  font-family: Cardium B-Medium;
  color: #fff;
  font-size: 14px;
}
.cardium-b {
  font-family: Cardium B-light;
}
.text-color-links {
  color: #ea2313;
  font-weight: 500;
  cursor: pointer;
}
.tltle-cards {
  font-family: Cardium B-Bold;
  font-size: 21px;
}
.cursor {
  cursor: pointer;
}
.text-footer {
  color: #007bff;
  font-size: 14px;
  font-family: Cardium B-Medium;
}
.text-categorias {
  font-family: Cardium B-Medium;
  font-size: 14px;
  color: #000;
}
.text-adn {
  color: #ea2313;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1300px) and (max-width: 1436px) {
  .text-footer {
    color: #007bff;
    font-size: 12px;
    font-family: Cardium B-Medium;
  }
  .text-categorias {
    font-family: Cardium B-Medium;
    font-size: 12px;
    color: #000;
  }
  .tltle-cards {
    font-family: Cardium B-Bold;
    font-size: 18px;
  }
  .btn-color {
    background: #007bff;
    font-family: Cardium B-Medium;
    color: #fff;
    font-size: 12.2px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .text-footer {
    color: #007bff;
    font-size: 12px;
    font-family: Cardium B-Medium;
  }
  .text-categorias {
    font-family: Cardium B-Medium;
    font-size: 12px;
    color: #000;
  }
  .tltle-cards {
    font-family: Cardium B-Bold;
    font-size: 16px;
  }
  .btn-color {
    background: #007bff;
    font-family: Cardium B-Medium;
    color: #fff;
    font-size: 11px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .text-footer {
    color: #007bff;
    font-size: 12px;
    font-family: Cardium B-Medium;
  }
  .text-categorias {
    font-family: Cardium B-Medium;
    font-size: 12px;
    color: #000;
  }
  .tltle-cards {
    font-family: Cardium B-Bold;
    font-size: 16px;
  }
  .btn-color {
    background: #007bff;
    font-family: Cardium B-Medium;
    color: #fff;
    font-size: 11px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .text-footer {
    color: #007bff;
    font-size: 12px;
    font-family: Cardium B-Medium;
  }
  .text-categorias {
    font-family: Cardium B-Medium;
    font-size: 12px;
    color: #000;
  }
  .tltle-cards {
    font-family: Cardium B-Bold;
    font-size: 16px;
  }
  .btn-color {
    background: #007bff;
    font-family: Cardium B-Medium;
    color: #fff;
    font-size: 11px;
  }
}

@media screen and (min-width: 766px) and (max-width: 1020px) {
  .text-footer {
    color: #007bff;
    font-size: 12px;
    font-family: Cardium B-Medium;
  }
  .text-categorias {
    font-family: Cardium B-Medium;
    font-size: 12px;
    color: #000;
  }
  .tltle-cards {
    font-family: Cardium B-Bold;
    font-size: 16px;
  }
  .btn-color {
    background: #007bff;
    font-family: Cardium B-Medium;
    color: #fff;
    font-size: 11px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .top-img {
    top: 534px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 720px;
  }
  .degradado {
    background: linear-gradient(180deg, #f1f3f600, #f1f3f6);
    height: 164px;
    position: absolute;
    top: 460px;
    z-index: 1;
  }
  .textOferta {
    font-family: Cardium B-Medium;
    font-size: 13px;
  }
  .tittle-cards {
    font-family: Cardium B-Bold;
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .top-img {
    top: 495px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 700px;
  }
  .degradado {
    background: linear-gradient(180deg, #f1f3f600, #f1f3f6);
    height: 164px;
    position: absolute;
    top: 374px;
    z-index: 1;
  }
  .textOferta {
    font-family: Cardium B-Medium;
    font-size: 13px;
  }
  .tittle-cards {
    font-family: Cardium B-Bold;
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .top-img {
    top: 475px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 690px;
  }
  .degradado {
    background: linear-gradient(180deg, #f1f3f600, #f1f3f6);
    height: 164px;
    position: absolute;
    top: 325px;
    z-index: 1;
  }
  .textOferta {
    font-family: Cardium B-Medium;
    font-size: 13px;
  }
  .tittle-cards {
    font-family: Cardium B-Bold;
    font-size: 18px;
  }
}
