.textOferta {
  font-family: Cardium B-Medium;
  font-size: 13px;
}
.carousel-tamano {
  height: 800px;
}
.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.top-img {
  top: 610px;
  z-index: 1;
}
.btn-carousel {
  width: 40px;
  height: 40px;
  color: #000000;
  background: #302f2f;
  top: 100px;
}
.tittle-cards {
  font-family: Cardium B-Bold;
  font-size: 21px;
}
.text-footer {
  color: #007bff;
  font-size: 14px;
  font-family: Cardium B-Medium;
}
/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 1400px) and (max-width: 1500px) {
  .top-img {
    top: 610px;
  }
  .carousel-tamano {
    height: 800px;
  }
}

/*RESPONSIVE*/
@media screen and (min-width: 1350px) and (max-width: 1399px) {
  .top-img {
    top: 550px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 740px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1349px) {
  .top-img {
    top: 500px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 700px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1299px) {
  .top-img {
    top: 480px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 690px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .top-img {
    top: 455px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 660px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1099px) {
  .top-img {
    top: 435px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 650px;
  }
}

@media screen and (min-width: 766px) and (max-width: 999px) {
  .top-img {
    top: 405px;
    z-index: 1;
  }
  .carousel-tamano {
    height: 610px;
  }
}
