<!-----CATEGORIA---->
<ng-container [formGroup]="formB.formCategorias">
  <div class="col-xl-12">
    <div class="input-group">
      <ng-container *ngIf="formB.categoriaSeleccionadas">
        <ng-container *ngFor="let categoriasSelect of formB.categoriaSeleccionadas; let i=index;">
          <span class="input-group-text border-badge" id="basic-addon1"><span
              class="badge bg-color-badge">{{categoriasSelect}}</span></span>
        </ng-container>
      </ng-container>
      <input type="text" class="form-control border-input" formControlName="nameCategoria"
        placeholder="Buscar categorias" aria-label="Recipient's username" id="floatingCategorias"
        aria-describedby="button-addon1" (focus)="categoriaFocus=true">
      <app-form-errors-container [forControl]="formB.formCategorias.get('ArticuloTieneCategoria')">
        <app-message-error forErrorCode="required" customMsg="Al menos escoja una categoría"></app-message-error>
      </app-form-errors-container>
    </div>
    <ng-container *ngIf="categoriaFocus">
      <div class="border bg-white w-100">
        <div class="form-check border-bottom"
          *ngFor=" let categorias of categoriasItems | FilterCategorias:formB.formCategorias.get('nameCategoria')?.value">
          <input class="form-check-input" type="checkbox" [id]="categorias.id"
            (change)="onChangeCheckBox(categorias.id,$event)" [value]="categorias.name">
          <label class="form-check-label" [for]="categorias.id">
            {{categorias.name}}
          </label>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
