.border-badge-color {
  background-color: #f9f2ff;
  color: #000;
  padding: 0px;
}
.color-input-group:nth-of-type(n + 2) {
  background-color: #fff;
  border-left: 0px;
  padding: 3px;
}
.color-input-group {
  background: #fff;
  border-right: 0px;
}

.cursor{
  cursor: pointer;
}
