<app-menu-index></app-menu-index>

<div class="container mt-5">
  <div class="row">
    <!--   <h4 class="text-center mt-4 mb-4">{{arrayDocuments?.title}}</h4> -->
    <div class="col-xxl-3 col-xl-3 col-md-3 col-sm-12 col-12">
      <ul class="list-group rounded">
        <li class="list-group-item text-title">{{arrayDocuments?.title}}</li>
        <ng-container *ngIf="arrayDocuments">
          <li *ngFor="let items of arrayDocuments.arrayFoldersPolitics"
            class="list-group-item list-group-item-action cursor text-subtitle" [ngClass]="{'text-primary':items.actived===true}"
            (click)="buscarDocument(items.id)">{{items.name}}</li>
        </ng-container>
      </ul>
    </div>
    <app-visualizar-document class="col-xxl-9 col-xl-9 col-md-9 col-sm-9 col-12 d-flex justify-content-center"
      [visualizarPDF]="arrayDocuments?.documentUrl"></app-visualizar-document>
  </div>
</div>
<app-footer-index></app-footer-index>
