<div class="position-relative m-4 mb-5">
  <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="50" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>
  <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill"
    data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" style="width: 2rem; height:2rem;"></button>
  <p class="position-absolute translate-middle start-0" style="top: 35px;">Cuéntanos sobre ti</p>
  <button type="button" class="position-absolute top-0 translate-middle btn btn-sm btn-secondary rounded-pill"
    style="width: 2rem; height:2rem; left: 30%;"></button>
  <p class="position-absolute translate-middle" style="left:30%;top: 35px;">Sobre tu Negocio</p>

  <button type="button" class="position-absolute top-0 translate-middle btn btn-sm btn-secondary rounded-pill"
    style="width: 2rem; height:2rem; left: 60%;"></button>
  <p class="position-absolute translate-middle" style="left: 60%; top: 35px;">Como recibirás tus pagos</p>

  <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill"
    style="width: 2rem; height:2rem;"></button>
  <p class="position-absolute translate-middle start-100" style="top: 35px;right: -178px;">¡Ya casi terminamos!</p>

</div>
