<div class="container-fluid col-12 col-md-12 col-xxl-12 col-xl-12 col-sm-12 py-auto mt-auto">
  <div class="row mx-auto mt-auto">
    <div class="col-md-6 col-sm-12 col-12 col-xxl-4 col-xl-4 py-auto mt-auto">
      <div class="card card-bordes mt-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
              <h4 class="text-cardium-b">Acompaña tu rutina</h4>
            </div>
            <div class="col-xl-6 col-xxl-6 col-6 col-sm-6 col-md-6 text-center">
              <img src="{{imgNovedades1}}" class="img-fluid" alt="">
              <p class="text-primary">Equipos de Entrenamiento</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades2}}" class="img-fluid" alt="">
              <p class="text-primary">Equipos de ciclismo</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades3}}" class="img-fluid" alt="">
              <p class="text-primary">Ropa deportiva</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades1}}" class="img-fluid" alt="">
              <p class="text-primary">Calzado Deportivo</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-12 col-xxl-4 col-xl-4 py-auto mt-auto">
      <div class="card card-bordes mt-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
              <h4 class="text-cardium-b">Remuevate de lo mejor</h4>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades5}}" class="img-fluid" alt="">
              <p class="text-primary">Audifonos</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades6}}" class="img-fluid" alt="">
              <p class="text-primary">Herramientas</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades7}}" class="img-fluid" alt="">
              <p class="text-primary">Celulares</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades5}}" class="img-fluid" alt="">
              <p class="text-primary">Televisores</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 col-12 col-xxl-4 col-xl-4 py-auto mt-auto mx-auto">
      <div class="card card-bordes mt-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
              <h4 class="text-cardium-b">En casa todo es mejor</h4>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades1}}" class="img-fluid" alt="">
              <p class="text-primary">Muebles de Hogar</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades3}}" class="img-fluid" alt="">
              <p class="text-primary">Cocina</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades5}}" class="img-fluid" alt="">
              <p class="text-primary">Electrónicos</p>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 col-sm-6 text-center">
              <img src="{{imgNovedades2}}" class="img-fluid" alt="">
              <p class="text-primary">Sofás de Sala</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
