* {
  font-family: Cardium B-SemiBold;
}
.text-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input-group-text {
  border-left: 0px;
  background-color: #fff;
}
.input-border {
  border-right: 0px;
}
.btn-color {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.555);
  border-radius: 6px;
}
.btn-color:hover {
  background-color: #ea2313;
  border: 1px solid #ea2313;
  color: #fff;
}

button {
  max-width: 80%;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media  screen and (max-width:880px) {
  h5{
    font-size: 18px;
  }
  .text-flex{
    display: block;
  }
  .repsonsive-movil{
    text-align: end;
  }
}
