<div class="container-fluid col-xl-12 col-md-12 col-sm-12 col-12 mx-auto">
  <div class="row mx-auto">
    <p class="font-weight-bold title"><b>Ultimas Novedades en</b> <a class="mx-2 btn-link">Ver todo</a></p>
  </div>
  <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mx-auto">
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades6}}" class="rounded img-fluid mx-4 mt-3" alt="audifonos" />
              <div class="col-md-12 card-body">
                <p class="text-card-footer text-center">Audifonos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades1}}" alt="ciclismo" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Equipos de ciclismos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades2}}" alt="herramientas" class="rounded img-fluid mx-4 mt-3">
              <div class="card-body">
                <p class="text-card-footer text-center">Herramientas</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades3}}" alt="muebles-hogar" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Muebles de Hogar</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades1}}" alt="ropa deportiva" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Ropa deportiva</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades2}}" alt="electrodomesticos" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Electrodomesticos</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades6}}" class="rounded img-fluid mx-4 mt-3" alt="audifonos" />
              <div class="col-md-12 card-body">
                <p class="text-card-footer text-center">Audifonos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades7}}" alt="ciclismo" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Equipos de ciclismos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades3}}" alt="herramientas" class="rounded img-fluid mx-4 mt-3">
              <div class="card-body">
                <p class="text-card-footer text-center">Herramientas</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades9}}" alt="muebles-hogar" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Muebles de Hogar</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades10}}" alt="ropa deportiva" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Ropa deportiva</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-12 col-sm-12 col-xxl-2 col-xl-2 mx-auto">
            <div class="card border">
              <img src="{{imgNovedades1}}" alt="electrodomesticos" class="rounded img-fluid mx-4 mt-3" />
              <div class="card-body">
                <p class="text-card-footer text-center">Electrodomesticos</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev btn-carousel rounded-circle mx-auto" type="button"
      data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-carousel rounded-circle mx-auto" type="button"
      data-bs-target="#carouselExampleFade2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
