<div class="container-fluid">
  <div class="row">
    <p class="font-weight-bold"><b>Ultimas Novedades en</b> <a class="mx-2 btn-link">Ver todo</a></p>
  </div>
  <div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades5}}" class="rounded img-card-tamano mx-4 mt-3" alt="audifonos" />
              <div class="col-md-12 card-body">
                <p class="text-primary text-center">Audifonos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades1}}" alt="ciclismo" class="rounded img-card-tamano mx-4 mt-3" />
              <div class="card-body">
                <p class="text-primary text-center">Equipos de ciclismos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades4}}" alt="herramientas" class="rounded img-card-tamano mx-4 mt-3">
              <div class="card-body">
                <p class="text-primary text-center">Herramientas</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades3}}" alt="muebles-hogar" class="rounded img-card-tamano mx-4 mt-3" />
              <div class="card-body">
                <p class="text-primary text-center">Muebles de Hogar</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades2}}" alt="ropa deportiva" class="rounded img-card-tamano mx-4 mt-3" />
              <div class="card-body">
                <p class="text-primary text-center">Ropa deportiva</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="{{imgNovedades3}}" alt="electrodomesticos" class="rounded img-card-tamano mx-4 mt-2" />
              <div class="card-body">
                <p class="text-primary text-center">Electrodomesticos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-2 mx-2 card-tamaño">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Biberones y accesorios</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Cocinas</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Televisores</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Equipo de entrenamiento</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Juguetes</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Maletas y bolsas de viajes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Cosmeticos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Equipos de cosmeticos</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Herramientas</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Muebles de Hogar</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Ropa deportiva</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="card border">
              <img src="" alt="">
              <div class="body">
                <p class="text-primary">Electrodomesticos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev btn-carousel rounded-circle mx-3" type="button"
      data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next btn-carousel rounded-circle mx-3" type="button"
      data-bs-target="#carouselExampleFade2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
