.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}
.btn-carousel {
  width: 40px;
  height: 40px;
  top: 100px;
  color: #000000;
  background: #302f2f;
}
.img-card-tamano {
  width: 180px;
  height: 180px;
}
.card-tamaño{
  width: 250px;
  height: 270px;
}
