<div class="container">
  <div class="row py-5">
    <div class="col-md-3 mx-auto py-4 mt-4">
      <div class="text-center">
        <h2 class="text text-primary">Cambiar Contraseña</h2>
      </div>
      <form (ngSubmit)="submit();" [formGroup]="formB.passwordReset">
        <div>
          <div class="mb-4">
            <label for="contrasena" class="form-label">Nueva Contraseña</label>
            <input type="password" id="contrasena" class="form-control" formControlName="contrasena"
              placeholder="Confirmar contraseña" autocomplete="off">
          </div>
          <app-form-errors-container [forControl]="formB.passwordReset.get('contrasena')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="minlength" customMsg="Debe tener 8 caracteres minimo">
            </app-message-error>
          </app-form-errors-container>
          <div class="mb-4">
            <label for="contrasena_conf" class="form-label">Confirmar Contraseña</label>
            <input type="password" id="contrasena_conf" class="form-control" formControlName="contrasena_conf"
              placeholder="Confirmar contraseña" autocomplete="off">
          </div>
          <app-form-errors-container [forControl]="formB.passwordReset.get('contrasena_conf')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="minlength" customMsg="Debe tener 8 caracteres minimo">
            </app-message-error>
          </app-form-errors-container>
          <app-form-errors-container [forControl]="formB.passwordReset">
            <app-message-error forErrorCode="passwordsMustBeEqual"></app-message-error>
          </app-form-errors-container>
          <div class="text-center">
            <button type="submit" [disabled]="formB.passwordReset.invalid"
              class="btn btn-outline-primary">Confirmar</button>
            <a (click)="regresarLogin();" class="btn btn-outline-danger mx-3">Regresar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
