<div class="color-container">
  <div class="container mt-5">
    <div class="row py-4">
      <div class="col-xl-12 col-12 col-sm-12 col-md-12 col-xxl-12 text-center">
        <app-logo-luggo></app-logo-luggo>
      </div>
      <div class="col-md-8 col-xxl-4 col-xl-4 col-12 col-sm-12 mx-auto mt-4 card">
        <div class="card-body">
          <h2 class="text title text-center">Recuperar contraseña</h2>
          <hr>
          <div class="card-text">
            <span class="subtitle">Por favor para recibir el codigo de acceso para el cambio de contraseña, introduce el
              correo electrónico que proporcionastes durante el proceso de registro.</span>
          </div>
        </div>
        <form (ngSubmit)="submit();" [formGroup]="formB.buscarUser" class="card-body">
          <!-----  <app-errors-server [errors]="error"
          message="El correo{{formB.buscarUser.get('user')?.value}} no se encuentra registrado en el sistema">
          <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12">
            <div class="row">
              <ng-content></ng-content>
            </div>
          </div>
        </app-errors-server>-->
          <app-success-server [success]="success"
            message="Se a enviado un correo al siguiente email {{formB.buscarUser.get('user')?.value}} para el cambio de contraseña">
            <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12">
              <div class="row">
                <ng-content></ng-content>
              </div>
            </div>
          </app-success-server>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" formControlName="user"
              placeholder="name@example.com" autocomplete="off">
            <label for="floatingInput">Correo electrónico</label>
          </div>
          <div class="text-center col-xl-12 col-xxl-12 col-sm-12 col-md-12 col-12">
            <div class="row">
              <div class="col-xl-7 col-sm-7 col-xxl-7 col-md-7 col-7">
                <a (click)="regresarLogin();" class="btn btn-regresar mx-auto">Regresar al login</a>
              </div>
              <div class="col-xl-3 col-sm-3 col-xxl-3 col-md-3 col-3 mx-auto">
                <button type="submit" [disabled]="formB.buscarUser.invalid" class="btn btn-enviar">Enviar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
