.title{
  font-family: Cardium B-Bold;
}
.subtitle{
  font-family: Cardium B-Medium;
  font-size: 15px;
  text-align: justify;
}
.btn-enviar {
  background: #7549fe;
  color: #fff;
  font-family: Cardium B-Medium;
}
.btn-regresar{
  background: #e9ecef;
  font-family: Cardium B-Medium;
  color: black;
}
.btn-regresar:hover{
  background: #d1d4d6;
  font-family: Cardium B-Medium;
  color: black;
}
.color-container{
  background-color: #F1F3F6;
}
