.img-fluid-404 {
  max-width: 33%;
  height: auto;
  margin: 0 auto;
}
.btn-dark {
  width: 40%;
  margin: 0 auto;
}
* {
  font-family: Cardium B-Medium;
}
.text-center {
  font-size: 16px;
  font-weight: 700;
  line-height: 22.15px;
}
