<app-menu-index></app-menu-index>
<div class="container-fluid color-background ">
  <div class="row margin-left-row">
    <div class="text-white p-5">
      <h4 class="mt-5 text-title">Hola, te damos la bienvenida a Servicio al Cliente de Puertto</h4>
      <p class="text-subtitle">Selecciona una de estas opciones para ofrecerte una ayuda específica.</p>
    </div>
  </div>
  <div class="row p-5 d-flex justify-content-center">
    <ng-container *ngFor="let items of ArrayItems">
      <div
        class="col-xl-3 col-xxl-3 col-md-5 col-sm-12 col-12 mb-4 p-xxl-3 p-xl-3 px-md-3 p-sm-3 p-3 bg-white border rounded cursor"
        (click)="irRuta(items.route)"
        >
        <div class="d-flex">
          <img [src]="items.img" [alt]="items.id" class="img-fluid" />
          <span class="mx-3 mt-xxl-2 mt-xl-2 mt-md-2 mt-sm-2 mt-2 text-subtitle-cards">{{items.name}}</span>
        </div>
      </div>
      <div style="width:2%;"></div>
    </ng-container>
  </div>
</div>
<div class="container-fluid color-background p-5"></div>
<app-footer></app-footer>
