<header>
  <app-menu-vendedor></app-menu-vendedor>
</header>
<section class="mt-4">
  <h5>DASHBOARD</h5>
</section>
<!------CARD PRIONCIPAL DASHBOARD------>
<app-card-principal class="mb-3"></app-card-principal>
<!------GRAFICO DE BARRAS Y TABLA DASHBOARD------>
<app-grafico-barras></app-grafico-barras>
<!---------CARD SECUNDARIOS DEL DASHBOARD------------->
<app-card-secundario></app-card-secundario>
<!-----------LINEAL GRAFICO DASHBOARD---------->
<app-lineal-grafico></app-lineal-grafico>
<!-------------GRAFICO DE PASTEL DASHBOARD---------------->
<app-pastel-grafico></app-pastel-grafico>
<!-------FOOTER----------->
<footer>
  <app-footer2></app-footer2>
</footer>
