* {
  font-family: Cardium A-Medium;
}
.cursor {
  cursor: pointer;
}
.title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.celular {
  font-size: 18px;
  font-weight: 600;
  color: #ea2313;
}

.flex-box {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 880px) {
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 15px;
  }
  .celular {
    font-size: 15px;
  }
}
