<div class="container-fluid footer-color">
  <div class="row">
    <div class="col-md-12 text-center mt-4">
      <h3>Que es luggo?</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quae suscipit.
      </p>
    </div>
    <div class="col-md-12 mx-5 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mx-5">
            <h3>LOREM IPSUM</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis error, adipisci possimus laudantium amet
              sit
              dolor consectetur fugiat enim! Aliquam commodi soluta veritatis aspernatur similique, minus fugit fugiat.
              Beatae, reprehenderit?
              Quasi officia autem similique provident,
            </p>
          </div>
          <div class="col-md-3 mx-5">
            <h3>LOREM IPSUM</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugit explicabo nesciunt sunt, ad
              deserunt
              error! Sit autem harum sequi repudiandae inventore doloribus magnam necessitatibus ullam laboriosam. Quae,
              minus placeat.
              Eveniet consequatur maxime quisquam odio,
            </p>
          </div>
          <div class="col-md-3 mx-5">
            <h3>LOREM IPSUM</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit necessitatibus, doloremque earum tenetur vel
              facilis dolorem autem ratione accusantium cupiditate libero dolores veritatis quia voluptatum deleniti
              fuga
              quasi molestiae totam.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center mt-4 py-5">
      <h3>¿Lorem ipsum dolor sit amet ?</h3>
      <button class="btn btn-color">Conoce más de nosotros</button>
    </div>
  </div>
</div>
