* {
  font-family: Cardium B-Medium;
}

.btn-modal {
  background: #7549fe;
  color: #fff;
  font-family: Cardium A-Bold;
}
#formFile {
  opacity: 0;
}

.position-absolute{
  z-index: 10;
  overflow: auto;
}
