<header>
  <app-menu-vendedor></app-menu-vendedor>
</header>
<!---SECTIONS CREAR PRODUCTOS---->
<section>
  <div class="accordion col-xl-11 col-xxl-11 col-md-11 col-sm-12 col-12 mx-auto" id="accordionExample">
    <div class="accordion-item border-0">
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
        data-bs-parent="#accordionExample">
        <div class="container-fluid rounded mt-3">
          <div class="row">
            <div class="col-xl-12 col-xxl-12 col-md-12 mb-3 mt-3">
              <app-progress-stepper [width]="'width:35%;'"
                [btn-primary]="'position-relative top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill'">
              </app-progress-stepper>
            </div>
            <div class="col-md-12 col-xxl-12 col-xl-12 col-12 col-sm-12">
              <form [formGroup]="formB.formProducts">
                <input type="hidden" formControlName="id_product">
                <div class="row">
                  <!------NOMBRE, MARCA, TIPO PRODUCTO----->
                  <div class="col-xl-3">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control is-invalid" formControlName="sku" id="floatingSku"
                        [class.is-invalid]="formB.formProducts.get('sku')?.invalid" placeholder="Nombre del producto">
                      <label for="floatingSku">SKU</label>
                      <app-form-errors-container [forControl]="formB.formProducts.get('sku')">
                        <app-message-error forErrorCode="pattern"
                          customMsg="No se admiten caracteres especiales: </>||¿¿''">
                        </app-message-error>
                      </app-form-errors-container>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control is-invalid" formControlName="nombre_articulo"
                        id="floatingNombre"
                        [class.is-invalid]="formB.formProducts.get('nombre_articulo')?.touched && formB.formProducts.get('nombre_articulo')?.invalid"
                        placeholder="Nombre del producto">
                      <label for="floatingNombre">Nombre
                      </label>
                      <app-form-errors-container [forControl]="formB.formProducts.get('nombre_articulo')">
                        <app-message-error forErrorCode="required"></app-message-error>
                        <app-message-error forErrorCode="minlength" customMsg="Debe tener al menos 12 caracteres">
                        </app-message-error>
                        <app-message-error forErrorCode="pattern" customMsg="No se admiten caracteres especiales">
                        </app-message-error>
                      </app-form-errors-container>
                    </div>
                  </div>
                  <div class="col-xl-3">
                    <div class="form-floating mb-3">
                      <select class="form-select is-invalid" id="floatingSelect" formControlName="marca"
                        [class.is-invalid]="formB.formProducts.get('marca')?.touched && formB.formProducts.get('marca')?.invalid"
                        aria-label="Floating label select example">
                        <option value="" selected>Seleccionar</option>
                        <option *ngFor="let marca of marcaItems" [value]="marca.id_marca" selected>
                          {{marca.nombre_marca}}</option>
                      </select>
                      <label for="floatingSelect">Marca</label>
                    </div>
                    <app-form-errors-container [forControl]="formB.formProducts.get('marca')">
                      <app-message-error forErrorCode="required"></app-message-error>
                    </app-form-errors-container>
                  </div>
                </div>
                <!----Detalle del articulo------->
                <div class="row">
                  <!-------DESCRIPCION--------->
                  <div class="col-xl-12 col-sm-12 col-12 col-md-12 col-xxl-12">
                    <div class="form-floating mb-3">
                      <textarea class="form-control is-invalid" id="floatingDetalle"
                        formControlName="descripcion_articulo"
                        [class.is-invalid]="formB.formProducts.get('descripcion_articulo')?.touched && formB.formProducts.get('descripcion_articulo')?.invalid"
                        placeholder="Detalle del producto" style="height: 100px"></textarea>
                      <label for="floatingDetalle">Descripcion</label>
                      <app-form-errors-container [forControl]="formB.formProducts.get('descripcion_articulo')">
                        <app-message-error forErrorCode="required"></app-message-error>
                        <app-message-error forErrorCode="minlength" customMsg="Debe tener al menos 12 caracteres">
                        </app-message-error>
                        <app-message-error forErrorCode="pattern" customMsg="No se admiten caracteres especiales">
                        </app-message-error>
                      </app-form-errors-container>
                    </div>
                  </div>
                  <div class="col-xl-12 col-sm-12 col-12 col-md-12 col-xxl-12">
                    <!--------CARACTERISTICAS---------->
                    <div class="form-floating mb-3">
                      <textarea type="text" class="form-control" formControlName="caracteristicas" id="floatingCantidad"
                        [class.is-invalid]="formB.formProducts.get('caracteristicas')?.touched && formB.formProducts.get('caracteristicas')?.invalid"
                        placeholder="Cantidad del producto" style="height: 100px;"></textarea>
                      <label for="floatingCantidad">Caracteristicas</label>
                      <app-form-errors-container [forControl]="formB.formProducts.get('caracteristicas')">
                        <app-message-error forErrorCode="required"></app-message-error>
                        <app-message-error forErrorCode="minlength" customMsg="Debe al menos 12 caracteres">
                        </app-message-error>
                        <app-message-error forErrorCode="pattern" customMsg="Solo letras">
                        </app-message-error>
                      </app-form-errors-container>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-------APP CATEGORIAS-------->
                  <div class="col-xl-6 col-sm-6 col-md-6 col-xxl-6 col-6">
                    <app-categorias></app-categorias>
                  </div>
                  <!----------FORM ETIQUETAS----------->
                  <div class="col-xl-6 col-sm-6 col-md-6 col-xxl-6 col-6 position-relative">
                    <app-form-etiquetas></app-form-etiquetas>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="irProducto();">Cancelar</button>
                  <button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                    [disabled]="formB.formProducts.invalid || formEtiqueta.formEtiquetas.invalid || formCategoria.formCategorias.invalid">Continuar
                    &nbsp;<svg width="7" height="20" viewBox="0 0 7 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M6.25627 5.40406L1.91551 1.26667C1.82034 1.17521 1.70711 1.10261 1.58235 1.05307C1.4576 1.00353 1.32379 0.978027 1.18864 0.978027C1.05349 0.978027 0.919677 1.00353 0.794922 1.05307C0.670167 1.10261 0.556938 1.17521 0.461765 1.26667C0.271088 1.4495 0.164062 1.69681 0.164062 1.95461C0.164062 2.2124 0.271088 2.45972 0.461765 2.64255L4.08589 6.09688L0.461765 9.55121C0.271088 9.73404 0.164062 9.98136 0.164062 10.2392C0.164063 10.4969 0.271088 10.7443 0.461765 10.9271C0.557426 11.0175 0.670876 11.0891 0.795609 11.1376C0.920341 11.1862 1.0539 11.2108 1.18864 11.2101C1.32337 11.2108 1.45694 11.1862 1.58167 11.1376C1.7064 11.0891 1.81985 11.0175 1.91551 10.9271L6.25627 6.7897C6.35223 6.69898 6.42839 6.59106 6.48036 6.47215C6.53234 6.35324 6.5591 6.22569 6.5591 6.09688C6.5591 5.96806 6.53234 5.84052 6.48036 5.72161C6.42839 5.6027 6.35223 5.49477 6.25627 5.40406Z"
                        fill="white" />
                    </svg>
                  </button>
                  <!--                   <app-buttons-load [modal]="true" [load]="load" [formB]="formB.formProducts"
                    [valueButton]="activar?'Siguiente':'Editar'">
                  </app-buttons-load> -->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="acordion-item border-0">
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <app-configuracion-producto></app-configuracion-producto>
      </div>
    </div>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <app-imagen-productos></app-imagen-productos>
    </div>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <app-logistica-producto></app-logistica-producto>
    </div>
  </div>
</section>

<button class="btn btn-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
  aria-expanded="true" aria-controls="collapseTwo">TWO</button>
<!-- <button class="btn btn-primary collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
  aria-controls="collapseFour" (click)="addAtributos()">THREE</button> -->
