.border {
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 0px solid #000000;
}

.card-color {
  background-color: #fff3f8;
}
