<div class="container-fluid col-xl-12 col-12 col-sm-12 col-md-12 py-5 mt-2">
  <div class="row mx-auto">
    <div class="col-md-12 col-xl-12 col-12 col-sm-12">
      <div class="card border">
        <div class="row mx-auto">

          <div class="col-md-2 col-xl-2 col-sm-12 col-12 py-4">
            <div class="card border-0 mt-auto mx-auto" style="width: 274px;">
              <img src="{{card1Img1}}" alt="">
              <button class="btn btn-primary">Regalos para San Valentín</button>
            </div>
          </div>

          <div class="col-md-9 col-xl-9 col-sm-12 col-12 mx-auto">
            <div class="row mx-auto">
              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card2Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row mx-auto">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Sonido Perfecto</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">Audifonos para el o ella</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 c col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card3Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Su mejor versión</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">Maquillaje para ella</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card4Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Moda Fitness</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">La mejor tecnología</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card5Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Detalles inolvidables</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">Arreglos personalizados</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card6Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Moda Juvenil</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">Gorras para él</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 col-4 col-sm-4 col-xl-4 mx-auto">
                      <img src="{{card7Img1}}" alt="">
                    </div>
                    <div class="col-md-8 col-xl-8 col-6 col-sm-6 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-4"><b>Fashion Woman</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12">Moda en zapatos</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
