<div class="container-fluid py-5 mt-2">
  <div class="row">
    <div class="col-md-12">
      <div class="card boder">
        <div class="row">

          <div class="col-md-2 py-4 mx-5">
            <div class="card border-0">
              <img src="{{card1Img1}}" alt="">
              <button class="btn btn-primary">Regalos para San Valentín</button>
            </div>
          </div>

          <div class="col-md-9 mx-2">
            <div class="row">
              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card2Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Sonido Perfecto</b></div>
                        <div class="col-md-12">Audifonos para el o ella</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card3Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Su mejor versión</b></div>
                        <div class="col-md-12">Maquillaje para ella</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card4Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Moda Fitness</b></div>
                        <div class="col-md-12">La mejor tecnología</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card5Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Detalles inolvidables</b></div>
                        <div class="col-md-12">Arreglos personalizados</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card6Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Moda Juvenil</b></div>
                        <div class="col-md-12">Gorras para él</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-4 mx-4">
                      <img src="{{card7Img1}}" alt="">
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 mt-4"><b>Fashion Woman</b></div>
                        <div class="col-md-12">Moda en zapatos</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
