<app-progress-stepper [width]="'width:100%'"
  [btn-secondary]="'position-relative top-0 start-25 translate-middle btn btn-sm btn-primary rounded-pill'"
  [btnTerceary]="'position-absolute top-0 start-75 translate-middle btn btn-sm btn-primary rounded-pill'">
</app-progress-stepper>
<div class="container-fluid">
  <div class="row mx-3 mb-3">
    <div class="col-xl-3">
      <img loading="lazy"
        src="https://thumbs.dreamstime.com/b/bal%C3%B3n-de-f%C3%BAtbol-aislado-en-el-fondo-blanco-bola-negra-y-plata-del-130934781.jpg"
        width="183px" height="183px" class="img-fluid">
    </div>
    <div class="col-xl-1">
      <img loading="lazy"
        src="https://thumbs.dreamstime.com/b/bal%C3%B3n-de-f%C3%BAtbol-aislado-en-el-fondo-blanco-bola-negra-y-plata-del-130934781.jpg"
        width="55px" height="55px" />
      <img loading="lazy"
        src="https://thumbs.dreamstime.com/b/bal%C3%B3n-de-f%C3%BAtbol-aislado-en-el-fondo-blanco-bola-negra-y-plata-del-130934781.jpg"
        width="55px" height="55px" />
      <img loading="lazy"
        src="https://thumbs.dreamstime.com/b/bal%C3%B3n-de-f%C3%BAtbol-aislado-en-el-fondo-blanco-bola-negra-y-plata-del-130934781.jpg"
        width="55px" height="55px" />
    </div>
  </div>
</div>
