<!-- Modal -->
<div class="modal fade" id="AgregarColeccion" tabindex="-1" aria-labelledby="AgregarColeccionLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AgregarColeccionLabel">Registrar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (submit)="setValueColeccionLista();" [formGroup]="formB.formListaDeseos">
          <input type="hidden" class="" formControlName="Id_usuario" id="floatingNombre"
            placeholder="Nombre del producto">
          <!-----------NOMBRE DE LA COLECCION----------------->
          <div class="form-floating mb-3">
            <input type="text" class="form-control is-invalid" formControlName="nombre" id="floatingNombre"
              [class.is-invalid]="formB.formListaDeseos.get('nombre')?.touched && formB.formListaDeseos.get('nombre')?.invalid"
              placeholder="Nombre del producto">
            <label for="floatingNombre">Nombre de la colección</label>
            <app-form-errors-container [forControl]="formB.formListaDeseos.get('nombre')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="minlength" customMsg="Debe tener al menos 3 caracteres">
              </app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="No se admiten caracteres especiales">
              </app-message-error>
            </app-form-errors-container>
          </div>
          <div formArrayName="Detalle_Lista_deseos">
            <button type="button" class="btn btn-add mb-2" (click)="addArticulo()">Agregar artículo</button>
            <ng-container *ngFor="let articulos of formB.detalleArticulos.controls; let i=index" [formGroupName]="i">
              <div class="input-group mb-3">
                <select class="form-select is-invalid input-border" formControlName="id_detalle_articulo"
                  aria-label="Default select example"
                  [class.is-invalid]="articulos.get('id_detalle_articulo')?.touched && articulos.get('id_detalle_articulo')?.invalid">
                  <option value="" selected>Escoja el articulo</option>
                  <option *ngFor="let productoList of dataListProductos" [value]="productoList.id_artic">
                   {{productoList.name}}
                  </option>
                </select>
                <button class="btn btn-danger border-button" type="button" id="button-addon1"
                  aria-label="Example text with button addon" aria-describedby="button-addon1"
                  (click)="removeArticulo(i)">x</button>
              </div>
              <app-form-errors-container [forControl]="articulos.get('id_detalle_articulo')">
                <app-message-error forErrorCode="required"></app-message-error>
              </app-form-errors-container>
            </ng-container>
          </div>
          <app-buttons-load [formB]="formB.formListaDeseos" [valueButton]="'Guardar'" [load]="load" data-bs-dismiss="modal" aria-label="Close"></app-buttons-load>
        </form>
      </div>
    </div>
  </div>
</div>
