.text-tamano {
  font-size: 38px;
}
.color-texto {
  font-size: 38px;
  color: #c08eff;
}
.border-botton {
  border: 6px solid #7549fe;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 34px;
}

.border-botton:hover {
  color: #fff;
  background-color: #7549fe;
}

* {
  font-family: Cardium B-Medium;
}
