<!----CAROUSEl---->
<section>
  <app-section-carousel></app-section-carousel>
</section>
<!-----SECTION DE NOTICIAS---->
<!-- <section>
  <app-section-noticias></app-section-noticias>
</section> -->
<!--------SECTION DE ULTIMAS NOVEDADES----->
<!-- <section>
  <app-section-novedades></app-section-novedades>
</section> -->
<!---------SECTION OFERTAS------------------>
<!-- <section>
  <app-section-ofertas></app-section-ofertas>
</section> -->
<!----------SECTION OFERTAS 2-------------->
<!-- <section>
  <app-section-ofertas2></app-section-ofertas2>
</section> -->
<!-----------------SECTION CARDS INFORMATION------------------------>
<!-- <section>
  <app-section-cards-information></app-section-cards-information>
</section> -->
<!-------------------SeCTION CARDS SErVICIOS-->
<section class="py-4">
  <app-section-servicios></app-section-servicios>
</section>
<!---------------------SeCTION CARDS OFERTAS------------------------------>
<section>
  <app-section-cards-ofertas></app-section-cards-ofertas>
</section>
