* {
  font-family: Cardium B-Medium;
}

.img-responsive {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media screen and (max-width: 680px) {
  .img-responsive {
    width: 100%;
    height: 100px;
  }
}
