<header>
  <app-menu></app-menu>
  <app-menu2></app-menu2>
</header>
<section class="container-fluid mb-3">
  <div class="row">
    <div class="col-xl-5 col-xxl-5 col-md-5 col-sm-12 col-12 mt-4">
      <app-imagen-products [imagenArray]="productoObjeto?.imagen" [imagenZoom]="productoObjeto?.imagen_zoom">
      </app-imagen-products>
    </div>
    <div class="col-xl-5 col-xxl-5 col-md-6 col-sm-12 col-12 mt-4 mb-3">
      <div class="row">
        <app-product-description [productoObjeto]="productoObjeto"></app-product-description>
        <!--         <app-atributos-descripcion [productoObjeto]="productoObjeto.atributes"></app-atributos-descripcion> -->
        <app-button-add-or-list [productoObjeto]="productoObjeto"></app-button-add-or-list>
      </div>
    </div>
    <div class="col-xl-5 col-xxl-5 col-md-6 col-sm-12 col-12 mt-4 mb-3">
      <p>Características del Producto</p>
      <hr>
    </div>
  </div>
</section>


<!---------- FOOTER   ----------->
<footer>
  <app-footer-index></app-footer-index>
</footer>
