<header>
  <app-menu></app-menu>
  <app-menu2></app-menu2>
</header>
<section class="container-fluid mb-3">
  <div class="row" *ngFor="let product of productoArray">
    <div class="col-xl-5 col-xxl-5 col-md-5 col-sm-12 col-12 mt-4">
      <app-imagen-products [imagenArray]="product.imagenes"></app-imagen-products>
    </div>
    <div class="col-xl-5 col-xxl-5 col-md-6 col-sm-12 col-12 mt-4">
      <h4>{{product.title}}</h4>
      <p class="text-info">Precio: <span class="text-danger">{{product.precio}}</span></p>
      <ul>
        <li *ngFor="let productList of product.lista">{{productList}}</li>
      </ul>
    </div>
  </div>
</section>
<!---------- FOOTER   ----------->
<footer>
  <app-footer-index></app-footer-index>
</footer>
