<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Secondary Main">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
    aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link abrir" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          &#9776; Todo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-item" aria-current="page" href="#">Lo más vendido</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-item" href="#">Lo más nuevo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-item" href="#" tabindex="-1" aria-disabled="true">Promociones</a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-item" href="#" tabindex="-1" aria-disabled="true">Ofertas Luggo</a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-item" href="#" tabindex="-1" aria-disabled="true">Atención al cliente</a>
      </li>

      <li class="nav-item">
        <a class="nav-link font-item" href="#" tabindex="-1" aria-disabled="true">Tiendas</a>
      </li>
    </ul>
    <div class="d-flex">
      <a href="" class="btn btn-sm font-item-right">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M17.4548 19.2931C17.0644 19.6838 17.0646 20.317 17.4552 20.7074C17.8459 21.0977 18.4791 21.0975 18.8695 20.7069L17.4548 19.2931ZM21.16 17L21.8674 17.7069C22.2576 17.3164 22.2576 16.6836 21.8674 16.2931L21.16 17ZM18.8695 13.2931C18.4791 12.9025 17.8459 12.9023 17.4552 13.2926C17.0646 13.683 17.0644 14.3162 17.4548 14.7069L18.8695 13.2931ZM18.8695 20.7069L21.8674 17.7069L20.4527 16.2931L17.4548 19.2931L18.8695 20.7069ZM21.8674 16.2931L18.8695 13.2931L17.4548 14.7069L20.4527 17.7069L21.8674 16.2931Z"
            fill="#353535" />
          <path
            d="M18.8695 3.29314C18.4791 2.90248 17.8459 2.90226 17.4553 3.29265C17.0646 3.68303 17.0644 4.3162 17.4548 4.70686L18.8695 3.29314ZM21.16 7L21.8674 7.70686C22.2576 7.31639 22.2576 6.68361 21.8674 6.29314L21.16 7ZM17.4548 9.29314C17.0644 9.6838 17.0646 10.317 17.4552 10.7074C17.8459 11.0977 18.4791 11.0975 18.8695 10.7069L17.4548 9.29314ZM17.4548 4.70686L20.4527 7.70686L21.8674 6.29314L18.8695 3.29314L17.4548 4.70686ZM20.4527 6.29314L17.4548 9.29314L18.8695 10.7069L21.8674 7.70686L20.4527 6.29314Z"
            fill="#353535" />
          <path
            d="M21.1603 8C21.7126 8 22.1603 7.55228 22.1603 7C22.1603 6.44772 21.7126 6 21.1603 6V8ZM3.17285 16C2.62057 16 2.17285 16.4477 2.17285 17C2.17285 17.5523 2.62057 18 3.17285 18V16ZM10.7688 16.7997C11.2103 16.4679 11.2992 15.841 10.9673 15.3995C10.6355 14.958 10.0086 14.8692 9.56713 15.201L10.7688 16.7997ZM13.5643 7.20027C13.1229 7.53211 13.034 8.159 13.3658 8.60048C13.6977 9.04196 14.3246 9.13084 14.766 8.799L13.5643 7.20027ZM21.1603 6H17.1631V8H21.1603V6ZM7.17006 16H3.17285V18H7.17006V16ZM9.56713 15.201C8.89927 15.703 8.07074 16 7.17006 16V18C8.51903 18 9.76652 17.5531 10.7688 16.7997L9.56713 15.201ZM17.1631 6C15.8141 6 14.5666 6.44689 13.5643 7.20027L14.766 8.799C15.4339 8.297 16.2624 8 17.1631 8V6Z"
            fill="#353535" />
          <path
            d="M3.17285 6C2.62057 6 2.17285 6.44772 2.17285 7C2.17285 7.55228 2.62057 8 3.17285 8V6ZM21.1603 18C21.7126 18 22.1603 17.5523 22.1603 17C22.1603 16.4477 21.7126 16 21.1603 16V18ZM3.17285 8H7.17006V6H3.17285V8ZM17.1631 18H21.1603V16H17.1631V18ZM11.1666 12C11.1666 15.3131 13.8507 18 17.1631 18V16C14.9565 16 13.1666 14.2098 13.1666 12H11.1666ZM7.17006 8C9.37662 8 11.1666 9.7902 11.1666 12H13.1666C13.1666 8.68695 10.4825 6 7.17006 6V8Z"
            fill="#353535" />
        </svg>
        Ver todos los <b>PRODUCTOS</b></a>
    </div>
  </div>
</nav>
<!-------OFF CANVAS------>
<div class="offcanvas offcanvas-start color-canvas" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel" data-bs-scroll="true">
  <div class="offcanvas-body sidenav-card">
    <div class="row text-white " id="offcanvasLabel">
      <!-----CABEZERA Y VERIFICO SI EL USUARIO ESTA LOGGEADO---->

      <ng-container *ngIf="correoUsuario; else notIdentify">
        <div class="col-md-1 col-xl-1 col-xxl-1 col-1 col-sm-1 mt-2">
          <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="13.375" cy="10.625" r="4.125" fill="white" />
            <circle cx="13.375" cy="13.375" r="12.375" stroke="white" stroke-width="2" />
            <path
              d="M21.4488 22.7364C21.5547 22.6518 21.5974 22.5099 21.5497 22.3831C21.0328 21.0087 19.9934 19.7971 18.5745 18.9207C17.0828 17.9994 15.2552 17.5 13.375 17.5C11.4948 17.5 9.66719 17.9994 8.17555 18.9207C6.75662 19.7971 5.71716 21.0087 5.20032 22.3831C5.15262 22.5099 5.19533 22.6518 5.30118 22.7364C10.0227 26.509 16.7273 26.509 21.4488 22.7364Z"
              fill="#7E869E" fill-opacity="0.25" stroke="white" stroke-width="2" stroke-linecap="round" />
          </svg>
        </div>

        <div class="col-md-7 col-xl-7 col-xxl-7 col-7 col-sm-7 mt-2 text-center">
          <!------DATO PERSONALES NOMBRE Y APELLIDO------->
        </div>
        <div class="col-md-4 mt-2 col-xl-4 col-xxl-4 col-sm-4 col-4">
          <a class="btn-link link-info cursor-item" (click)="irAMiPerfil()">Mi cuenta</a>
        </div>
      </ng-container>
      <ng-template #notIdentify>
        <div class="col-md-1 col-xl-1 col-xxl-1 col-1 col-sm-1 mt-2 ">
          <svg width="27" height="30" viewBox="0 0 27 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="13.375" cy="10.625" r="4.125" fill="white" />
            <circle cx="13.375" cy="13.375" r="12.375" stroke="white" stroke-width="2" />
            <path
              d="M21.4488 22.7364C21.5547 22.6518 21.5974 22.5099 21.5497 22.3831C21.0328 21.0087 19.9934 19.7971 18.5745 18.9207C17.0828 17.9994 15.2552 17.5 13.375 17.5C11.4948 17.5 9.66719 17.9994 8.17555 18.9207C6.75662 19.7971 5.71716 21.0087 5.20032 22.3831C5.15262 22.5099 5.19533 22.6518 5.30118 22.7364C10.0227 26.509 16.7273 26.509 21.4488 22.7364Z"
              fill="#7E869E" fill-opacity="0.25" stroke="white" stroke-width="2" stroke-linecap="round" />
          </svg>
        </div>
        <div class="col-md-6 col-xl-6 col-xxl-6 col-6 col-sm-6 mt-2">
          <b>¿No tienes cuenta?</b>
        </div>
        <div class="col-md-5 mt-2 col-xl-5 col-xxl-5 col-sm-5 col-5">
          <a class="btn-link link-info cursor-item" (click)="registrarme()">Regístrate aquí</a>
        </div>
      </ng-template>
      <!-----CABEZERA Y VERIFICO SI EL USUARIO ESTA LOGGEADO FIN---->
      <div class="col-md-12">
        <hr>
      </div>
      <!----SECCION 1---->
      <ng-container *ngIf="!ocultarMenu">
        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12">
          <h4>Tendencias</h4>
        </div>

        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 cursor-item">
          <p>Lo más vendido</p>
        </div>

        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 cursor-item">
          <p>Lo más nuevo</p>
        </div>

        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12 cursor-item">
          <p>Productos del momento</p>
        </div>

        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12">
          <hr>
        </div>
        <!----SECCION 2---->
        <div class="col-md-12 col-xl-12 col-xxl-12 col-sm-12 col-12">
          <h4>Busca Por Categorías</h4>
        </div>
      </ng-container>
      <!-----SECCION 2------>
      <ng-container *ngIf="!ocultarMenu">
        <ng-container *ngFor="let categorias of categoriasItems; let  index=index">
          <div class="col-md-9 col-xl-9 col-xxl-9 col-10 col-sm-10 cursor-item" (click)="AbrirSubMenu(categorias);">
            <p>{{categorias.name}}</p>
          </div>
          <div class="col-md-1 col-xl-1 col-xxl-1 col-1 col-sm-1 mx-auto cursor-item"
            (click)="AbrirSubMenu(categorias);">
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.04715 1.15387C1.76386 0.851689 1.28923 0.836378 0.987044 1.11968C0.68486 1.40297 0.66955 1.8776 0.952847 2.17978L2.04715 1.15387ZM6.5 7.00016L7.04715 7.51312C7.31762 7.22462 7.31762 6.7757 7.04715 6.48721L6.5 7.00016ZM0.952848 11.8205C0.66955 12.1227 0.684861 12.5974 0.987045 12.8806C1.28923 13.1639 1.76386 13.1486 2.04715 12.8465L0.952848 11.8205ZM0.952847 2.17978L5.95285 7.51312L7.04715 6.48721L2.04715 1.15387L0.952847 2.17978ZM5.95285 6.48721L0.952848 11.8205L2.04715 12.8465L7.04715 7.51312L5.95285 6.48721Z"
                fill="#B6B6B6" />
            </svg>
          </div>
        </ng-container>
      </ng-container>
      <!---------MUESTRO LA SUBCATEGORIA-------->
      <ng-container *ngIf="subCategorias && ocultarMenu">
        <div class="col-md-9 col-xl-10 col-xxl-10 col-10 col-sm-10 cursor-item" (click)="cerrarSubMenu();">
          <p>Regresar al menú</p>
        </div>
        <div class="col-md-1 col-xl-1 col-xxl-1 col-1 col-sm-1 mx-auto cursor-item" (click)="cerrarSubMenu();">
          <svg width="8" height="14" viewBox="0 0 13 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.1427 1.64404L1.7666 10.918L11.1427 20.192" stroke="white" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
          <hr>
        </div>
        <div class="col-md-9 col-xl-10 col-xxl-10 col-10 col-sm-10">
          <h5><b>{{nombreCategoria}}</b></h5>
        </div>
        <app-sub-menu-categorias class="row" [ItemsSubCategoria]="subCategorias"></app-sub-menu-categorias>
      </ng-container>
      <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
        <hr>
      </div>
      <!----SECCION 3---->

      <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12">
        <h4>Ajustes y Soporte</h4>
      </div>
      <!--------USUARIO IDENTIFICADO------>
      <ng-container *ngIf="correoUsuario; else notIdentifyUser">
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item">
          <p>Mi cuenta</p>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item">
          <p>Atención al cliente</p>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item" (click)="logoutUser();">
          Cerrar Sesión
        </div>
      </ng-container>
      <ng-template #notIdentifyUser>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item" (click)="inciarSesion()">
          <p>Iniciar Sesión</p>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item" (click)="registrarme()">
          <p>Registrarse</p>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item" (click)="venderPuerto();">
          <p>Vender con Puertto</p>
        </div>
        <div class="col-md-12 col-sm-12 col-xl-12 col-xxl-12 col-12 cursor-item">
          <p>Atención al cliente</p>
        </div>
      </ng-template>
      <!--------USUARIO IDENTIFICADO FIN------>
    </div>
  </div>
</div>
