.cursor {
  cursor: pointer;
}
.title {
  font-family: Cardium A-SemiBold;
  font-size: 26px;
}
.btn-confirmar {
  background: #7549fe;
  color: #fff;
  font-family: Cardium A-Medium;
  font-size: 15px;
  padding: 9px;
}
.group-border{
  border-right: 0px;
  border-top: 1.2px solid #000;
  border-bottom: 1.2px solid #000;
  border-left: 1.2px solid #000;
  background: #fff;
}
.input-border{
  border-left: 0px;
  border-top: 1.2px solid #000;
  border-bottom: 1.2px solid #000;
  border-right: 1.2px solid #000;
}
.btn-regresar{
  background: #e9ecef;
  font-family: Cardium B-Medium;
  color: black;
}
.label-text {
  font-family: Cardium B-Medium;
  font-size: 16px;
}
