<div class="progress">
  <div *ngIf="errorCode?.errors?.['minlength']?.actualLength >= 1 &&
    errorCode?.errors?.['minlength']?.actualLength <= 3" class="progress-bar bg-danger" role="progressbar"
    style="width: 33.33%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Débil</div>

  <div *ngIf="errorCode?.errors?.['minlength']?.actualLength >= 4 &&
    errorCode?.errors?.['minlength']?.actualLength <= 8" class="progress-bar bg-primary " role="progressbar"
    style="width: 66.66%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Mediano</div>

  <div *ngIf="errorCode?.errors?.['required'] == null &&
  errorCode?.errors?.['pattern'] &&
  errorCode?.errors?.['minlength'] == null" class="progress-bar bg-primary" role="progressbar" style="width: 66.66%"
    aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Mediano</div>

  <div *ngIf="errorCode?.errors?.['required'] == null &&
  errorCode?.errors?.['pattern'] == null &&
  errorCode?.errors?.['minlength'] == null" class="progress-bar bg-success" role="progressbar" style="width: 100%"
    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">Fuerte</div>
</div>
