<!-- <div class="col-xl-4 col-xxl-4 col-sm-12 col-md-3 col-12 bg-light mb-4 text-design border">
  <p class="text-tamano">Seleccione que impuestos aplica su Producto.</p>
</div> -->
<ng-container [formGroup]="formAtributosDos.formAtributosDos">
  <div class="col-xl-2 col-xxl-2 col-sm-12 col-md-3 col-12 mb-4 mt-3">
    <label for="stockGeneral" class="form-label">Stock Disponible</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Und</span>
      </div>
      <input type="text" class="form-control" placeholder="Stock Disponible" aria-label="Username"
        aria-describedby="basic-addon1" id="stockGeneral" formControlName="Stock_General"
        [class.is-invalid]="formAtributosDos.formAtributosDos.get('Stock_General')?.invalid && formAtributosDos.formAtributosDos.get('Stock_General')?.touched">
    </div>
    <app-form-errors-container [forControl]="formAtributosDos.formAtributosDos.get('Stock_General')">
      <app-message-error forErrorCode="required" customMsg="Este campo es requerido"></app-message-error>
      <app-message-error forErrorCode="pattern" customMsg="Solo números "></app-message-error>
    </app-form-errors-container>
  </div>
  <div class="col-xl-3 col-xxl-2 col-sm-12 col-md-3 col-12 mb-4 mt-3 mx-auto">
    <label for="stockMinimo" class="form-label">Stock Mínimo</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Und</span>
      </div>
      <input type="text" class="form-control" placeholder="Stock Mínimo" aria-label="Username"
        aria-describedby="basic-addon1" id="stockMinimo" formControlName="Stock_Minimo"
        [class.is-invalid]="formAtributosDos.formAtributosDos.get('Stock_Minimo')?.invalid && formAtributosDos.formAtributosDos.get('Stock_Minimo')?.touched">
    </div>
    <app-form-errors-container [forControl]="formAtributosDos.formAtributosDos.get('Stock_Minimo')">
      <app-message-error forErrorCode="required" customMsg="Este campo es requerido"></app-message-error>
      <app-message-error forErrorCode="pattern" customMsg="Solo números "></app-message-error>
    </app-form-errors-container>
  </div>

  <div class="col-xl-3 col-xxl-3 col-sm-12 col-12 col-md-4 bg-light text-design1 border">
    <p class="text-tamano1">Tu stock es muy importante, especificalo para mantener un mejor control en el producto.</p>
  </div>
  <!-------------RAYA-------------->
  <hr class="mx-2">

  <!-- <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4 mt-2 py-2 mx-2 colores-bg border">
  <p>Tienes {{formAtributos.atributosVariacion.controls.length | json}} variantes por configurar</p>
</div>
 -->
  <!----PRECIO GLOBAL----------->
  <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4 mt-2">
    <div class="row">
      <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4 mt-2">
        <label for="precio-global">Precio Global</label>
      </div>
      <div class="col-xl-5 col-xxl-5 col-md-5 col-sm-12 col-12">
        <div class="input-group mb-3">
          <span class="input-group-text" id="precio-global">$</span>
          <input type="text" class="form-control" placeholder="12,00" aria-label="Precio Global"
            aria-describedby="precio-global" formControlName="PrecioGlobal"
            [class.is-invalid]="formAtributosDos.formAtributosDos.get('PrecioGlobal')?.invalid && formAtributosDos.formAtributosDos.get('PrecioGlobal')?.touched">
          <!--           <button class="btn btn-sm btn-primary" (click)="agregarPrecioGlobal();" type="button" id="button-addon2"
            title="Se agregara el precio a todos las variaciones">+</button> -->
        </div>
        <app-form-errors-container [forControl]="formAtributosDos.formAtributosDos.get('PrecioGlobal')">
          <app-message-error forErrorCode="required" customMsg="Este campo es requerido"></app-message-error>
          <app-message-error forErrorCode="pattern" customMsg="Solo números ej: 12,00"></app-message-error>
        </app-form-errors-container>
      </div>
    </div>
  </div>
  <!------TIPOS DE IMPUESTOS--------->
  <div class="col-xl-2 col-xxl-2 col-sm-12 col-md-3 col-12 mb-4 mt-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="Iva"
        (change)="checkIva($event);">
      <label class="form-check-label" for="flexCheckDefault">
        Impuesto IVA
      </label>
    </div>
    <span>{{resultIva | currency: 'USD'}}</span>
  </div>
  <div class="col-xl-2 col-xxl-2 col-sm-12 col-md-3 col-12 mb-4 mt-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="Ice"
        (change)="checkIce($event)">
      <label class="form-check-label" for="flexCheckDefault">
        Impuesto ICE
      </label>
    </div>
    <span>{{resultIC | currency: 'USD'}}</span>
  </div>
  <div class="col-xl-1 col-xxl-1 col-sm-12 col-md-3 col-12 mb-4 mt-3">
    <div>Total</div>
    <ng-container *ngIf="Total else precioNormal;">
      <span>{{Total|currency: 'USD' }}</span>
    </ng-container>
    <ng-template #precioNormal>
      <span>{{this.formGlobalPrecio.formGlobalPrecio.get('PrecioGlobal')?.value |currency: 'USD' }}</span>
    </ng-template>
  </div>
  <div class="col-xl-3 col-xxl-3 col-sm-12 col-12 col-md-4 bg-light text-design1 border">
    <p class="text-tamano1">Establece un precio global para el producto, es opcional si aplica impuestos.</p>
  </div>
</ng-container>
