.cursor {
  cursor: pointer;
}
.color-bg {
  background-color: #e1e1e1;
}
.text-design {
  font-family: Cardium B-Regular;
  color: #00000094;
  text-align: justify;
  margin-top: -12px;
  border-radius: 6px;
}
.text-tamano {
  font-family: Cardium B-Regular;
  margin-top: 12px;
}
.text-design1 {
  font-family: Cardium B-Regular;
  color: #00000094;
  text-align: justify;
  position: relative;
  right: 12px;
  border-radius: 6px;
}
.text-tamano1 {
  font-family: Cardium B-Regular;
  margin-top: 16px;
}
.colores-bg {
  background-color: #f5f8ff;
  width: 291px;
  height: 49px;
  border-radius: 6px;
}
