<div class="container-fluid mt-auto">
  <div class="row mx-auto">
    <div class="col-md-12 col-xl-12 col-12 col-sm-12">
      <div class="card border">
        <div class="row mx-auto">
          <div class="col-md-3 col-xl-3 col-xxl-3 col-sm-12 col-12 py-4 mx-auto">
            <div class="card border-0 mt-auto mx-auto">
              <img loading="lazy" src="{{card1Img1}}" alt="" class="img-fluid">
              <button class="btn border-0 boton">Regalos para San Valentín</button>
            </div>
          </div>

          <div class="col-md-9 col-xl-9 col-xxl-9 col-sm-12 col-12 mx-auto mt-4">
            <div class="row mx-auto">
              <div class="col-md-4 col-xl-4 col-xxl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 mx-auto">
                      <img loading="lazy" src="{{card2Img1}}" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-7 col-xl-7 col-xxl-7 col-6 col-sm-6 mx-auto mt-2">
                      <div class="row mx-auto">
                        <div class="col-md-12 col-12 col-xxl-12 col-sm-12 col-xl-12 mt-4 title"><b>Sonido Perfecto</b>
                        </div>
                        <div class="col-md-12 col-12 col-xxl-12 col-sm-12 col-xl-12 subtitle">Audifonos para el o ella
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-xxl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 mx-auto">
                      <img loading="lazy" src="{{card3Img1}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7 col-xl-7 col-xxl-7 col-6 col-sm-6 mx-auto mt-2">
                      <div class="row">
                        <div class="col-md-12 col-12 col-xxl-12 col-sm-12 col-xl-12 mt-4 title"><b>Su mejor versión</b>
                        </div>
                        <div class="col-md-12 col-12 col-sm-12 col-xxl-12 col-xl-12 subtitle">Maquillaje para ella</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-4">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 mx-auto">
                      <img loading="lazy" src="{{card4Img1}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7 col-xl-7 col-xxl-7 col-6 col-sm-6 mx-auto mt-2">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xxl-12 col-xl-12 mt-4 title"><b>Moda Fitness</b>
                        </div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 subtitle">La mejor tecnología</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-5 card-responsive">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 mx-auto">
                      <img loading="lazy" src="{{card5Img1}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7 col-xl-7 col-xxl-7 col-6 col-sm-6 mx-auto mt-2">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 mt-4 title"><b>Detalles
                            inolvidables</b></div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 subtitle">Arreglos personalizados
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-5">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 col-xxl-4 mx-auto">
                      <img loading="lazy" src="{{card6Img1}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7 col-xl-7 col-xxl-7 col-6 col-sm-6 mx-auto mt-2">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 mt-4 title"><b>Moda Juvenil</b>
                        </div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 subtitle">Gorras para él</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-xl-4 col-sm-12 col-12 mt-5">
                <div class="card py-3 card-color">
                  <div class="row">
                    <div class="col-md-5 col-4 col-sm-4 col-xl-5 col-xxl-5 mx-auto">
                      <img loading="lazy" src="{{card7Img1}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-7 col-xl-7 col-6 col-sm-6 col-xxl-7 mt-2 mx-auto">
                      <div class="row">
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 mt-4 title"><b>Fashion Woman</b>
                        </div>
                        <div class="col-md-12 col-12 col-sm-12 col-xl-12 col-xxl-12 subtitle">Moda en zapatos</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
