<form [formGroup]="formTamano.formTamanoProducto">
  <div class="row mx-auto">
    <!-------ESPACIO DE RAYA--------->
    <!--  <hr> -->
    <!--------GESTION DE ENVIOS-------->
    <div class="col-xl-12 col-xxl-12 col-sm-12 col-12 col-md-12 mb-3">
      <h5>Gestión de envio</h5>
    </div>
    <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4 mb-3">
      <div class="row border rounded">
        <!--         <div class="col-xl-12 col-xxl-12 col-sm-12 col-md-12 mb-2 py-3">
          <div class="form-check">
            <input class="form-check-input" value="P" type="radio" name="envioAdn" id="envioAdn1"
              (click)="abrirPuerto($event);" [checked]="puertoEnvio">
            <label class="form-check-label" for="envioAdn1">
              Puertto va a enviar este artículo (Envío gestionado por Puertto)
            </label>
          </div>
        </div> -->
        <hr>
        <div class="col-xl-12 col-xxl-12 col-sm-12 col-md-12 mb-3 py-3">
          <div class="form-check">
            <input class="form-check-input" value="A" type="radio" name="envioAdn" id="envioAdn"
              (click)="abrirArticulo($event);" checked>
            <label class="form-check-label" for="envioAdn">
              Yo mismo voy a enviar este artículo (Envío gestionado por ADN)
            </label>
          </div>
        </div>
      </div>
    </div>
    <!--------DIMENSIONES DEL PAQUETE Y HORA-------->
    <!--------DIMENSIONES DEL PAQUETE Y HORA-------->
    <!------MENSAJE INTUITIVO DEL USUARIO-------->
    <!--------DIMENSIONES DEL PAQUETE Y HORA-------->

    <!--    <ng-container *ngIf="puertoEnvio">
      <div class="col-xl-5 col-xxl-5 col-sm-12 col-12 col-md-5 mx-auto">
        <div class="row">
          <h5>Dimensiones del Paquete</h5>
          <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-6 mb-3">
            <!----LARGO----->
    <!-- <label class="form-label" for="largo">Largo</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control input-estilo" id="largo" placeholder="largo" aria-label="largo"
                [class.is-invalid]="formTamano.formTamanoProducto.get('Longitud_x')?.touched && formTamano.formTamanoProducto.get('Longitud_x')?.invalid"
                aria-describedby="basic-largo" formControlName="Longitud_x">
              <span class="input-group-text span-estilo" id="basic-largo">cm</span>
            </div>
            <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('Longitud_x')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros ej:12,11">
              </app-message-error>
            </app-form-errors-container>
          </div> -->
    <!----ANCHO----->
    <!-- <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-6 mb-3">
            <label class="form-label" for="Ancho">Ancho</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control input-estilo" id="Ancho" placeholder="Ancho" aria-label="Ancho"
                [class.is-invalid]="formTamano.formTamanoProducto.get('Longitud_y')?.touched && formTamano.formTamanoProducto.get('Longitud_y')?.invalid"
                aria-describedby="basic-Ancho" formControlName="Longitud_y">
              <span class="input-group-text span-estilo" id="basic-Ancho">cm</span>
            </div>
            <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('Longitud_y')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros ej:12,11">
              </app-message-error>
            </app-form-errors-container>
          </div> -->
    <!----ALTO----->
    <!--  <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-6 mb-3">
            <label class="form-label" for="Alto">Alto</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control input-estilo" id="Alto" placeholder="Alto" aria-label="Alto"
                [class.is-invalid]="formTamano.formTamanoProducto.get('Longitud_z')?.touched && formTamano.formTamanoProducto.get('Longitud_z')?.invalid"
                aria-describedby="basic-Alto" formControlName="Longitud_z">
              <span class="input-group-text span-estilo" id="basic-Alto">cm</span>
            </div>
            <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('Longitud_z')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros ej:12,11">
              </app-message-error>
            </app-form-errors-container>
          </div> -->
    <!----PESO----->
    <!--   <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-6 mb-3">
            <label class="form-label" for="Peso ">Peso</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control input-estilo" id="Peso" placeholder="Peso" aria-label="Peso"
                [class.is-invalid]="formTamano.formTamanoProducto.get('Peso')?.touched && formTamano.formTamanoProducto.get('Peso')?.invalid"
                aria-describedby="basic-Peso" formControlName="Peso">
              <span class="input-group-text span-estilo" id="basic-Peso">lb</span>
            </div>
            <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('Peso')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros ej:12,22">
              </app-message-error>
            </app-form-errors-container>
          </div> -->
    <!----TIEMPO DESPACHO----->
    <!--   <div class="col-xl-7 col-xxl-7 col-sm-12 col-12 col-md-12 mb-3">
            <label class="form-label" for="tiempo">Tiempo de Despacho</label>
            <div class="row">
              <div class="col-xl-6 col-xxl-6 col-sm-12 col-12 col-md-6">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" id="tiempo" placeholder="tiempo" aria-label="tiempo"
                    [class.is-invalid]="formTamano.formTamanoProducto.get('TiempoDespacho')?.touched && formTamano.formTamanoProducto.get('TiempoDespacho')?.invalid"
                    aria-describedby="basic-tiempo" formControlName="TiempoDespacho">
                </div>
              </div>
              <div class="col-xl-6 col-xxl-6 col-md-6 col-sm-6 col-6">
                <span class="" id="basic-tiempo">horas</span>
              </div>
            </div>
            <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('TiempoDespacho')">
              <app-message-error forErrorCode="required"></app-message-error>
              <app-message-error forErrorCode="pattern" customMsg="Solo numeros del 1 al 9">
              </app-message-error>
              <app-message-error forErrorCode="maxlength" customMsg="Solo 2 digitos">
              </app-message-error>
            </app-form-errors-container>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-xxl-2 col-sm-12 col-12 col-md-3 bg-light d-flex align-self-center text-design border">
        <p class="text-tamano">Mide el paquete envoltorio apoyándote con una regla.</p>
      </div>
    </ng-container> -->
    <!----------------PRECIO POR COBRAR EL ENVIO DE ADN-->
    <ng-container>
      <div class="col-xl-5 col-xxl-5 col-sm-12 col-12 col-md-5 mx-auto">
        <div class="row">
          <!-------PRECIO POR COBRAR EL ENVIO-------->
          <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                formControlName="envio_gratis" (change)="envio_gratisCheck($event)">
              <label class="form-check-label" for="flexCheckDefault">
                Envío gratis
              </label>
            </div>
          </div>
          <ng-container *ngIf="adnEnvio">
            <div class="col-xl-5 col-xxl-5 col-sm-12 col-12 col-md-4 mb-3 mt-4">
              <label class="form-label mt-1">Precio del Envío</label>
            </div>
            <div class="col-xl-4 col-xxl-4 col-sm-12 col-12 col-md-4 mb-3 mt-4  ">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" class="form-control" placeholder="$12,00" aria-label="Username"
                  formControlName="Precio" aria-describedby="basic-addon1">
              </div>
              <app-form-errors-container [forControl]="formTamano.formTamanoProducto.get('Precio')">
                <app-message-error forErrorCode="required"></app-message-error>
                <app-message-error forErrorCode="pattern" customMsg="Solo numeros ej:12,00">
                </app-message-error>
              </app-form-errors-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-xl-2 col-xxl-2 col-sm-12 col-12 col-md-3 bg-light d-flex align-self-center text-design border">
        <p class="text-tamano">Establezca cuánto va a cobrar por el envío del producto</p>
      </div>
    </ng-container>
  </div>
</form>
