* {
  font-family: Cardium B-Medium;
}
.color-select {
  background-color: rgba(43, 44, 68, 0.925);
  color: #fff;
}
.color-article {
  background-color: #7549fe;
  color: #fff;
}
.cursor-item {
  cursor: pointer;
}
.border-bottom {
  background: white;
  border-left: 1px;
}
.color-canvas {
  background-color: rgba(32, 32, 57, 0.94);
}
.mover-icono-user {
  padding: 0px;
  position: relative;
  right: 21px;
}
.mover-icono-deseos {
  padding: 0px;
  position: relative;
  right: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
#datalistOptions {
  background-color: #7549fe;
}

.margin-responsive {
  margin-top: 12px;
}

/* RESPONSIVE EL AUTOCOMPLETADO */
@media screen and (min-width: 300px) and (max-width: 461px) {
  .responsive-autocomplete {
    width: 30% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
}

@media screen and (min-width: 460px) and (max-width: 539px) {
  .responsive-autocomplete {
    width: 38% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
}

@media screen and (min-width: 540px) and (max-width: 819px) {
  .responsive-autocomplete {
    width: 47% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
}

@media screen and (min-width: 820px) and (max-width: 1109px) {
  .responsive-autocomplete {
    width: 54% !important;
  }
  .margin-responsive {
    margin-top: 12px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .responsive-autocomplete {
    width: 60% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1290px) {
  .responsive-autocomplete {
    width: 67% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 0.815rem;
  }
  .responsive-links {
    margin-top: 6px;
  }
  .mover-icono-deseos {
    padding: 0px;
    position: relative;
    right: 20px;
  }
  .mover-icono-user {
    padding: 0px;
    position: relative;
    right: 20px;
  }
  .form-select {
    font-size: 0.815rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 1291px) and (max-width: 1560px) {
  .responsive-autocomplete {
    width: 67% !important;
  }
  .margin-responsive {
    margin-top: 0px;
  }
}

@media screen and (min-width: 1475px) and (max-width: 1560px) {
  .margin-responsive {
    margin-top: 12px;
  }
}
