<header>
  <app-menu-index></app-menu-index>
</header>

<section class="container py-3 mt-3">
  <div class="row ">
    <h4>Center <span class="text-danger">ADN</span></h4>
    <div class="col-xxl-5 col-xl-5">
      <div class="row">
        <div class="col-xl-10 col-xxl-10 card">
          <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12 col-md-12 col-12 mt-3 mb-3">
              <h6>Hola <b>Demo Adn</b></h6>
            </div>
            <div class="col-xl-12 col-xxl-12 col-sm-10 col-md-10 col-10 mt-3 mb-3 text-center">
              <img [src]="imagenPuerto" class="img-fluid mx-auto" alt="imagen puerto">
            </div>
            <div class="col-xl-12 col-xxl-12 col-sm-12 col-md-12 col-12 mt-3 mb-3 mx-auto">
              <p class="text-center">Un lugar seguro donde comprar.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xxl-7 col-xl-7">
      <div class="row">

        <div class="col-xl-5 col-xxl-5 card mb-5 py-2 cursor-items" (click)="irAlModuloCatalogo();">
          <div class="row">
            <div class="col-xl-5 col-xxl-5 mb-5 mt-5">
              <img [src]="imgEtiqueta" alt="iamgen etiqueta" />
            </div>
            <div class="col-xl-7 col-xxl-7 mt-5 py-2">
              <h6>Mi catálogo</h6>
              <p class="text-subtitle">Crea tu catálogo de productos o servicios.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-1 col-xxl-1"></div>

        <div class="col-xl-5 col-xxl-5 card mb-5 py-2 cursor-items">
          <div class="row">
            <div class="col-xl-5 col-xxl-5 mb-5 mt-5">
              <img [src]="imgBilletera" alt="imagen billetera" />
            </div>
            <div class="col-xl-7 col-xxl-7 mt-5 py-2">
              <h6>Mis pedidos</h6>
              <p class="text-subtitle"> Crea tu catálogo de productos o servicios.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-1 col-xxl-1"></div>

        <div class="col-xl-5 col-xxl-5 card py-2 cursor-items">
          <div class="row">
            <div class="col-xl-5 col-xxl-5 mb-5 mt-5">
              <img [src]="imgEtiqueta" alt="imagen etiqueta" />
            </div>
            <div class="col-xl-7 col-xxl-7 mt-5 py-2">
              <h6>Precios</h6>
              <p class="text-subtitle"> Crea tu catálogo de productos o servicios.</p>
            </div>
          </div>
        </div>

        <div class="col-xl-1 col-xxl-1"></div>

        <div class="col-xl-5 col-xxl-5 card py-2 cursor-items">
          <div class="row">
            <div class="col-xl-5 col-xxl-5 mb-5 mt-5">
              <img [src]="imgBilletera" alt="imagen billetera" />
            </div>
            <div class="col-xl-7 col-xxl-7 mt-5 py-2">
              <h6>Pagos</h6>
              <p class="text-subtitle"> Crea tu catálogo de productos o servicios.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <app-footer2></app-footer2>
</footer>
