.fondo-color {
  background: #f1f3f6;
}
* {
  font-family: Cardium B-Medium;
}

.text-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}

.cursor-items {
  cursor: pointer;
}
