<header>
  <app-menu-index></app-menu-index>
</header>
<section class="container-fluid p-0">
  <img loading="lazy" [src]="bannerAdn" alt="banners" class="img-responsive" />
</section>
<app-adn-cerrar-sesion></app-adn-cerrar-sesion>
<section class="container py-3 mt-3">
  <div class="row ">
    <div class="col-xl-10 col-xxl-10">
      <h6>Hola <b>{{email?email:'Demo Adn'}}</b></h6>
    </div>
  </div>
  <div class="row mx-xl-auto">
    <div
      class="col-xxl-3 col-xl-3 col-md-3 col-sm-11 col-11 card mb-5 py-2 cursor-items mx-xxl-5 mx-xl-4 mx-md-4 mx-auto"
      *ngFor="let list of arrayList" (click)="irLink(list.link,list.title)">
      <div class="row">
        <div class="col-xl-5 col-xxl-5 col-md-5 col-sm-5 col-5 mb-xxl-5 mb-xl-5 mt-xl-5 mt-xxl-5 mt-4">
          <img loadin="lazy" [src]="list.icons" alt="iamgen etiqueta" class="img-fluid" />
        </div>
        <div class="col-xl-7 col-xxl-7 col-md-7 col-sm-7 col-7 mt-xl-5 mt-xxl-5 py-xl-2 py-xxl-2 py-3 mt-3">
          <h6>{{list.title}}</h6>
          <p class="text-subtitle">{{list.subtitle}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer-index></app-footer-index>
