.fondo-color {
  background: #f1f3f6;
}
* {
  font-family: Cardium B-Medium;
}

.text-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
}

.cursor-items {
  cursor: pointer;
}

.color-bg {
  background-image: url(https://ecovitali.presttoapp.net/Puertto/Calidad/Repositorio/img/IM%C3%81GENES/puerttoImg.png);
  width: 352px;
  height: 249px;
}
