* {
  font-family: Cardium B-Medium;
}
.group-border {
  background: #fff;
  border-right: 0px;
}

.input-border {
  border-left: 0px;
  border-right: 0px;
}
.bg-body {
  z-index: 10;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.178);
}
.group-border-left {
  background: #fff;
  cursor: pointer;
}
