.text-cardium-b {
  font-family: Cardium B-Medium;
  font-size: 16px;
}

@media screen and (min-width: 1021px) and (max-width: 1290px) {
  .text-cardium-b {
    font-family: Cardium B-Medium;
    font-size: 13px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 766px) and (max-width: 1020px) {
  .text-cardium-b {
    font-family: Cardium B-Medium;
    font-size: 13px;
    margin-top: 10px;
  }
}
