.text-cardium-b {
  font-family: Cardium B-Medium;
  font-size: 16px;
}

@media screen and (min-width: 1021px) and (max-width: 1290px) {
  .text-cardium-b {
    font-family: Cardium B-Medium;
    font-size: 13px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1020px) {
  .text-cardium-b {
    font-family: Cardium B-Medium;
    font-size: 13px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 820px) {
  .container-responsive {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .container-responsive::-webkit-scrollbar {
    height: 3px; /* Tamaño del scroll en horizontal */
    display: block; /* Ocultar scroll */
  }
  .container-responsive::-webkit-scrollbar-thumb {
    background: #ea2313;
    border-radius: 4px;
  }
  .text-cardium-b {
    font-family: Cardium B-Medium;
    font-size: 13px;
    margin-top: 10px;
  }
}
