<div class="container-fluid bg-white">
  <div class="accordion" id="accordionExampleConfiguracion">
    <div class="row">
      <div class="col-xl-12 col-xxl-12 col-sm-12 col-md-12 mb-3 mt-3">
        <app-progress-stepper [width]="'width:68%'"
          [btn-secondary]="'position-relative top-0 start-25 translate-middle btn btn-sm btn-primary rounded-pill'">
        </app-progress-stepper>
      </div>
      <div class="col-xl-12 col-sm-12 col-md-12 col-xxl-12 col-12 mb-5">
        <div class="row">
          <div class="col-xl-3 col-xxl-3 col-sm-12 col-md-3 col-12">
            <select class="form-select" aria-label="Default select example">
              <option selected>Atributos</option>
              <option value="1">Color</option>
              <option value="2">Tamaño</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xl-1 col-xxl-1 col-md-3 col-sm-4 col-4 mt-1 accordion-item">
        <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseColor"
          aria-expanded="true" aria-controls="collapseColor">
          Color
        </button>
      </div>
      <div class="col-xl-1 col-xxl-1 col-md-3 col-sm-4 col-4 acordion-item">
        <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTamano"
          aria-expanded="false" aria-controls="collapseTamano">
          Tamaño
        </button>
      </div>
      <div class="col-xl-1 col-xxl-1 col-md-3 col-sm-4 col-4 acordion-item">
        <button class="btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCapacidad"
          aria-expanded="false" aria-controls="collapseCapacidad">
          Capacidad
        </button>
      </div>
    </div>
    <div class="contianer-fluid mt-3">
      <div id="collapseColor" class="accordion-collapse collapse show" aria-labelledby="headingFour"
        data-bs-parent="#accordionExampleConfiguracion">
        <app-configuracion-color></app-configuracion-color>
      </div>
      <div id="collapseTamano" class="accordion-collapse collapse" aria-labelledby="headingFive"
        data-bs-parent="#accordionExampleConfiguracion">
        <app-configuracion-tamano></app-configuracion-tamano>
      </div>
      <div id="collapseCapacidad" class="accordion-collapse collapse" aria-labelledby="headingSix"
        data-bs-parent="#accordionExampleConfiguracion">
        <app-configuracion-capacidad></app-configuracion-capacidad>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#collapseOne"
      aria-expanded="true" aria-controls="collapseOne">Atras</button>
    <button type="button" class="btn btn-modal"
      [disabled]="formColor.formColors.invalid || formTamano.formTamano.invalid">Siguiente</button>
  </div>
</div>
