<section class="container-fluid">
  <div class="row mx-auto mt-5">
    <!----------------CARD PRIMERO-->
    <div class="col-xl-3 col-xxl-3 col-sm-3 col-md-3 col-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Total Ganado</h6>
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col-xl-4 col-xxl-4">
              42%^
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <h6>Ganancia del mes</h6>
              <p>$987,30</p>
              <p>0,25%^</p>
            </div>
            <div class="col-xl-4 col-xxl-4">
              imagen
            </div>
          </div>
          <h4>Ganancias obtenidas entre marzo y abril</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        </div>
      </div>
    </div>
    <!----------------CARD SEGUNDO-->

    <div class="col-xl-3 col-xxl-3 col-sm-3 col-md-3 col-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Total Compras</h6>
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col-xl-4 col-xxl-4">
              70%^
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <h6>Compras del mes</h6>
              <p>55412</p>
              <p>0,40%^</p>
            </div>
            <div class="col-xl-4 col-xxl-4">
              imagen
            </div>
          </div>
          <h4>Compras obtenidas entre marzo y abril</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        </div>
      </div>
    </div>
    <!----------------CARD TERCERO-->

    <div class="col-xl-3 col-xxl-3 col-sm-3 col-md-3 col-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Total transaccion</h6>
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col-xl-4 col-xxl-4">
              52%^
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <h6>Transacción del mes</h6>
              <p>4587</p>
              <p>0,47%^</p>
            </div>
            <div class="col-xl-4 col-xxl-4">
              imagen
            </div>
          </div>
          <h4>Transacciones obtenidas entre marzo y abril</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        </div>
      </div>
    </div>
    <!----------------CARD CUARTO-->

    <div class="col-xl-3 col-xxl-3 col-sm-3 col-md-3 col-3">
      <div class="card">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Total depositos</h6>
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <img src="..." class="card-img-top" alt="...">
            </div>
            <div class="col-xl-4 col-xxl-4">
              32%^
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xl-8 col-xxl-8">
              <h6>Depositos del mes</h6>
              <p>125</p>
              <p>0,45%^</p>
            </div>
            <div class="col-xl-4 col-xxl-4">
              imagen
            </div>
          </div>
          <h4>Depositos obtenidas entre marzo y abril</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        </div>
      </div>
    </div>
  </div>
</section>
