<header class="sticky-top">
  <app-menu-index></app-menu-index>
</header>

<app-adn-cerrar-sesion></app-adn-cerrar-sesion>

<app-seccion-adn [NombreUbicacion]="'Mis Productos'" [ruta]="ruta"></app-seccion-adn>

<div class="fondo-color">
  <div class="container-fluid">
    <div class="row mt-2">
      <div class="col-xl-12 col-xxl-12 col-sm-12 col-12 col-md-12">
        <app-listado-productos></app-listado-productos>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>
<!-- <footer>
  <app-footer2></app-footer2>
</footer> -->
<app-footer-index></app-footer-index>
