<div class="justify-content-center card border-0" style="width: 100%; height: 44.5rem;">
  <div style="height: 100%; overflow: hidden;" class="card-img">
    <svg _ngcontent-rcu-c36="" viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path _ngcontent-rcu-c36=""
        d="M-53.99,103.25 C120.91,134.52 345.26,143.47 543.77,105.17 L500.00,0.00 L0.00,0.00 Z"
        style="stroke: none; fill: #7549fe;"></path>
    </svg>
  </div>
  <div class="card-img-overlay">
    <div class="row">
      <div
        class="card-text col-xl-4 col-xxl-4 col-md-4 col-12 col-sm-12 text-center text-white d-flex justify-content-center align-items-center">
        <h1 class="text-tamano">DALE UN <button class="btn btn-white">GO</button> &nbsp; A TU <b>NEGOCIO</b></h1>
      </div>
      <div class="card-text col-xl-8 col-xxl-8 col-sm-12 col-md-8 col-12 text-center">
        <img loading="lazy" src="../../../../../assets/img/LuggoNegocio 1.png" alt="Luggo-Negocio" class="img-fluid" height="568px">
      </div>
    </div>
  </div>
</div>
