<section class="container mt-5">
  <app-position-stripper></app-position-stripper>
</section>
<section class="container-fluid py-3">
  <hr class="border border-1 bg-dark w-100">
</section>
<section class="container">
  <div class="col-xl-12 col-xxl-12 py-5">
    <h1 class="estilo-text text-center">Estamos por terminar</h1>
    <p class="estilo-subtitle text-center">sólo te pedimos estos datos adicionales</p>
  </div>
  <div class="col-xl-6 col-xxl-6 col-md-6 col-sm-12 col-12 mx-auto card mb-3">
    <form [formGroup]="formB.formTerminar">
      <div class="row mx-auto">
        <h4 class="mb-4 mt-4">Datos personales</h4>
        <div class="col-xl-6 col-xxl-6">
          <div class="mb-3">
            <label for="formDondeEres" class="form-label">¿De dónde eres?</label>
            <input type="text" id="formDondeEres" formControlName="DondeEres" class="form-control"
              placeholder="Guayaquil"
              [class.is-invalid]="formB.formTerminar.get('DondeEres')?.touched && formB.formTerminar.get('DondeEres')?.invalid" />
          </div>
          <app-form-errors-container [forControl]="formB.formTerminar.get('DondeEres')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="pattern" customMsg="No se admite caracteres especiales">
            </app-message-error>
          </app-form-errors-container>
        </div>
        <div class="col-xl-6 col-xxl-6">
          <div class="mb-3">
            <label for="FormDateAdn" class="form-label">¿Cuándo naciste?</label>
            <input type="date" id="FormDateAdn" formControlName="FechaNacimiento" class="form-control"
              placeholder="11/10/2020"
              [class.is-invalid]="formB.formTerminar.get('FechaNacimiento')?.touched && formB.formTerminar.get('FechaNacimiento')?.invalid" />
          </div>
          <app-form-errors-container [forControl]="formB.formTerminar.get('FechaNacimiento')">
            <app-message-error forErrorCode="required"></app-message-error>
          </app-form-errors-container>
        </div>
        <div class="col-xl-12 col-xxl-12">
          <div class="mb-3">
            <label for="formArea" class="form-label">¿Cómo te describes?</label>
            <textarea class="form-control tamano-area" id="formArea" formControlName="ComoTeDescribes"
              placeholder="Soy un emprendedor..."></textarea>
          </div>
          <app-form-errors-container [forControl]="formB.formTerminar.get('ComoTeDescribes')">
            <app-message-error forErrorCode="required"></app-message-error>
            <app-message-error forErrorCode="pattern" customMsg="No se admite caracteres especiales">
            </app-message-error>
          </app-form-errors-container>
        </div>
        <div class="col-xl-12 col-xxl-12 mb-3">
          <p class="text-center text-tamano">Esto solo es para nuestra información y no afectará a la apertura de tu
            tienda.
          </p>
        </div>
      </div>
    </form>
  </div>

</section>
<section class="container-fluid">
  <div class="modal-footer">
    <button class="btn btn-primary">Finalizar</button>
  </div>
</section>
