<h1 class="text-title">3. TÉRMINOS Y CONDICIONES DE SERVICIO INTEGRAL DE PUERTTO DENTRO DEL ACUERDO</h1>
<p class="text-parrafo">El servicio integral de Puertto - SIP le proporciona logística y servicios asociados para el
  manejo de su inventario, que le permite a usted usar nuestras bodegas, sistemas de empaque, distribución y entrega de
  sus productos una vez que han sido vendidos a los clientes, a partir de una o más listas de exhibición y oferta para
  su venta directa a través de las páginas de Puertto, así como, tan solo el servicio de logística de Puertto - SLP o el
  servicio de almacenamiento de Puertto - SAP, que forman parte del SIP; los términos y condiciones del SLP dentro del
  Acuerdo, forman parte del Acuerdo, sin embargo, solo aplican de forma exclusiva a su participación en el SIP o de
  forma independiente en el SLP o SAP dentro del SIP y no a otros capítulos, salvo el punto uno (1) del presente acuerdo
  y todos los puntos consecuentes que lo integran, te brindan conocimiento sobre el alcance de uso de los servicios que
  ofrece Puertto, y constituye un Acuerdo entre usted o la empresa a la que usted representa y nosotros, al registrarse
  o utilizar los servicios, usted acepta las condiciones del presente Acuerdo, incluidas las condiciones de servicio y
  las políticas para cada servicio en el que se registre o que utilice en relación con una página de Puertto en
  concreto.

</p>
<p class="text-parrafo">
  En caso de conflicto entre las presentes Condiciones Generales de Acuerdo entre las partes y políticas de la empresa,
  prevalecerán sobre las Condiciones Generales de Acuerdo entre las partes sobre las políticas de la empresa.</p>
<h3 class="text-subtitle">3.1. Lista de productos, servicios y pedidos</h3>
<h4 class="text-subtitle">3.1.1. Información del producto</h4>
<p class="text-parrafo">Para asegurar la calidad de nuestros procesos comerciales y como tal garantizar la satisfacción
  del cliente, en Puertto proveemos el SIP, el mismo que se ofrece a nuestros ADN de forma clara y es en parte de
  obligatorio cumplimiento para poder hacer uso del servicio de venta en Puertto.
</p>
<p class="text-parrafo">
  El asociado de negocio debe hacer uso de las herramientas digitales que se proveen a través de la página de Puertto,
  en donde detalla el registro de cada producto que venda, debe poner particular atención en aquellos que sean
  considerados Productos excluidos, Productos restringidos o Productos que requieran de una autorización adicional para
  ser elegibles en la logística de Puertto, cabe mencionar que podremos negarnos a registrar, excluir, eliminar, remover
  o cualquier otro similar, de o en la Logística de Puertto cualquier producto, aun así sea exhibido y ofrecido en la
  página de Puertto, sobre la base de que se trate de uno excluido de logística de Puertto o que infrinja las políticas
  aplicables de Puertto. Usted no podrá retirar el registro de cualquiera de sus productos de logística de Puertto de
  una página de Puertto en ningún momento, salvo que se exprese mediante acuerdo explícito entre usted y nosotros, una
  vez que se asegure la calidad del producto ante una logística complementaria.</p>
<h4 class="text-subtitle">3.1.2. Envío de producto</h4>
<p class="text-parrafo">Usted es el único responsable de la información mostrada de sus productos en la página de
  Puertto y sus respectivas páginas de detalle de productos, por lo que, de acuerdo a las políticas aplicables, usted
  nos proporcionará información exacta, completa y veraz sobre estos en logística de Puertto, de igual manera si decide
  no gestionar sus productos a través del servicio de logística de Puertto, en los casos que apliquen y si así lo
  determina Puertto en cualquier momento, deberá solicitar la excepción con Puertto y presentar un plan de logística que
  suplante al de Puertto que no sea de inferior calidad y garantía que la ofrecida por el SLP, que garantizan que el
  costo de envío está pagado y cuenta con seguro de transporte.
</p>
<p class="text-parrafo">
  En los casos que Puertto ofrezca sus servicios de logística dinámica externa - SLD, aplicable para los productos
  gestionadas por medio de logística de Puertto que no se vendan a través de la página principal de Puertto, sino a
  través de otras asociadas, pero dentro del Acuerdo de administración de comercio electrónico a terceras partes, usted
  como ADN y como agente suscrito al plan de servicio de venta, debe mantener actualizada la información sobre sus
  productos de acuerdo con nuestros requisito y de esta forma, mantener información sea exacta y completa en todo
  momento para un flujo de procesos más eficiente.</p>
<h3 class="text-subtitle">3.2. Envíos gestionados por Puertto</h3>
<h4 class="text-subtitle">3.2.1. Productos gestionados por SIP - SLP a Puertto</h4>
<p class="text-parrafo">El SIP le permite a usted usar nuestras bodegas, sistemas de empaque, distribución y entrega de
  sus productos una vez que han sido vendidos a los clientes, por lo que el SIP incluye el servicio SLP y SAP; al usar
  nuestro SIP usted nos entrega su inventario de productos para su bodegaje y despacho inmediato cuando se de una venta
  a través del página de Puertto y sus filiales, las condiciones de este servicio se describen en sus políticas
  aplicables, de cualquier manera, recuerde que usted es el único responsable de la publicación de sus productos en la
  página de Puertto, así como, de la información general y específica de los mismos, con lo antes expuesto, usted acepta
  cumplir con las siguientes condiciones y nos asegura que (a) el producto a despachar cumple exactamente con las mismas
  condiciones generales y específicas del mostrado y exhibido en la página de Puertto, Puertto no es responsable de las
  incongruencias y podríamos desistir y negarnos a llevar a cabo el despacho si se incumple esta condición; (b) todos
  los productos cumplen con los requisitos mostrados y exhibidos en la página de Puertto, esto incluye de etiquetado y
  otros requisitos, en el caso de empaquetado o etiquetado incorrectamente, Puertto podrá devolverle la unidad del
  producto y usted correrá con los gastos o podrá pagarnos para que lo hagamos por usted a través del SLP; (c) usted se
  hará cargo del transporte de sus productos al centro de logística de Puertto, ya sea de forma directa y personal, o a
  través de servicios complementarios que corren por cuenta de usted, como el SLP o nuestras empresas aliadas en la
  operación de logística, en cualquiera de los dos (2) casos, los productos deben ser transportados de forma segura y
  los costos asociados son asumidos por usted, salvo que se disponga lo contrario a partir de un acuerdo entre usted y
  nosotros, en cuyo caso, Puertto se hará cargo de los costes de forma total o parcial, a través del SLP, en caso llegar
  a un acuerdo entre usted y nosotros, en el cual Puertto se haga cargo de los costes de transporte de sus productos de
  forma parcial o total a nuestro centro de logística de Puertto, podremos, a opción nuestra, permitir que usted envíe
  unidades con cargo a usted, utilizando tarifas de los costos de envío con descuento que nosotros podamos poner a su
  disposición usando el servicio de ciertas compañías de mensajería con las que mantengamos una alianza, quedando a su
  criterio el uso o no de este beneficio.
</p>
<p class="text-parrafo">
  Cuando usted haga uso del SLP como parte del SIP, Usted deberá cumplir con los procedimientos estándar de operación,
  restricciones de peso y tamaño y otros requerimientos de envío de Puertto y de las compañías de mensajería con las que
  trabajemos en alianza; en caso de que nosotros le proporcionemos los costos de envío estimados antes de la ejecución
  del mismo, usted reconoce y acepta que los costos de envío reales podrán variar de dichas estimaciones, si el peso de
  la unidad, según lo determine Puertto o las compañías de mensajería con las que trabaje en alianza, difiere de aquél
  indicado por usted a nosotros, para efectos de la determinación de los costos de envío estimados, resultará que (d)
  los cargos hechos a usted podrán ser mayores a los costos de envío estimados, en caso que se determine que dicha
  unidad pesa más que el peso indicado por usted; o (e) el monto completo de los costos de envío estimados podrá ser
  cobrado a usted, aun cuando Puertto o las compañías de mensajería con las que trabaje en alianza determine que el peso
  es menor que el peso indicado por usted. La propiedad y riesgo de pérdida o daños de cualquier unidad enviada
  utilizando nuestro SLP, los conservará usted y el que nosotros pongamos a su disposición, dichas tarifas de costos de
  envío no generarán ninguna responsabilidad de cualquier tipo para nosotros en relación con cualquier retraso, daño o
  pérdida incurridos durante el envío. Usted autoriza a Puertto y a las compañías de mensajería con las que trabaje en
  alianza, a proporcionar todo tipo de información de rastreo de los envíos a beneficio de nosotros, independientemente
  al que usted pueda contar para si mismo.</p>
<p class="text-parrafo">
  Usted podrá enviarnos productos a nuestros centros de logística de Puertto desde cualquier parte del Ecuador, pero en
  los casos que usted realice envíos a Puertto desde fuera del Ecuador, usted se listará como el
  Importador/Consignatario y designará a un agente aduanal, a menos que usted decida hacer uso de nuestros ADO
  estratégicos, en caso que Puertto o cualquiera de sus filiales, incluyendo Lugisa apareciere listado en cualquier
  documentación de importación, Puertto se reserva el derecho a negarse a aceptar las unidades contempladas en los
  documentos de importación y cualquier costo valorado a cargo de o incurrido por nosotros será cobrado a su CB, TC,
  deducido de su liquidación de pagos y saldos disponibles pagaderos a usted o por cualquier otro método que elijamos,
  de forma total o parcial hasta cubrir los valores generados a Puertto.</p>
<h4 class="text-subtitle">3.2.2. Productos gestionados por SIP - SLP al cliente</h4>
<p class="text-parrafo">El SIP le permite a usted usar nuestras bodegas, sistemas de empaque, distribución y entrega de
  sus productos una vez que han sido vendidos a los clientes, por lo que el SIP incluye el servicio SLP y SAP; al usar
  nuestro SIP usted nos entrega su inventario de productos para su bodegaje y despacho inmediato cuando se de una venta
  a través de la página de Puertto y sus filiales, las condiciones de este servicio se describen en sus políticas
  aplicables, de cualquier manera, recuerde que usted es el único responsable de la publicación de sus productos en la
  página de Puertto, así como, de la información general y específica de los mismos, con lo antes expuesto, usted acepta
  cumplir con las siguientes condiciones y nos asegura que cuando ha vendido un producto a través de Puertto o
  cualquiera de sus filiales en las que aplique el SLP (a) el producto a despachar cumple exactamente con las mismas
  condiciones generales y específicas del mostrado y exhibido en dicho página, por lo cual, usted es el único
  responsable de las incongruencias y podríamos desistir y negarnos a llevar a cabo el despacho si se incumple esta
  condición; (b) todos los productos cumplen con los requisitos mostrados y exhibidos en la página de Puertto, esto
  incluye de etiquetado y otros requisitos de Puertto, en el caso de empaquetado o etiquetado incorrectamente, Puertto
  podrá devolverle la unidad del producto y usted correrá con los gastos o podrá pagarnos para que lo hagamos por usted
  a través del SLP; (c) usted es el único responsable de calcular el costo de envío que se cobrará basado en el peso,
  tamaño y otros requerimientos necesarios, en función de los costos de envío estimados que nosotros podríamos
  proporcionar a usted, de cualquier manera, ya sea que usted asuma el costo de envío o se lo cobre a los clientes,
  usted reconoce y acepta que si los costos de envío reales varían de las calculadas y publicadas por usted, resultará
  que (c.1) generemos cargos a usted mayores a los costos de envío estimados, en caso que se determine que dicha unidad
  pesa más que el peso indicado por usted; o (c.2) el monto completo de los costos de envío estimados podrá ser cobrado
  a usted, aun cuando determinemos que el peso es menor al peso indicado por usted.
</p>
<p class="text-parrafo">
  Como parte del SIP, enviaremos las unidades vendidas de sus productos desde su inventario almacenado en Centros de
  logística de Puertto a las direcciones de envío elegidas por el cliente o aquéllas que hayan sido presentadas por
  usted como parte de una Solicitud de Logística. Siempre que el cliente solicite la opción de Paquete condensado,
  nosotros podremos enviar varias unidades incluyendo las de su inventario, junto con los productos adquiridos de otros
  ADN vendedores de Puertto, incluyendo el inventario de cualquiera de nuestras filiales, de acuerdo en una misma
  Solicitud de Logística, también podremos enviar los que se incluyan pedidos por separado.</p>
<p class="text-parrafo">
  La propiedad y riesgo de pérdida o daños de cualquier unidad enviada utilizando nuestro SLP, los conservará usted y el
  que nosotros gestionemos sus productos a través de nuestro SLP, no generará ninguna responsabilidad de cualquier tipo
  para nosotros en relación con cualquier daño o pérdida incurridos durante el envío, siendo responsabilidad de nuestra
  el retraso y las repercusiones que este evento conlleve. Usted autoriza a Puertto y de las compañías de mensajería con
  las que trabaje en alianza, proporcionar todo tipo de información de rastreo de los envíos a beneficio de Puertto y el
  cliente.
</p>
<p class="text-parrafo">
  Siempre que Puertto lo permita y se encuentre habilitada la capacidad de venta internacional de productos, podremos
  hacernos cargo de sus despachos a destinos internacionales, y posterior manejo y entrega al cliente es dichos
  destinos, sin embargo, usted se listará como el Exportador/Consignatario y utilizará a un agente aduanero o compañía
  de correo, a menos que usted decida hacer uso de nuestros ADO estratégicos, en caso que Puertto o cualquiera de sus
  filiales, incluyendo Lugisa apareciere listado en cualquier documentación de exportación, Puertto se reserva el
  derecho a negarse a procesar las unidades contempladas en los documentos de exportación y cualquier costo valorado a
  cargo de o incurrido por Puertto será cobrado a su CB, TC, deducido de su liquidación de pagos y saldos disponibles
  pagaderos a usted o por cualquier otro método que elijamos, de forma total o parcial hasta cubrir los valores
  generados a Puertto.
</p>
<h4 class="text-subtitle">3.2.3. Productos gestionados por SLP al cliente</h4>
<p class="text-parrafo">Cuando usted hace uso de nuestro SLP no necesariamente debe hacer uso del SIP, es decir que
  usted no usa nuestras bodegas, sistemas de empaque ni distribución, pero si de la entrega de sus productos una vez que
  han sido vendidos a los clientes a través de la página de Puertto y sus filiales, las condiciones de este servicio se
  describen en sus políticas aplicables, de cualquier manera, recuerde que usted es el único responsable de la
  publicación de sus productos en dicho página web, así como, de la información general y específica de los mismos, con
  lo antes expuesto, usted será el responsable de mantener en sus propias instalaciones o bodegas el inventario exponga
  y que haya vendido, y nosotros somos a través de Puerto y nuestro SLP, los encargados del envío, iniciando desde la
  recolección de los productos a sus instalaciones y posterior entrega al cliente en el destino y dirección declarada
  por el mismo, ante lo expuesto, usted acepta cumplir con las siguientes condiciones y nos asegura que cuando ha
  vendido un producto a través de Puertto o cualquiera de sus filiales en las que aplique el SLP, usted (a) asegura y se
  hace responsable que todos los productos están aptos para su comercialización; (b) asegura y se hace responsable que
  el producto a despachar cumple exactamente con las mismas condiciones generales y específicas del mostrado y exhibido
  en dicho página web, por lo cual, usted es el único responsable de las incongruencias y podríamos desistir y negarnos
  a llevar a cabo la recolección y entrega si se incumple esta condición; (c) asegura y se hace responsable que todos
  los productos cumplen con los requisitos mostrados y exhibidos en la página de Puertto, esto incluye de etiquetado y
  otros requisitos de Puertto, en el caso de empaquetado o etiquetado incorrecto, por lo cual, usted es el único
  responsable de las incongruencias y podríamos desistir y negarnos a llevar a cabo el despacho si se incumple esta
  condición; (d) asegura y se hace responsable que tendrá listo el producto, paquete o unidad para ser recogida por
  Puertto o las compañías de mensajería con las que Puertto trabaje en alianza y posterior entrega al cliente; (e)
  asegura y se hace responsable que los productos están correctamente embalados y protegidos contra los daños y el
  deterioro durante su transporte y almacenaje; (f) asegura y se hace responsable que entrega y entregará solo los
  productos ofrecidos y vendidos en Puertto, y no agregará ningún otro elemento no contemplado en su publicación, que
  pudiere ser ilegal, obsceno, peligroso o cualquier otro que atente contra las personas, los bienes, el medio ambiente,
  o de cualquier otra manera se considere prohibida por la ley, la moral, la ética y demás afines, lo expuesto en esta
  condición, en conformidad con las políticas de Puertto, exime de responsabilidad de igual manera a Puertto, como a las
  compañías de mensajería con las que Puertto trabaje en alianza; (g) usted es el único responsable de calcular el costo
  de envío que se cobrará basado en el peso, tamaño y otros requerimientos necesarios, en función de los costos
  estimados de envío que nosotros podríamos proporcionar a usted, de cualquier manera, ya sea que usted asuma el costo
  de envío o se lo cobre a los clientes, usted reconoce y acepta que si los costos de envío reales varían de las
  calculadas y publicadas por usted, resultará que (g.1) generemos cargos a usted mayores a los costos de envío
  estimados, en caso que se determine que dicha unidad pesa más que el peso indicado por usted; o (g.2) el monto
  completo de los costos de envío estimados podrá ser cobrado a usted, aun cuando determinemos que el peso es menor al
  peso indicado por usted.
</p>
<p class="text-parrafo">
  La propiedad y riesgo de pérdida o daños de cualquier unidad enviada utilizando nuestro SLP, los conservará usted y el
  que nosotros gestionemos sus productos a través de nuestro SLP, no generará ninguna responsabilidad de cualquier tipo
  para nosotros en relación con cualquier daño, pérdida incurridos durante el envío, incluso la responsabilidad del
  retraso y las repercusiones que este evento conlleve en caso que usted demore la entrega a Puertto o las compañías de
  mensajería con las que Puertto trabaje en alianza, en caso de que su entrega sea oportuna y se dieren demoras en la
  entrega, entonces será responsabilidad de Puertto y de las compañías de mensajería con las que trabaje en alianza.
  Usted autoriza a Puertto y de las compañías de mensajería con las que trabaje en alianza, proporcionar todo tipo de
  información de rastreo de los envíos a beneficio de Puertto y el cliente.
</p>
<p class="text-parrafo">
  Siempre que Puertto lo permita y se encuentre habilitada la capacidad de venta internacional de productos, podremos
  hacernos cargo de sus despachos a destinos internacionales, y posterior manejo y entrega al cliente en dichos
  destinos, sin embargo, usted se listará como el Exportador/Consignatario y utilizará a un agente aduanero o compañía
  de correo habilitada para este menester, a menos que usted decida hacer uso de nuestros ADO estratégicos, en caso que
  Puertto o cualquiera de sus filiales, incluyendo Lugisa apareciere listado en cualquier documentación de exportación,
  Puertto se reserva el derecho a negarse a procesar las unidades contempladas en los documentos de exportación y
  cualquier costo valorado a cargo de o incurrido por Puertto será cobrado a su CB, TC, deducido de su liquidación de
  pagos y saldos disponibles pagaderos a usted o por cualquier otro método que elijamos, de forma total o parcial hasta
  cubrir los valores generados a Puertto.
</p>
<h4 class="text-subtitle">3.2.4. Productos gestionados por el ADN vendedor</h4>
<p class="text-parrafo">Cuando usted vende a través de nuestra página de comercio electrónico Puertto y sus filiales,
  acepta de forma tácita que Puertto o las compañías de mensajería y transporte con las que trabaje en alianza es el
  encargado del traslado de sus productos a los distintos destinos, ya sea al cliente final como al Centros de logística
  de Puertto, sin embargo, ya sea por decisión de Puertto o por una solicitud suya, usted puede solicitar eludir esta
  responsabilidad y hacerse cargo de sus costos de envío de forma directa, siempre que se cumplan con las Políticas de
  envío de Puertto y demás políticas asociadas del producto, en cuyo caso, usted deberá informar a través de nuestra
  página, los valores asociados a la entrega del producto que ofrece o incluirlo en el valor del mismo, de cualquier
  manera, usted debe detallar dicha condición, independientemente si el producto es nuevo o de segunda mano. Puertto
  puede cambiar su postura en el futuro y solicitarle a usted que se rija a la condición que sea Puertto o las compañías
  de mensajería y transporte con las que trabaje en alianza, sea el encargado de los despachos de los productos vendidos
  a través de la página de Puertto y sus filiales a los distintos destinos, por lo que si quiere mantener su condición
  de autogestión de logística, deberá llenar una nueva solicitud cuantas veces lo requiramos, de cualquier manera, usted
  podrá hacer su gestión de entrega por si solo, siempre que lo autoricemos, de otra manera, se considerará un
  incumplimiento al presente Acuerdo.
</p>
<p class="text-parrafo">
  Cuando hace uso de esta opción, es decir, que usted no usa nuestras bodegas, sistemas de empaque, distribución ni
  entrega de sus productos una vez que han sido vendidos a los clientes a través de la página de Puertto y sus filiales,
  usted (a) asegura y se hace responsable que todos los productos están aptos para su comercialización; (b) asegura y se
  hace responsable que el producto a despachar cumple exactamente con las mismas condiciones generales y específicas del
  mostrado y exhibido en dicha página web, por lo cual, usted es el único responsable de las incongruencias y podríamos
  desistir y negar el pago de los mismos en los casos que así se detecten o usted haga el reemplazo del producto por el
  acordado en la página de Puertto o sus filiales; (c) asegura y se hace responsable que todos los productos cumplen con
  los requisitos mostrados y exhibidos en la página web de Puertto, esto incluye de etiquetado y otros requisitos de
  Puertto, en el caso de empaquetado o etiquetado incorrecto, por lo cual, usted es el único responsable de las
  incongruencias y podríamos desistir y negar el pago de los mismos en los casos que así se detecten o usted haga el
  reemplazo del producto por el acordado en la página de Puertto o sus filiales; (d) asegura y se hace responsable que
  los productos están correctamente embalados y protegidos contra los daños y el deterioro durante su transporte y
  almacenaje; (e) asegura y se hace único responsable que entrega y entregará solo los productos ofrecidos y vendidos en
  Puertto, y no agregará ningún otro elemento no contemplado en su publicación, que pudiere ser ilegal, obsceno,
  peligroso o cualquier otro que atente contra las personas, los bienes, el medio ambiente, o de cualquier otra manera
  se considere prohibida por la ley, la moral, la ética y demás afines, lo expuesto en esta condición en conformidad con
  las políticas de Puertto, exime de responsabilidad a Puertto y a todos sus miembros; (f) usted es el único responsable
  de calcular el costo de envío que se cobrará basado en el peso, tamaño y otros requerimientos necesarios, en función
  de los costos de envío estimados que nosotros podríamos proporcionar a usted, de cualquier manera, ya sea que usted
  asuma el costo de envío o se lo cobre a los clientes, usted reconoce y acepta que si los costos de envío reales varían
  de las calculadas y publicadas por usted, resultará que (f.1) no generará cargos adicionales al cliente una vez
  aceptada la condición de envío; (f.2) si el costo de envío fuere inferior al pactado usted reembolsará el valor en la
  medida de lo posible, en caso contrario, deberá notificarnos esa condición y seremos nosotros quien a nombre suyo
  reembolsaremos ese valor al cliente, y usted lo cancelara mediante su CB, TC, deducido de su liquidación de pagos y
  saldos disponibles pagaderos a usted o por cualquier otro método que elijamos, de forma total o parcial hasta cubrir
  los valores generados a Puertto, (f.3) si de dieren múltiples envíos generados por una mala planificación de su
  inventario, así como, por cambios de productos o demás similares, usted no podrá cobrar esos costos relacionados a
  Puertto ni al cliente, y deberá asumir dichos costes.</p>
<p class="text-parrafo">
  Recuerde que usted es el único responsable de la publicación de sus productos en dicha página web, así como, de la
  información general y específica de los mismos, con lo antes expuesto, usted será el responsable de mantener en sus
  propias instalaciones o bodegas el inventario exponga, así como el encargado de hacer los envíos al cliente una vez
  que se hayan vendido, y deberá confirmarnos de forma clara, precisa y veraz que el cliente ha recibido el paquete y
  esta satisfecho con el producto, de esta manera confirmar la finalización de la operación comercial y posterior pago
  de Puertto a sus haberes con usted; el despacho o envío de sus productos podrán ser ejecutados por usted o por la
  empresa de mensajería que usted proponga, siempre que la calidad del servicio no se encuentre por debajo de la calidad
  del servicio con el que trabaja Puertto. Usted puede condensar el envío de sus productos en cartones combinados con
  otros productos, con el objetivo de bajar los costes relacionados al transporte en la entrega del producto, esto lo
  puede hacer Puertto siempre que el cliente lo solicite y se cumpla con el literal (d) y (e) del presente punto.
</p>
<p class="text-parrafo">
  Usted es el único responsable sobre la propiedad y riesgo de pérdida o daños de cualquier unidad enviada cuando usted
  haga uso de la autogestión de envíos al cliente, como tal, no se generará ninguna responsabilidad de cualquier tipo
  para nosotros en relación con cualquier daño, pérdida incurridos durante el envío, incluso la responsabilidad del
  retraso y las repercusiones que este evento conlleve en caso que usted demore la entrega al cliente, cuando usted haga
  el envío por autogestión, usted autoriza a Puertto, proporcionar todo tipo de información de rastreo de los envíos a
  beneficio de Puertto y el cliente.</p>
<h4 class="text-subtitle">3.2.5. Productos gestionados por SIP-SAP de Puertto </h4>
<p class="text-parrafo">El SAP es parte del SIP, este servicio proporciona un servicio de almacenamiento, siempre que su
  inventario sean aplicable una vez que hayamos confirmado la recepción de su inventario a nuestros centros de logística
  de Puertto, y como tal (a) llevamos un registro electrónico de su inventario, mediante el cual podrá hacer un
  seguimiento de las existencias e identificar su saldo, tanto en nuestra central como en cada centro logístico; (b)
  categorizamos y clasificamos el inventario de nuestros ADN, esto no significa que los marquemos físicamente o los
  separemos de otras unidades de inventario, pues podemos mezclar productos de distintos proveedores dentro de la misma
  clasificación del inventario siempre que sus condiciones sean exactamente las mismas, en caso contrario, les damos su
  propia categorización y clasificación; (c) para optimizar nuestro servicio de atención ágil al cliente y asegurar una
  sana distribución del inventario, basándonos en tendencias de consumo, incidencias de mercado y demás variables, en
  Puertto podremos cambiar la ubicación del inventario en distintos centros logísticos; (d) los productos que son
  almacenados en los centros logísticos de Puertto como resultado de la contratación del SAP, están asegurados por
  Puertto y en caso de producirse un daño o pérdida en alguna de las unidades de su inventario durante el
  almacenamiento, Puertto compensará a sus propietarios en base a los acuerdos y políticas sean aplicables; (e) la
  compensación de Puertto al ADN que hace uso del SAP, en caso de producirse un daño o pérdida en alguna de las unidades
  de su inventario durante el almacenamiento, usted acepta que constituye la única obligación de Puertto con respecto a
  los deberes y obligaciones que nosotros o nuestros agentes o representantes podamos tener, sin otro derecho o
  alternativa relativo al evento, aplicando lo expuesto en el punto tres, tres, dos (3.3.2) de este documento; (f) usted
  como el ADN acepta y acuerda que Puertto no lo compensará en resto de los casos, salvo los descritos en el artículo
  (e) del presente punto, así como, acepta ser el único responsable de la pérdida o los daños ocasionados a las unidades
  de su inventario; (g) La confirmación de recepción de la entrega de los productos que hayan sido vendidos por Puertto
  y entregados por nuestra parte, (g.1) no implica ni es indicador que el producto ha sido entregada libre de pérdidas o
  daños, ni que las pérdidas o daños ocasionados al mismo que se descubran posteriormente ocurrieran después de la
  confirmación de la recepción de la entrega, (g.2) no implica ni es indicador que hemos recibido realmente sus
  productos de acuerdo a las especificaciones dadas por usted para dicho envío, (g.3) no implica que Puertto renuncie,
  se limite o se renuncie correspondientes o en virtud del presente acuerdo, (g.4) nos reservamos el derecho de
  modificar, restringir la programación y limitar el volumen de su inventario entregado y almacenado en nuestros centros
  logísticos, usted acepta acatar lo dispuesto en este punto.
</p>
<p class="text-parrafo">
  Puerto podría enviar, mover, trasladar, reubicar, colocar, transportar o cualquier otra acción similar su inventario
  asignado a nuestro Centros de logística de Puertto SAP, dentro y fuera del mismo, con el objetivo de cuidar, asegurar,
  precautelar, distribuir o redistribuir su inventario como mejor lo supongamos, de esta manera alcanzar mayor
  eficiencia y eficacia en la distribución y entrega final a los clientes que adquieran dichos bienes a través de la
  página de Puertto y sus filiales, dicha acción podrá ser realizada por Puertto o las compañías de mensajería y
  transporte con las que trabaje en alianza.</p>
<h3 class="text-subtitle">3.3. Devoluciones y disposición</h3>
<h4 class="text-subtitle">3.3.1. Devoluciones de productos realizadas por clientes</h4>
<p class="text-parrafo">Los clientes tienen derechos de reclamar y ser compensados si se sienten inconformes con el
  producto o servicio contratado, salvo que hayan sido notificados de todos los condicionantes previo a su adquisición y
  estos sean evidenciables, por lo que, si un producto no está sujeto a cambios, devoluciones o similares, es importante
  que usted como ADN vendedor lo haya especificado de forma clara en la descripción de su producto. De forma general
  usted como ADN vendedor es y se hará responsable de sus productos y sus publicaciones, como tal, aceptará y procesará
  las devoluciones de sus productos, así como, efectuar el reembolso, los cambios o el envío de un nuevo producto de
  forma oportuna, siempre que se den condiciones donde se evidencie un causal justificado que es o ha sido
  responsabilidad de usted como ADN vendedor de acuerdo a las políticas de Puertto, si usted cuenta con el SIP y el
  error se produjo en el Centro de logística de Puertto, usted no será responsable de ninguna gestión relativa a este
  tema, sin embargo, si Puertto ha generado la entrega desde Centro de logística de Puertto de forma correcta y el
  problema responde a una mala descripción del producto de cualquier forma posible, le corresponderá a usted como el ADN
  vendedor ser el responsable del cumplimiento de las acciones relativas a este tema, y usted acepta y es completamente
  responsable de procesar las devoluciones de sus productos sin perjuicio alguno al cliente, así como, efectuar el
  reembolso, los cambios o el envío de un nuevo producto de forma oportuna.
</p>
<p class="text-parrafo">
  En los casos de devoluciones aceptadas por Puertto de sus productos que se gestionan a través del SIP, Puertto se hará
  cargo de ir a recoger el mismo donde el cliente para su reposición, reembolso, cambio o envío de un nuevo producto,
  podemos determinar si retirar o no el producto en conflicto sin que esto genere perjuicio sobre las acciones de
  reposición, reembolso o envío de uno nuevo, así como, perjuicios a usted como ADN vendedor de Puertto, por otra parte,
  en los casos de devoluciones aceptadas por Puertto de sus productos que se gestionan a través del SLP que no incluyan
  el SAP, usted se hará responsable de los costos asociados por el envío de sus productos por parte del cliente al
  destino que usted determine, de igual manera, usted podrá recoger dicho producto de forma personal si así lo acepta el
  cliente y usted correrá con los costos asociados de dicha tarea, así como el nuevo envío del producto en reposición al
  previo en disputa, ya sea usando el SLP o el servicio de otra empresa equivalente de mensajería o transporte; usted
  como propietario del producto en disputa puede determinar si retirar o no el mismo sin que esto genere perjuicio sobre
  las acciones de reposición, reembolso o envío de un nuevo producto, así como, perjuicios a Puertto de ninguna manera.
</p>
<p class="text-parrafo">
  En los casos de devoluciones aceptadas por Puertto de sus productos que se gestionan a través del SIP, nosotros
  recibimos y procesamos las devoluciones de las productos gestionados por Puertto mediante el SIP, registramos los
  productos devueltos correctamente y los reintegramos a su inventario físico y digital, de igual forma, siempre que se
  cumpla con sus haberes relativos al almacenamiento de sus productos, cuando usted nos lo indique, devolveremos o nos
  desharemos de los que nos hayan sido devueltos por un cliente y que determinemos que son aptos para volver a
  comercializar, en cuyo caso, nos hacemos responsables de compensarlo a usted por el producto en disputa por hasta el
  50% de su valor registrado después de su avalúo según su estado y condición al momento del evento, los gastos
  administrativos, financieros, operativos y de venta.
</p>
<p class="text-parrafo">
  Nosotros podremos hacernos cargo de retirar el producto en los casos de devoluciones aceptadas por Puertto de aquellos
  que se gestionan a través del SLP o por otros medios aceptados por nosotros, el cual deberá ser pagado por usted como
  ADN de Puertto y dueño del producto en disputa, de igual manera, usted nos podrá indicar que la devolvamos a su de
  origen en sus instalaciones o nos deshagamos de estos, de ser así, usted se hará cargo de los costes relativos a este
  menester. En todos los casos, si usted no responde a nuestros comunicados o no realiza ninguna indicación, nos dará de
  forma intrínseca y tácita, la potestad de deshacernos de los productos, sin perjuicio a Puertto, en función de lo
  establecido en este punto. Salvo que se den casos de devoluciones aceptadas de sus productos por parte de Puertto y
  sea entera responsabilidad nuestra, usted como ADN de Puertto y vendedor, será responsable de todas las obligaciones
  de pago del IVA, otros impuestos y costes administrativos y financieros asociados que deriven de cualquier devolución.
</p>
<h4 class="text-subtitle">3.3.2. Devoluciones de productos y disposición de inventario por parte de Puertto</h4>
<p class="text-parrafo">Cuando sus productos se encuentren en los Centros de logística de Puertto por la causa que
  fuera, usted podrá en cualquier momento solicitar que se le devuelva su inventario o que nosotros nos deshagamos del
  mismo. Para el retiro de su inventario parcial o total usted debe notificarnos con antelación su deseo o intención de
  retirarlo, además de colaborar con nosotros y ayudarnos en lo relativo a dicho menester, incluyendo el inicio de los
  procedimientos de devolución de los productos a usted de conformidad con nuestros procesos estándar, usted será
  responsable y deberá cubrir los costos y/o gastos que usted, nosotros o alguna de las sociedades de su grupo o el
  nuestro genere en relación con el retiro o intención del retiro de alguno de sus productos, esto incluye el coste de
  devolución, almacenamiento, reparación, liquidación o entrega a usted o a alguno de los ADN vendedores de estos
  productos.


</p>
<p class="text-parrafo">
  Con previa notificación, nosotros podremos devolverle cualquier producto incluyendo los no aptos, o a la terminación
  de las presentes condiciones de servicio o cualquier otra asociada con usted y a estos temas. Los productos devueltos
  se enviarán a la dirección de envío que usted haya designado de acuerdo con Puertto en relación a este acuerdo o
  cualquier otro, incluyendo las políticas del servicio acordado, no obstante, si, (a) el domicilio que tengamos de
  usted, designado para el envío no se encuentra actualizado o es incorrecto; (b) usted no proporcionó a solicitud
  nuestra, ni confirmó ningún domicilio designado para el envío en el, o; (c) no podemos hacer los arreglos necesarios
  para que usted pague por el envío de devolución, se considerará que usted ha abandonado la(s) Unidad(es) y podremos
  optar por disponer de ellas según Puertto lo considere apropiado, basándonos en el inventario podremos venderlo,
  reciclarlo, donarlo o destruirlo y retendremos cualquier compensación que podamos recibir de la enajenación.</p>
<p class="text-parrafo">
  Usted acepta que desde los Centros de logísticas de Puertto, podremos deshacernos de las productos que de acuerdo a
  Puertto no se encuentren aptos para la comercialización, en el caso de que determinemos que alguno de ellos constituya
  un riesgo a la seguridad, la salud o la responsabilidad de Puertto, nuestros empleados o terceros, usted haya
  participado en actividades fraudulentas, ilegales o cualquier otro fuera del marco legal, en función de nuestro
  acuerdo de seguridad con nuestro ADN el mismo que se extiende a su estructura empresarial, así como, cuando tengamos
  motivos para terminar su uso de los servicios que usted tiene contratado con Puertto, con efecto inmediato de
  conformidad con periodo de validez y terminación del acuerdo general de Puertto y estamos expuestos a responsabilidad
  frente a un tercero; si usted no nos ordena que devolvamos o nos deshagamos de sus productos considerados por Puertto
  como no aptos en un plazo no mayor a de treinta (30) días o las variaciones del plazo que se especifiquen en las
  políticas de Puertto, siempre que no sean mayores a la expresada en este documento; o simplemente porque se ha sido
  cerrado, suspendido o terminado su cuenta de ADN vendedor. De cualquier manera, usted acepta que nos reembolsará por
  los daños sufridos, incluyendo los gastos en los que podamos incurrir en relación con los productos que Puertto no
  considere aptos, en un periodo oportuno no mayor a treinta días posterior a la disposición de los mismos.</p>
<p class="text-parrafo">
  Finalmente usted nos podrá comunicar y solicitar en cualquier momento que nos deshagamos de sus productos, en cuyo
  caso, Puertto podrá deshacerse de estos como mejor considere, con base en el inventario podrá ser vendido, reciclado,
  donado o destruido, esta solicitud conlleva el traspaso o cesión de propiedad de los productos a Puertto, así como a
  una organización benéfica u otras terceras partes que Puertto elija, de cualquier manera, lo expresado en este párrafo
  determina que no existirán gastos o costos a Puertto o terceras partes, que esta transferencia de dominio se da de
  forma gratuita y libre de toda carga; declara y acepta que usted como ADN de Puertto no interpondrá ninguna forma de
  reclamación, garantía real u otro gravamen en la medida en que sea necesario para deshacernos de dichos productos, así
  como, de los ingresos que nosotros podríamos recibir al deshacernos de los mismos. Puertto no se hace o ni se hará
  responsable de los procesos administrativos, operativos, logístico y sus costos o gastos asociados por productos que
  deban ser exportados a otros países, independientemente de donde se encuentre el Centro de logística de Puertto.</p>
<h3 class="text-subtitle">3.4. Servicio y atención al cliente</h3>
<p class="text-parrafo">En Puertto cuando usted vende con nosotros y no estamos obligados a prestar un servicio de
  Atención al cliente además de hacerle llegar las consultas de los clientes, usted acepta de forma intrínseca que
  podremos hacer público un volumen razonable de información sobre el estado de la gestión de sus productos, en la
  medida en que dicha información esté a nuestro alcance y posibilidad de ejecutar. De esta manera, usted garantiza el
  cumplimiento de todas sus políticas y mensajes a sus clientes en relación al envío de sus productos, así como de
  nuestras políticas y requisitos relativas a los métodos de envío, devoluciones y el servicio y atención al cliente;
  usted exhibirá de manera visible en su(s) página(s), en correos electrónicos u otros medios o comunicaciones cualquier
  divulgación, mensaje, aviso o políticas específicos que requiramos, de la misma manera usted para efecto de garantizar
  una buena comunicación y atención al cliente de alta calidad, usted nos autorizará la distribución de direcciones de
  correos electrónicos, números de teléfono fijo si tuviere y móvil de forma obligatoria, para la distribución de todos
  los avisos legales, los mensajes, las notificaciones y las políticas que nosotros requiramos.
</p>
<p class="text-parrafo">
  Cuando usted en su posición de ADN de Puertto haga uso del SIP, nos hace responsables de todas las tareas relativas al
  servicio y atención al cliente, incluyendo el empaquetado, la gestión y el envío, además de contar con nuestro
  servicio y respaldo en los casos más críticos y aunque menos probables, tales como las devoluciones efectuadas por los
  clientes, reembolsos y ajustes en los pagos por costos de envío, y nosotros determinaremos si el cliente recibirá o no
  el reembolso ajuste o reemplazo por cualquier por cualquier producto gestiona por Puertto, salvo que, nosotros le
  notifiquemos oportunamente en caso de usted ser responsable por el reembolso a un cliente, en cuyo caso, a discreción
  de Puertto, podremos actuar en su nombre, pero requeriremos de que usted nos reembolse dichos valores asociados a los
  temas mencionados cuando nosotros determinemos que usted es responsable de conformidad con el presente Acuerdo,
  condiciones y las políticas de Puertto; en caso que usted no esté de acuerdo con nuestros hallazgos y como tal nuestra
  decisión, podrá apelar dentro de los 30 (treinta) días siguientes a la fecha en que le notifiquemos, sin perjuicio de
  su derecho de solicitarla devolución de las Unidades en términos de cómo se detalla en el punto tres, tres, uno
  (3.3.1), donde dichas devoluciones se hayan generado a partir de un error de exposición de sus productos en la página
  de Puertto y tenga incongruencias con el que hemos despachado, en cuyo caso, las acciones consecuentes correrán por
  cuenta de usted como el ADN vendedor de Puertto.
</p>
<p class="text-parrafo">
  Solo en los casos que usted haga uso del SIP, en el supuesto de presentarse eventos relativos a entregas de productos
  incorrectos o dañados, o darse el caso de perdidas, robos o que se encuentren desaparecidos, podremos, (a) enviar el
  reemplazo al cliente y le reembolsaremos a usted el valor asociado, o; (b) procesaremos un reembolso al cliente y le
  reembolsaremos el producto en base a lo dispuesto en nuestras políticas del Servicio Integral de Puertto, todos los
  reembolsos detallados en este párrafo serán procesado de conformidad con lo expuesto en el presente Acuerdo y sus
  mejores aplicaciones a beneficio de Puertto, no obstante, nosotros tendremos derecho a retener los cargos aplicables
  pagaderos a nosotros de conformidad con lo expuesto en este Acuerdo y sus mejores aplicaciones a beneficio de Puertto,
  en caso contrario a hacer uso del SIP y de darse el supuesto enunciado en este párrafo, usted será responsable de
  todos los costos asociados con cualquier reemplazo o devolución.</p>
<p class="text-parrafo">
  En caso que Puertto proporcione un reemplazo o un reembolso a algún cliente como se indica el supuesto de presentarse
  eventos relativos a entregas de productos incorrectos o dañados, o darse el caso de perdidas, robos o que se
  encuentren desaparecidos, cuando usted haga uso del SIP, y el cliente nos devuelve la unidad original, nosotros
  tendremos derecho de disponer de ella, de conformidad con el punto tres, tres, dos (3.3.2) del presente Acuerdo, pero
  si consideramos que el producto se encuentra en perfecto estado y puede ser vendido otra vez, podremos, a nuestra
  discreción, volver a colocar dicha unidad en su inventario, de conformidad con el punto tres, tres, uno (3.3.1) del
  presente Acuerdo, en cuyo caso, usted nos reembolsará el valor de reemplazo correspondiente del producto devuelto,
  todas unidades de reemplazo enviadas a nosotros en virtud de las presentes condiciones se considerará como un pedido y
  venta de tal unidad por parte suya al cliente, y se le tratará como tal, a través de la página de Puertto o el
  servicio, paquete o programa correspondiente, sujeto y de conformidad con los términos y condiciones del presente
  Acuerdo y todo su contenido.</p>
<h3 class="text-subtitle">3.5. Compensación y pagos a Puertto por servicios de logística</h3>
<h4 class="text-subtitle">3.5.1. Logística y almacenamiento de Puertto</h4>
<p class="text-parrafo">Usted nos pagará los cargos correspondientes que se describen en el Catálogo SIP, el corte de su
  balance de pagos y valores para generar los cargos por almacenamiento de Puertto dentro de nuestras instalaciones o
  las que designemos para dicho menester, se realizan todos los días a la media noche, independientemente de la hora a
  la que ingresen sus productos a nuestras bodegas. </p>
<h4 class="text-subtitle">3.5.2. Envíos de regalo</h4>
<p class="text-parrafo">Nosotros determinaremos los montos que se le cobrarán al cliente por los servicios de envoltura
  de regalo y envío del producto procesado y nosotros se los reportaremos a usted.
</p>
<h4 class="text-subtitle">3.5.3. Paquetes de envíos gratis</h4>
<p class="text-parrafo">Usted puede hacer uso de nuestro servicio de “Envíos gratis desde Puertto”, aunque usted debe
  considerar que dicho paquete exige que usted esté suscrito a nuestro SIP, en cuyo caso, usted nos pagará un valor
  equivalente al envío del paquete al cliente serán cargados a su cuenta y deducidos de los pagos que Puertto le haga a
  usted, de esa manera, se expondrá como una promoción de usted hacia los clientes, esto no incluye los gastos generados
  en función de lo expuesto en el punto tres, dos, uno (3.2.1) del presente Acuerdo.</p>
<h4 class="text-subtitle">3.5.4. Otras compensaciones</h4>
<p class="text-parrafo">Puertto podrá conservar una parte o la totalidad de los ingresos provenientes de todas las
  unidades o productos sobre las cuales tengamos derecho a disponer de conformidad con el punto tres, tres, dos (3.3.2)
  del presente Acuerdo o cuando la propiedad sea transferida, incluyendo las unidades devueltas, dañadas o abandonadas y
  usted no gozará de ningún derecho de garantía, gravamen ni ningún otro derecho a los ingresos que recibamos en
  relación con la venta, logística y/o envío de dichas unidades.</p>
<h3 class="text-subtitle">3.6. Indemnización</h3>
<p class="text-parrafo">Además de las obligaciones descritas en el punto uno, seis (1.6) del presente Acuerdo, que en
  materia de logística, son el servicio de logística de Puertto, servicio integral de Puertto, servicio de
  almacenamiento de Puertto, usted acuerda además de lo expuesto previamente en este documento, a indemnizar, defender y
  mantener a salvo tanto a nosotros como a nuestras Filiales y nuestros funcionarios, administradores, empleados,
  apoderados y representantes y a los de nuestras Filiales, respectivamente, en contra de cualquier Reclamación que
  surja de o relacionada con el punto tres, dos, cinco (3.2.5) del presente Acuerdo incluyendo cualquier daño personal,
  muerte o daño a la propiedad, incluyendo cualquier daño personal, muerte o daño a la propiedad, así como, cualquiera
  de sus impuestos o el cobro, pago o falta de cobro o pago de los mismos; y, según sea el caso, cualquier impuesto a
  las ventas, uso, valor agregado, propiedad de bienes, ingresos brutos, impuestos especiales, franquicias u otros
  impuestos o cargos generados por aduana, derechos o gravámenes similares, incluyendo penas, multas o intereses sobre
  cualquiera de los anteriores, impuestos por cualquier autoridad gubernamental o fiscal en relación con el envío de
  Productos dentro y fuera del territorio nacional.
</p>
<h3 class="text-subtitle">3.7. Exoneración</h3>
<p class="text-parrafo">Usted de forma personal y en nombre y representación de cualquier sucesor, subsidiarias,
  filiales, funcionarios, administradores, accionistas, empleados, cesionarios y cualquier otra persona física o moral
  que reclame por, o a través de ellos, en virtud de ellos o de común acuerdo con ellos de forma conjunta, exoneran de
  cualquiera y todos los reclamos, obligaciones, exigencias, causas de acción, demandas, daños, pérdidas, deudas o
  derechos de cualquier tipo o naturaleza, ya sean conocidos o desconocidos, sospechados o insospechados, absolutos o
  contingentes, devengados o no devengados, determinados o especulativos a Puertto y a cada una de nuestras Filiales y a
  cualquiera y todos nuestros predecesores, sucesores y Filiales, pasados y presentes, así como a cada uno de nuestros
  socios, funcionarios, administradores, accionistas, representantes, empleados, apoderados, mandatarios y cesionarios,
  pasados y presentes, y cada uno de ellos y todas las Personas que actúen por ellos, a través de ellos, en virtud de
  ellos o de común acuerdo con ellos de forma irrevocable y reconocen su plena y total satisfacción incondicional.</p>
<h3 class="text-subtitle">3.8. Aspectos fiscales</h3>
<p class="text-parrafo">Los productos que usted almacena en nuestros centros de logística, así como aquellos que se
  gestionen a través de ser SLP, SIP, SAP u otros que pudieren existir en el futuro, son suyos y como tal no generan
  obligaciones fiscales o tributarias a Puertto y por el contrario, pudieren generarle a usted, de tal manera usted es
  el único responsable de los impuestos, así como, de cualquier obligación de declaración de impuestos.
</p>
<p class="text-parrafo">
  Si se viera obligado al pago de impuestos de envío dentro del territorio nacional o al extranjero como resultado de
  los servicios que reste Puertto, usted será responsable del pago de los mismos y exonerará a Puertto de los mismos.
</p>
<h3 class="text-subtitle">3.9. Compromiso del asociado de negocios (ADN) con la logística de Puertto</h3>
<p class="text-parrafo">El ADN de Puertto debe y acuerda que, (a) usted es el propietario legal de sus productos y todos
  los derechos necesarios para distribuirlos y para actuar conforme a las presentes condiciones del SLP; (b) todas los
  productos que nos entregue serán nuevas o estarán en el estado que usted describa en la página de Puertto y un estado
  tal que permita su comercialización; (c) todos los productos, sus empaques y el embalaje, cumplirán con los requisitos
  de marcado, etiquetado y otros requisitos establecidos por la ley y el presente acuerdo, así como a otras políticas de
  Puertto; (d) ningún producto es o será producida o fabricada, en su totalidad o en parte, por mano de obra infantil o
  por mano de obra presa o sometida a trabajos forzados.</p>
