.link-luggo {
  color: #FF4401;
  cursor: pointer;
}
.color-link{
  color: #FF4401;
}
.btn-sesion {
  background-color: #fff;
  color: black;
  font-weight: 600;
  width: 170px;
}
* {
  overflow-y: hidden;
  overflow-x: hidden;
}
