<form (click)="submit();" [formGroup]="formB.formProducts">
  <input type="text" class="" formControlName="id_product" />
  <button [disabled]="formB.formProducts.invalid">Registrar</button>
  <div class="progress">
    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    </div>
  </div>
</form>
{{formB.formProducts.get('id_product')?.errors | json}}
{{formB.formProducts.get('id_product')?.errors?.['requiredPattern'] | json}}

{{formB.formProducts.get('id_product')?.errors?.['pattern'] | json}}
