<section class="container-fluid mt-4">
  <div class="row mx-auto">
    <div class="col-xl-6 col-xxl-6 col-md-6 col-12 col-sm-12">
      <ngx-charts-bar-vertical-2d [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient"
        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
        [legendTitle]="legendTitle" (select)="onSelect($event)" (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
      </ngx-charts-bar-vertical-2d>
      <button class="btn btn-outline-success" (click)="actualizarBarras();">Actualizar</button>
    </div>
    <div class="col-xl-6 col-xxl-6 col-md-6 col-12 col-sm-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th colspan="2" class="text-center">Series</th>
          </tr>
          <tr class="text-center">
            <th colspan="2"></th>
            <th scope="col">Marzo</th>
            <th scope="col">Abril</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productos of multi">
            <td>
              {{productos.codigo}}
            </td>
            <td>
              {{productos.name}}
            </td>
            <td *ngFor="let series of productos.series" class="text-center">
              {{series.value}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
