<section class="conatiner-fluid">
  <div class="row mx-auto">
    <!--------PRECIO DEL MES------------>
    <div class="col-xl-3 col-xxl-3 col-md-4 col-sm-6 col-12">
      <div class="card bg-success">
        <div class="col-xl-12 mt-4 mb-4">
          <div class="row">
            <div class="col-xl-3 col-xxl-3 col-md-3 col-sm-12 col-12 bg-white rounded-circle mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="62" height="80" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-navigation" _ngcontent-serverapp-c16="">
                <polygon points="3 11 22 2 13 21 11 13 3 11"></polygon>
              </svg>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 text-white">
              <p>EARNING</p>
              <p>PRECIO del mes</p>
            </div>
          </div>
        </div>
      </div>
      <!--------PRECIO DEL MES------------>
    </div>

    <!--------PRODUCTOS DEL MES------------>
    <div class="col-xl-3 col-xxl-3 col-md-4 col-sm-6 col-12">
      <div class="card bg-primary">
        <div class="col-xl-12 mt-4 mb-4">
          <div class="row">
            <div class="col-xl-3 col-xxl-3 col-md-3 col-sm-12 col-12 bg-white rounded-circle mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="80" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-box" _ngcontent-serverapp-c16="">
                <path
                  d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                </path>
                <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                <line x1="12" y1="22.08" x2="12" y2="12"></line>
              </svg>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 text-white">
              <p>Productos</p>
              <p>PRecio del mes</p>
            </div>
          </div>
        </div>
      </div>
      <!--------PRODUCTOS DEL MES------------>
    </div>
    <!--------MENSAJES DEL MES------------>

    <div class="col-xl-3 col-xxl-3 col-md-4 col-sm-6 col-12">
      <div class="card bg-warning">
        <div class="col-xl-12 mt-4 mb-4">
          <div class="row">
            <div class="col-xl-3 col-xxl-3 col-md-3 col-sm-12 col-12 bg-white rounded-circle mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="80" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-message-square" _ngcontent-serverapp-c16="">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
              </svg>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 text-white">
              <p>Mensajes</p>
              <p>PRECIO del mes</p>
            </div>
          </div>
        </div>
      </div>
      <!--------MENSAJES DEL MES------------>
    </div>
    <!--------NUEVOS VENDEDORES DEL MES------------>
    <div class="col-xl-3 col-xxl-3 col-md-4 col-sm-6 col-12 ">
      <div class="card bg-danger">
        <div class="col-xl-12  mt-4 mb-4">
          <div class="row">
            <div class="col-xl-3 col-xxl-3 col-md-3 col-12 col-sm-12 bg-white rounded-circle mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="80" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-users" _ngcontent-serverapp-c16="">
                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                <circle cx="9" cy="7" r="4"></circle>
                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
              </svg>
            </div>
            <div class="col-xl-6 col-xxl-6 col-md-6 col-6 text-white">
              <p>Vendedores</p>
              <p>PRECIO del mes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
